Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.2
    hooks:
      - id: check-go-version
        args: [ -v=go1.21 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.54.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

rebase
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

cmd/createcluster: fix pre-gen builder registrations (#2673)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_output.golden
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

fix builder registrations delays
  core/bcast/bcast.go
Due: run-go-tests, run-regexp, run-testutil

fix golangcilint
  core/bcast/bcast.go
Due: run-go-tests, run-regexp, run-testutil

fix get validators method to convert pubshares to pubkeys
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Revert "core: update interfaces (#2635)"
  cmd/createcluster.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/core.proto
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/parsigdb/memory.go
  core/proto.go
  core/proto_test.go
  core/sigagg/sigagg.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/types.go
  dkg/dkg.go
  eth2util/registration/registration_test.go
  go.mod
  go.sum
  testutil/integration/simnet_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

core/validatorapi: fix get validators method (#2680)
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

core/bcast: fix builder registrations delays (#2675)
  core/bcast/bcast.go
Due: run-go-tests, run-regexp, run-testutil

revert core interfaces
  cmd/createcluster.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/parsigdb/memory.go
  core/proto.go
  core/proto_test.go
  core/sigagg/sigagg.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/types.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

fix tests
  eth2util/registration/registration_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

Update license
  LICENSE
Due: none

remove keycast dkg
  cmd/createdkg.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/keycast.go
  dkg/keycast_internal_test.go
  dkg/share.go
  dkg/transport.go
Due: run-go-tests, run-regexp, run-testutil

revert protobuf field
  core/corepb/v1/core.pb.go
  core/corepb/v1/core.proto
  core/proto.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

cleanup
  LICENSE
Due: none

dkg: remove keycast dkg (#2684)
  cmd/createdkg.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/keycast.go
  dkg/keycast_internal_test.go
  dkg/share.go
  dkg/transport.go
Due: run-go-tests, run-regexp, run-testutil

core: revert core interfaces (#2682)
  cmd/createcluster.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/core.proto
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/parsigdb/memory.go
  core/proto.go
  core/proto_test.go
  core/sigagg/sigagg.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/types.go
  dkg/dkg.go
  eth2util/registration/registration_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

*: update license (#2683)
  LICENSE
Due: none

update publish lock timeout to 30s
  app/obolapi/api.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to v0.19-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

todo
  app/obolapi/api.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to v0.18-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

obolapi: update publish lock timeout to 30s (#2685)
  app/obolapi/api.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to `v0.19-dev` (#2686)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to v0.18-rc (#2687)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

testutil/genchangelog: generate logs for latest rc release
  app/version/version.go
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

*: cherry pick 2685 and 2673 (#2689)
  app/obolapi/api.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_output.golden
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

continue if signed beacon block not found
  app/eth2wrap/synthproposer.go
Due: run-go-tests, run-regexp, run-testutil

Update app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer.go
Due: run-go-tests, run-regexp, run-testutil

fix lighthouse validator
  testutil/compose/static/lighthouse/run.sh
Due: none

eth2wrap: fix synthetic block proposals (#2693)
  app/eth2wrap/synthproposer.go
  testutil/compose/static/lighthouse/run.sh
Due: run-go-tests, run-regexp, run-testutil

bump to go1.21.4
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: bump to go 1.21.4 (#2694)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

Update testutil/genchangelog/main.go
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

*: update to Go v1.21.4
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none
