Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

distinct nil errors and payload attest unit tests
  testutil/validatormock/payloadattest.go
  testutil/validatormock/payloadattest_test.go
Due: run-go-tests, run-regexp, run-testutil

e2e duty timing migration test
  testutil/integration/timing_test.go
Due: run-go-tests, run-testutil

fix durationcheck lint
  testutil/integration/timing_test.go
Due: run-go-tests, run-testutil

match production offset rounding, fix unparam lint
  testutil/integration/timing_test.go
  testutil/validatormock/payloadattest_test.go
Due: run-go-tests, run-testutil

trim test comments
  testutil/integration/timing_test.go
Due: run-go-tests, run-testutil

core: accept gloas versioned attestations
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/testdata/TestJSONSerialisation_VersionedAggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedAggregateAndProof.json.golden
  core/testdata/TestSSZSerialisation_VersionedAggregatedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedAggregateAndProof.ssz.golden
  core/tracker/inclusion.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

dutydb payload status index regression test
  core/dutydb/memory_test.go
Due: run-go-tests, run-testutil

gloas router tests, tidy error paths
  core/tracker/inclusion.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil: vmock payload attestation and simnet e2e (#4670)
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/integration/simnet_test.go
  testutil/integration/timing_test.go
  testutil/validatormock/component.go
  testutil/validatormock/payloadattest.go
  testutil/validatormock/payloadattest_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: optional committee index param
  core/fetcher/fetcher.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

core: accept gloas versioned attestations (#4671)
  core/dutydb/memory_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/testdata/TestJSONSerialisation_VersionedAggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedAggregateAndProof.json.golden
  core/testdata/TestSSZSerialisation_VersionedAggregatedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedAggregateAndProof.ssz.golden
  core/tracker/inclusion.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

own test function for attestation data route
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

align committee index comments with spec wording
  core/fetcher/fetcher.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: optional committee index param (#4672)
  core/fetcher/fetcher.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

fork-aware proposer duty deadline
  core/deadline.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil

fork-aware sse block lateness thresholds
  app/sse/listener.go
  app/sse/listener_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

quarter-slot sse head delay buckets
  app/sse/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

dedupe block lateness predicate
  app/sse/listener.go
Due: run-go-tests, run-regexp, run-testutil

bump go to 1.27
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  app/obolapi/exit_model_test.go
  cmd/feerecipientfetch_internal_test.go
  cmd/feerecipientlist_internal_test.go
  cmd/feerecipientsign_internal_test.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra_internal_test.go
  cmd/testmev_internal_test.go
  cmd/testvalidator_internal_test.go
  core/aggsigdb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/graffiti.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/router_internal_test.go
  dkg/dkg.go
  go.mod
  testutil/fuzz.go
  testutil/integration/infosync_test.go
  testutil/integration/ping_test.go
  testutil/obolapimock/deposit.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

bump cockroachdb/swiss for go1.27 support
  go.mod
  go.sum
Due: none

core/app: fork-aware slot fraction timings (#4676)
  app/sse/listener.go
  app/sse/listener_internal_test.go
  app/sse/metrics.go
  core/deadline.go
  core/deadline_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

ci: publish gloas docker image tag
  .github/workflows/build-push-deploy.yml
Due: none

p2p: add message size and concurrency metrics
  docs/metrics.md
  p2p/metrics.go
  p2p/metrics_internal_test.go
  p2p/receive.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: update inflight gauge under lock
  p2p/metrics.go
Due: run-go-tests, run-regexp, run-testutil

p2p: cleanup idle inflight keys, observe sent after close write
  p2p/metrics.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: consistent relay error handling, concurrency test
  p2p/metrics_internal_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: count direct-stream resets as read errors
  p2p/receive.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: observe received size before proto validation
  p2p/receive.go
Due: run-go-tests, run-regexp, run-testutil

p2p: named struct for inflight key
  p2p/metrics.go
Due: run-go-tests, run-regexp, run-testutil

dkg/pedersen: buffer bundle channels to avoid dropping early bundles
  dkg/pedersen/board.go
  dkg/pedersen/board_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

test response and justification bundle paths
  dkg/pedersen/board_internal_test.go
Due: run-go-tests, run-testutil

p2p: include peer name in send errors
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: retry transient p2p send failures during ceremonies
  dkg/bcast/client.go
  dkg/bcast/helpers.go
  dkg/bcast/impl_test.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/frostp2p.go
  dkg/pedersen/board.go
  dkg/pedersen/board_test.go
  p2p/sender.go
  p2p/sender_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

p2p: address copilot review on send retries
  dkg/bcast/impl_test.go
  docs/metrics.md
  p2p/metrics.go
  p2p/sender.go
  p2p/sender_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

dkg: add frost round 1 send retry test
  dkg/frostp2p_internal_test.go
Due: run-go-tests, run-testutil

dkg: apply 60s p2p send timeout to ceremony sends
  dkg/bcast/client.go
  dkg/bcast/impl_test.go
  dkg/exchanger.go
  dkg/frostp2p.go
  dkg/pedersen/board.go
Due: run-go-tests, run-regexp, run-testutil

dkg: increase ceremony send retries to 5
  dkg/bcast/helpers.go
  dkg/exchanger.go
  dkg/pedersen/board.go
Due: run-go-tests, run-regexp, run-testutil

p2p: bound send retries by the send timeout budget
  dkg/exchanger.go
  dkg/pedersen/board.go
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

p2p: bound stream creation by the send timeout budget
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

p2p: cap each send attempt at its slice of the timeout budget
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
