Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

core/scheduler: reorg flakey test
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

core/scheduler: reorg flakey test
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

core/scheduler: reorg flakey test (#3765)
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump golangci-lint
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

Fix linting
  .golangci.yml
  app/log/config.go
  cmd/testinfra.go
Due: run-go-tests, run-regexp, run-testutil

docs: replaced broken link intro (#3738)
  README.md
Due: none

Remove attestations and aggregations from inclusion checker
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/metrics.go
  core/tracker/tracker_internal_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Update broadcast delay to be based on duty trigger time
  core/bcast/bcast.go
  core/bcast/metrics.go
Due: run-go-tests, run-regexp, run-testutil

Update metrics.md
  docs/metrics.md
Due: none

more precise tar and remove
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

only delete after all compressed
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Update README.md
  README.md
Due: none

cmd: add zipped flag to create cluster (#3757)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Check for all attestations in a block
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

Cache state
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

Put attestations and aggregations under feature flag; check only block inclusion as default
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/bcast/bcast.go
  core/bcast/metrics.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/metrics.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  docs/metrics.md
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Fix metric reference
  docs/metrics.md
Due: none

chore: edited the license badge (#3766)
  README.md
Due: none

.github: fixed build-release-binaries.xml
  .github/workflows/build-release-binaries.yml
Due: none

*: fixed build-release-binaries.xml (#3770)
  .github/workflows/build-release-binaries.yml
Due: none

More changes to building commands
  .github/workflows/build-release-binaries.yml
Due: none

*: fixed build-release-binaries.xml (#3771)
  .github/workflows/build-release-binaries.yml
Due: none

*: changed golang image for arm64 build
  .github/workflows/build-release-binaries.yml
Due: none

*: changed golang image for arm64 build (#3772)
  .github/workflows/build-release-binaries.yml
Due: none

*: building arm64 on amd64 host
  .github/workflows/build-release-binaries.yml
Due: none

*: building arm64 on amd64 host (#3773)
  .github/workflows/build-release-binaries.yml
Due: none

*: check for attestation inclusion only under feature flag (#3740)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/bcast/bcast.go
  core/bcast/metrics.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/metrics.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  docs/metrics.md
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

*: more fixes to building bins script
  .github/workflows/build-release-binaries.yml
Due: none

fixed file end whitespace
  .github/workflows/build-release-binaries.yml
Due: none

Skip flakey test
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

*: more fixes to building bins script (#3774)
  .github/workflows/build-release-binaries.yml
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

*: added sudo for chmod
  .github/workflows/build-release-binaries.yml
Due: none

*: added sudo for chmod (#3776)
  .github/workflows/build-release-binaries.yml
Due: none

Change exit sign default epoch from 162304 to 194048
  app/obolapi/exit_test.go
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

*: set permissions to release script
  .github/workflows/build-release-binaries.yml
Due: none

cmd: change exit sign default epoch from 162304 to 194048 (#3785)
  app/obolapi/exit_test.go
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

fix flaky wait client initialize
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

*: set permissions to release script (#3786)
  .github/workflows/build-release-binaries.yml
Due: none

add longer proposal timeout logic behind feature set
  app/featureset/featureset.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

improve comments
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil
