Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Minor formatting fixes
  cmd/testbeacon.go
  cmd/version.go
Due: run-go-tests, run-regexp, run-testutil

Refactor utils package
  core/consensus/instance/instance_io.go
  core/consensus/instance/instance_io_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

Update golden files as lines changed
  app/log/testdata/TestCopyFields_json.golden
  app/log/testdata/TestCopyFields_logfmt.golden
  app/log/testdata/TestErrorWrapOther_console.golden
  app/log/testdata/TestErrorWrapOther_json.golden
  app/log/testdata/TestErrorWrapOther_logfmt.golden
  app/log/testdata/TestErrorWrap_console.golden
  app/log/testdata/TestErrorWrap_json.golden
  app/log/testdata/TestErrorWrap_logfmt.golden
  app/log/testdata/TestFilterDefault_json.golden
  app/log/testdata/TestFilterDefault_logfmt.golden
  app/log/testdata/TestFilterNone_json.golden
  app/log/testdata/TestFilterNone_logfmt.golden
  app/log/testdata/TestInstance.golden
  app/log/testdata/TestSentinelStack_console.golden
  app/log/testdata/TestSentinelStack_json.golden
  app/log/testdata/TestSentinelStack_logfmt.golden
Due: none

Delete partial exits
  app/obolapi/api.go
  app/obolapi/exit.go
  cmd/cmd.go
  cmd/exit_delete.go
  cmd/exit_delete_internal_test.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Remove content-type header when no content & linter
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/exit_delete.go
  cmd/exit_delete_internal_test.go
  core/fetcher/fetcher.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Change endpoint to Obol API
  app/obolapi/exit.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

core: make function comment match function name
  core/consensus/timer/roundtimer.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil

*: added cluster_merge.sh script
  scripts/README.md
  scripts/cluster_merge.sh
Due: none

add quic protocol support to charon node and relay
  app/app.go
  app/featureset/featureset.go
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/run.go
  docs/configuration.md
  eth2util/enr/enr.go
  p2p/bootnode.go
  p2p/config.go
  p2p/config_internal_test.go
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

remove code duplication
  app/app.go
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  dkg/dkg.go
  p2p/p2p.go
  p2p/peer_test.go
Due: run-go-tests, run-regexp, run-testutil

remove quic libp2p options
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

update tcpNode variables to p2pNode
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstop_string.go
  app/monitoringapi.go
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
  cmd/relay/p2p.go
  cmd/testpeers.go
  core/consensus/controller.go
  core/consensus/qbft/qbft.go
  core/parsigex/parsigex.go
  core/priority/component.go
  core/priority/prioritiser.go
  dkg/bcast/client.go
  dkg/bcast/impl.go
  dkg/bcast/server.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  dkg/frostp2p.go
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
  p2p/p2p.go
  p2p/ping.go
  p2p/receive.go
  p2p/relay.go
  p2p/sender.go
  testutil/helpers.go
  testutil/integration/infosync_test.go
  testutil/integration/ping_test.go
Due: run-go-tests, run-regexp, run-testutil

remove relay udp address requirement
  cmd/relay/p2p.go
Due: run-go-tests, run-regexp, run-testutil

add quic/udp tests
  cmd/relay/relay_internal_test.go
  p2p/errors_internal_test.go
  p2p/peer_test.go
  p2p/receive_test.go
  p2p/sender_test.go
  p2p/testdata/TestNamedAddr.golden
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

improve /enr handler
  cmd/relay/relay.go
Due: run-go-tests, run-regexp, run-testutil

add tcp as default and upgrade connections to quic when possible
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  cmd/relay/p2p.go
  p2p/p2p.go
  p2p/peer_test.go
Due: run-go-tests, run-regexp, run-testutil

add metrics to track protocol connections
  p2p/metrics.go
  p2p/p2p.go
  p2p/p2p_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

remove swarm no delay dial ranker
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

*: added cluster_merge.sh script
  scripts/cluster_merge.sh
Due: none

fix rebase issue
  p2p/sender_test.go
Due: run-go-tests, run-testutil

*: added cluster_merge.sh script
  scripts/README.md
  scripts/cluster_merge.sh
  scripts/node_merge.sh
Due: none

fix linting
  app/app.go
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/testpeers.go
  core/consensus/controller.go
  core/fetcher/fetcher.go
  core/priority/prioritiser.go
  docs/metrics.md
  p2p/bootnode.go
  p2p/config.go
  p2p/config_internal_test.go
  p2p/p2p.go
  p2p/receive_test.go
  p2p/sender_test.go
  testutil/helpers.go
  testutil/integration/ping_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Fixed after testing
  scripts/cluster_merge.sh
Due: none

Fixed after testing
  scripts/README.md
Due: none

Fixed CoPilot findings
  scripts/cluster_merge.sh
  scripts/node_merge.sh
Due: none

*: fixed compose tool and smoke test
  testutil/compose/docker-compose.template
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

Updated golden files
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: none

Fixed lighthouse version
  testutil/compose/static/lighthouse/Dockerfile
Due: none

Increased SmokeTest timeout
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

only upgrade to quic when direct tcp conn exists
  app/app.go
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Trying to disable teku vc for compose
  testutil/beaconmock/server.go
  testutil/beaconmock/static.json
  testutil/compose/config.go
  testutil/compose/smoke/smoke_test.go
  testutil/compose/testdata/TestDockerCompose_run_template.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
  testutil/compose/testdata/TestNewDefaultConfig.golden
Due: run-go-tests, run-regexp, run-testutil

Trying to disable teku vc for compose
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

*: removed addvalidators command
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  cmd/cmd.go
  cmd/createcluster_internal_test.go
  cmd/manifest_tools.go
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

*: fixed compose tool and smoke test (#3849)
  testutil/beaconmock/server.go
  testutil/beaconmock/static.json
  testutil/compose/config.go
  testutil/compose/docker-compose.template
  testutil/compose/smoke/smoke_test.go
  testutil/compose/static/lighthouse/Dockerfile
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_template.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
  testutil/compose/testdata/TestNewDefaultConfig.golden
Due: run-go-tests, run-regexp, run-testutil

*: removed addvalidators command (#3850)
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  cmd/cmd.go
  cmd/createcluster_internal_test.go
  cmd/manifest_tools.go
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

core: make function comment match function name (#3845)
  core/consensus/timer/roundtimer.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil

*: delete partial exits (#3838)
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/cmd.go
  cmd/exit_delete.go
  cmd/exit_delete_internal_test.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

add missing encoding types
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: add missing encoding types (#3853)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
