Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

dkg: strengthen logic for steps update
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: revert Herumi to v1.32.1
  go.mod
  go.sum
Due: none

*: revert Herumi to v1.32.1 (#2790)
  go.mod
  go.sum
Due: none

keymanager: enforce https
  cluster/helpers.go
  cluster/helpers_internal_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
  eth2util/keymanager/keymanager.go
  eth2util/keymanager/keymanager_test.go
Due: run-go-tests, run-regexp, run-testutil

keymanager: enforce https
  eth2util/keymanager/keymanager_test.go
Due: run-go-tests, run-testutil

keymanager: require addr to use https scheme
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/keymanager/url.go
  eth2util/keymanager/url_test.go
Due: run-go-tests, run-regexp, run-testutil

core: checking keymanager address
  cmd/createcluster.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/keymanager/keymanager.go
  eth2util/keymanager/keymanager_test.go
Due: run-go-tests, run-regexp, run-testutil

Reverted odd merge
  go.mod
  go.sum
Due: none

core: checking keymanager address (#2795)
  cmd/createcluster.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/keymanager/keymanager.go
  eth2util/keymanager/keymanager_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed dkg timing issue and broken run_version_matrix_with_dkg test
  dkg/dkg.go
  dkg/sync/client.go
Due: run-go-tests, run-regexp, run-testutil

dkg/bcast: exchange full messages
  dkg/bcast/client.go
  dkg/bcast/helpers.go
  dkg/bcast/impl.go
  dkg/bcast/impl_test.go
  dkg/bcast/server.go
  dkg/dkg.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/bcast.proto
  dkg/frostp2p.go
  dkg/nodesigs.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Update dkg/sync/client.go
  dkg/sync/client.go
Due: run-go-tests, run-regexp, run-testutil

Update dkg/sync/server.go
  dkg/sync/server.go
Due: run-go-tests, run-regexp, run-testutil

Fixed broken build and tests
  dkg/sync/server.go
Due: run-go-tests, run-regexp, run-testutil

reserve field 2 on BCastSigRequest
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/bcast.proto
Due: run-go-tests, run-buf, run-regexp, run-testutil

cleanup
  dkg/frostp2p.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  dkg/bcast/impl_test.go
Due: run-go-tests, run-testutil

core: fixing DutyDB Store function
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core: removed unused allowlist and denylist flags
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
  p2p/config.go
Due: run-go-tests, run-regexp, run-testutil

core: fixing DutyDB Store function (#2800)
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core: removed unused allowlist and denylist flags (#2801)
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
  p2p/config.go
Due: run-go-tests, run-regexp, run-testutil

dkg: strengthen logic for steps update (#2797)
  dkg/dkg.go
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: eth2wrap best selector refactoring
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-testutil

app: eth2wrap best selector refactoring
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  dkg/bcast/server.go
Due: run-go-tests, run-regexp, run-testutil

dkg/bcast: exchange full messages (#2798)
  dkg/bcast/client.go
  dkg/bcast/helpers.go
  dkg/bcast/impl.go
  dkg/bcast/impl_test.go
  dkg/bcast/server.go
  dkg/dkg.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/bcast.proto
  dkg/frostp2p.go
  dkg/nodesigs.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

cmd: don't bind debug endpoints by default
  app/app.go
  app/monitoringapi.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

cleanup
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/lifecycle/orderstop_string.go
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

cmd: don't bind debug endpoints by default (#2808)
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/lifecycle/orderstop_string.go
  app/monitoringapi.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

app: eth2wrap best selector refactoring (#2806)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-testutil

remove irrelevant todos
  core/proto.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: builder registration to use the current timestamp for --split-existing-keys mode
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core: remove unimportant todos (#2809)
  core/proto.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Renamed parameter
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fixing builder registration timestamp (#2810)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: more warnings on HTTP URLs
  dkg/disk.go
  p2p/bootnode.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  dkg/disk.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
