Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Fix final inclusion check
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

Fix TestInclusion test block structure
  core/tracker/inclusion_internal_test.go
Due: run-go-tests, run-testutil

*: fix inclusion aggregation bits for Electra (#3501)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
  eth2util/statecomm/statecomm.go
  testutil/beaconmock/beaconmock.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Add committee index to attestations requests
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

Add headers to httpwrap
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/httpwrap.go
  app/obolapi/exit_test.go
  app/vmock.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Update test.go
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Update protocols_test.go
  core/consensus/protocols/protocols_test.go
Due: run-go-tests, run-testutil

bump proto versions to 1.36.5
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

fix fallback test
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

app: add headers to httpwrap (#3515)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/httpwrap.go
  app/obolapi/exit_test.go
  app/vmock.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix faulty fallback test (#3511)
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

*: label PRs to electra branch (#3468)
  .github/workflows/label-pr.yml
Due: none

*: allow deposits greater than 32eth (#3466)
  cluster/cluster_internal_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

*: support electra in existing codebase; tests (#3487)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/fetcher/fetcher_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/types_test.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Update golden file after rebase - custom target gas limit (#3491)
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
Due: none

Add committee index to attestations requests (#3514)
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

*: compounding flag
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-006.json
  cluster/manifest/load_test.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/Test_viewClusterManifest.golden
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Addressed PR feedback
  app/eth2wrap/eth2wrap_test.go
  cmd/createdkg_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  cmd/createcluster_internal_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

add GetBySlot method
  app/app.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

use formatUint with base 10 and sanity check test
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

formatting
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

add unknown slot test
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-testutil

apply suggestions from code review
  app/eth2wrap/valcache.go
Due: run-go-tests, run-regexp, run-testutil

add refresh log and remove unnecessary error log
  app/app.go
  app/eth2wrap/valcache.go
Due: run-go-tests, run-regexp, run-testutil

add execution engine address flag and eth1 client verification to createcluster and dkg
  app/app.go
  app/disk.go
  app/eth1wrap/client.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock_test.go
  cluster/test_cluster_test.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/dkg.go
  cmd/manifest_tools.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

fix: refresh validator by slot instead of by head (#3500)
  app/app.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

add execution engine address flag and sig verification to combine
  cmd/combine.go
  cmd/combine/combine.go
  cmd/combine/combine_test.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

add flag to create dkg and add lock to eth1 client initialization
  app/eth1wrap/Makefile
  app/eth1wrap/client.go
  cmd/createdkg.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

formatting
  app/eth1wrap/Makefile
  app/eth1wrap/build/IERC1271.abi
  app/eth1wrap/client.go
  app/eth1wrap/generated/erc1271.go
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

add execution engine address verification
  app/eth1wrap/client.go
Due: run-go-tests, run-regexp, run-testutil

*: compounding flag (#3520)
  app/eth2wrap/eth2wrap_test.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-006.json
  cluster/manifest/load_test.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/Test_viewClusterManifest.golden
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

cmd: fixed loaded keys ordering
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

move code generation from makefile to go generate
  app/eth1wrap/Makefile
  app/eth1wrap/client.go
  app/eth1wrap/interfaces/IERC1271.sol
  tools.go
Due: run-go-tests, run-regexp, run-testutil

fix lint issues
  app/eth1wrap/client.go
  cluster/definition.go
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

Fix attestations and aggregations for electra
  app/eth2wrap/eth2wrap_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/signeddata.go
  core/testdata/TestJSONSerialisation_VersionedAggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedAttestation.json.golden
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  go.mod
  go.sum
  testutil/random.go
  testutil/validatormock/testdata/TestAttest_0_attestations.golden
  testutil/validatormock/testdata/TestAttest_1_attestations.golden
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
