Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Fix attestations and aggregations for electra (#3525)
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/signeddata.go
  core/testdata/TestJSONSerialisation_VersionedAggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedAttestation.json.golden
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  go.mod
  go.sum
  testutil/random.go
  testutil/validatormock/testdata/TestAttest_0_attestations.golden
  testutil/validatormock/testdata/TestAttest_1_attestations.golden
Due: run-go-tests, run-regexp, run-testutil

Support obol fork of go-eth2-client
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/success.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/signing/signing.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/beaconmock_test.go
  testutil/beaconmock/options.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

update flag name
  cmd/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/dkg.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Compatible v1 attestations
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/httpwrap.go
  core/bcast/bcast.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/eth2signeddata.go
  core/interfaces.go
  core/proto.go
  core/signeddata.go
  core/tracing.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

fix typo on golangci-lint config
  .golangci.yml
Due: none

Support v1 aggregations on electra
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/httpwrap.go
  core/bcast/bcast.go
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/eth2signeddata.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/interfaces.go
  core/proto.go
  core/signeddata.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Fix pre-commit hook
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

add nolint tag to errors import in wrapper
  app/errors/errors.go
  app/errors/go113.go
Due: run-go-tests, run-regexp, run-testutil

iota rework
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

*: support v1 endpoints on electra (#3536)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/success.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/eth2signeddata.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/interfaces.go
  core/proto.go
  core/signeddata.go
  core/tracing.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/signing/signing.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/beaconmock_test.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

ci: update golangci-lint name rule (#3535)
  .golangci.yml
  app/errors/errors.go
  app/errors/go113.go
Due: run-go-tests, run-regexp, run-testutil

fix beacon node headers parse
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

improve test example
  eth2util/helpers_test.go
Due: run-go-tests, run-testutil

remove print
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

fix validation comment
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

update nickname log logic
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

app/peerinfo: reduce nickname mapping logs (#3533)
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

eth2util: fix beacon node headers validation/parsing (#3534)
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

add fallback metric
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

format
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

golangci-lint
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

Support v2 calls for deneb fork
  core/dutydb/memory.go
  core/tracing.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

feat: add renovate.json
  .github/renovate.json
Due: none

*: add renovate.json (#3529)
  .github/renovate.json
Due: none

cmd: fixed loaded keys ordering (#3524)
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

Support v2 calls for deneb fork (#3539)
  core/dutydb/memory.go
  core/tracing.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

update metric reference
  docs/metrics.md
Due: none

feat: add fallback beacon node metric (#3538)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/valcache_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

feat(verify-pr): skip Renovate PRs during verification
  testutil/verifypr/verify.go
Due: run-go-tests, run-regexp, run-testutil

feat: skip Renovate PRs during verification (#3549)
  testutil/verifypr/verify.go
Due: run-go-tests, run-regexp, run-testutil

root: update LICENSE (#3508)
  LICENSE
Due: none

*: fix some function names in comment (#3513)
  dkg/frost.go
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

add nickname label to metrics
  app/app.go
  app/peerinfo/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: label PRs to electra branch (#3468)
  .github/workflows/label-pr.yml
Due: none

*: allow deposits greater than 32eth (#3466)
  cluster/cluster_internal_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

*: support electra in existing codebase; tests (#3487)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/fetcher/fetcher_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/types_test.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Update golden file after rebase - custom target gas limit (#3491)
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
Due: none

*: fix inclusion aggregation bits for Electra (#3501)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
  eth2util/statecomm/statecomm.go
  testutil/beaconmock/beaconmock.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
