Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

testutil/genchangelog: force fetch tags (#2644) (#2647)
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

testutil/validatormock: remove pseudo code (#2651)
  testutil/validatormock/synccontributionflow_test.go
Due: run-go-tests, run-testutil

app/version: add method to detect pre-release
  app/version/version.go
  app/version/version_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil/genchangelog: filter out rc releases
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

testutil/genchangelog: write out all PRs happened before two tags
  testutil/genchangelog/main.go
  testutil/genchangelog/main_internal_test.go
  testutil/genchangelog/template.md
  testutil/genchangelog/testdata/TestParsePRs_parsed_prs.golden
  testutil/genchangelog/testdata/TestParsePRs_template.golden
  testutil/genchangelog/testdata/TestParsePRs_template_data.golden
Due: run-go-tests, run-regexp, run-testutil

cleanup
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

Update issue templates (#3)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_ticket.md
Due: none

eth2util/keymanager: dynamically set request timeout (#2586)
  eth2util/keymanager/keymanager.go
Due: run-go-tests, run-regexp, run-testutil

refactor according to latest go-eth2-client changes
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/success.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  app/monitoringapi.go
  core/fetcher/fetcher.go
  core/scheduler/scheduler.go
  core/ssz.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/eth2exp/attagg_old.go
  eth2util/signing/signing.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/beaconmock_test.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose.go
  testutil/validatormock/synccomm.go
Due: run-go-tests, run-regexp, run-testutil

fix bug
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

fix so many things
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/interfaces.go
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/random.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

fix validator api test
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

fix golangci-lint
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

fix failing tests due to upstream changes
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/ssz.go
  core/unsigneddata.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

add workaround for validator state fuzz test failures
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

fix validator api test
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/interfaces.go
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  go.mod
  go.sum
  testutil/compose/static/lighthouse/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

fix fetcher test
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-testutil

remove validator status check
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

fix sigagg tests
  core/sigagg/sigagg_test.go
Due: run-go-tests, run-testutil

fix unsigned tests
  core/proto_test.go
  core/serialise_test.go
  core/ssz.go
  core/ssz_test.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/testdata/TestJSONSerialisation_VersionedProposal.json.golden
  core/testdata/TestSSZSerialisation_VersionedBlindedProposal.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedProposal.ssz.golden
  core/unsigneddata.go
  core/unsigneddata_test.go
  go.mod
  go.sum
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

fix linter and some tests
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  go.mod
  go.sum
  testutil/compose/static/lighthouse/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

fix more tests
  app/eth2wrap/synthproposer.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/parsigex/parsigex_test.go
  core/proto.go
  core/proto_test.go
  core/serialise_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/ssz_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedProposal.json.golden
  core/testdata/TestSSZSerialisation_VersionedSignedBlindedProposal.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedProposal.ssz.golden
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/signing/signing.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

fix issues from first self review
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/synthproposer.go
  core/fetcher/fetcher.go
  core/parsigex/parsigex_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

review comments 1
  app/eth2wrap/synthproposer.go
  core/eth2signeddata.go
  core/fetcher/fetcher.go
  core/signeddata.go
  core/unsigneddata.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
  testutil/fuzz.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

only use slot for querying proposals
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/interfaces.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

allow threshold number keys to combine
  cmd/combine/combine.go
  cmd/combine/combine_test.go
Due: run-go-tests, run-regexp, run-testutil

add error string in test
  cmd/combine/combine_test.go
Due: run-go-tests, run-testutil

bump go-eth2-client to v0.19.4
  go.mod
  go.sum
Due: none

cmd/combine: allow threshold number of keys to combine (#2664)
  cmd/combine/combine.go
  cmd/combine/combine_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil/genchangelog: ignore rc's, template changes (#2652)
  app/version/version.go
  app/version/version_test.go
  testutil/genchangelog/main.go
  testutil/genchangelog/main_internal_test.go
  testutil/genchangelog/template.md
  testutil/genchangelog/testdata/TestParsePRs_parsed_prs.golden
  testutil/genchangelog/testdata/TestParsePRs_template.golden
  testutil/genchangelog/testdata/TestParsePRs_template_data.golden
Due: run-go-tests, run-regexp, run-testutil

fix inclusion checker bug
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: fix inclusion checker bug (#2670)
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

fix create cluster bug that generates incorrect builder registrations
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_output.golden
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

convert int64s to uint64s to comply with spec
  core/aggsigdb/memory_internal_test.go
  core/fetcher/fetcher.go
  core/gater.go
  core/leadercast/leadercast_internal_test.go
  core/leadercast/transport_test.go
  core/priority/calculate_internal_test.go
  core/priority/prioritiser_test.go
  core/scheduler/scheduler.go
  core/tracker/inclusion.go
  p2p/receive_test.go
  p2p/sender_test.go
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

convert int64s to uint64s to comply with spec
  app/app.go
  app/app_internal_test.go
  app/priorities.go
  app/qbftdebug_internal_test.go
  core/bcast/bcast.go
  core/config.go
  core/consensus/component.go
  core/consensus/msg_internal_test.go
  core/consensus/roundtimer.go
  core/consensus/strategysim_internal_test.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/core.proto
  core/deadline_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/interfaces.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/tracing.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/types.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  dkg/exchanger.go
  docs/architecture.md
  p2p/receive_test.go
  p2p/sender_test.go
  testutil/helpers.go
  testutil/validatormock/component.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

edit comment in core proto
  core/corepb/v1/core.pb.go
  core/corepb/v1/core.proto
Due: run-go-tests, run-buf, run-regexp, run-testutil

fix codeql error
  core/tracing.go
Due: run-go-tests, run-regexp, run-testutil

fix tests
  app/eth2wrap/success.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
