Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

app/eth1wrap: fix flaky test (#3888)
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

bump to v1.7
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

bump to v1.6-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to v1.6-rc (#3890)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Bump protoc-gen-go
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

add hostname verification
  cmd/run.go
  cmd/run_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

add idna verification
  cmd/run.go
  cmd/run_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

run mod tidy
  go.mod
Due: none

cmd: add hostname verification (#3901)
  cmd/run.go
  cmd/run_internal_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

cmd: renamed add-validators flags
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

add dkg zipping flag
  cmd/createcluster_internal_test.go
  cmd/dkg.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  cmd/addvalidators.go
Due: run-go-tests, run-regexp, run-testutil

cmd: renamed add-validators flags (#3902)
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core: replace context.WithCancel with t.Context
  core/aggsigdb/memory_internal_test.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2_internal_test.go
  core/bcast/bcast_test.go
  core/parsigdb/memory_internal_test.go
Due: run-go-tests, run-testutil

fix code duplication
  app/utils.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

improve bundle testing
  app/utils.go
  app/utils_test.go
  cmd/createcluster_internal_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

fix vulnerability issues
  app/utils.go
Due: run-go-tests, run-regexp, run-testutil

remove test log
  app/utils_test.go
Due: run-go-tests, run-testutil

dkg: add zipped flag (#3903)
  app/utils.go
  app/utils_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/dkg.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

update protos
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

bump govulncheck to v1.1.4
  .github/workflows/govulncheck.yml
Due: none

bump golangci to use go 1.25
  .golangci.yml
Due: none

*: v1.6.0-rc2 cherry-picking (#3906)
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compose-tests.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/unit-tests.yml
  .github/workflows/verify-pr.yml
  Dockerfile
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  app/utils.go
  app/utils_test.go
  cluster/manifestpb/v1/manifest.pb.go
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/dkg.go
  cmd/run.go
  cmd/run_internal_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
  go.mod
  go.sum
  testutil/promrated/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

core: replace context.WithCancel with t.Context (#3905)
  core/aggsigdb/memory_internal_test.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2_internal_test.go
  core/bcast/bcast_test.go
  core/parsigdb/memory_internal_test.go
Due: run-go-tests, run-testutil

Bump go to v1.25
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .golangci.yml
  Dockerfile
  go.mod
  testutil/promrated/Dockerfile
Due: none

Bump golangci-lint to v2.4.0
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

*: bump go to v1.25 (#3910)
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  Dockerfile
  go.mod
  testutil/promrated/Dockerfile
Due: none

Bump go-eth2-client version
  go.mod
  go.sum
Due: none

chore: fix some inconsistent function name in comment
  app/eth2wrap/synthproposer.go
  app/log/config.go
Due: run-go-tests, run-regexp, run-testutil

*: added otlp headers
  app/app.go
  app/sse/listener.go
  app/tracer/trace.go
  cmd/exit_broadcast.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/run.go
  cmd/run_internal_test.go
  docs/configuration.md
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

Trying to fix TestSyncFlow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: added otlp headers (#3915)
  app/app.go
  app/sse/listener.go
  app/tracer/trace.go
  cmd/exit_broadcast.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/run.go
  cmd/run_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

do not return error when closing canceled stream
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: error on closing canceled stream (#3916)
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
