Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

add more logging
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

better upgrade to quic logic
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter version
  .pre-commit/run_linter.sh
Due: none

Apply suggestions from code review
  scripts/node_merge.sh
Due: none

*: bump linter v2.2.2 (#3855)
  .pre-commit/run_linter.sh
Due: none

Update scripts/node_merge.sh
  scripts/node_merge.sh
Due: none

*: use maps.Copy for cleaner map handling
  core/consensus/qbft/transport.go
  core/validatorapi/validatorapi.go
  dkg/exchanger.go
  testutil/beaconmock/server.go
Due: run-go-tests, run-regexp, run-testutil

handle udp port closing
  p2p/gater.go
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

feedback update
  app/app.go
  cmd/relay/relay.go
  docs/metrics.md
  p2p/bootnode.go
  p2p/config.go
  p2p/config_internal_test.go
  p2p/gater.go
  p2p/metrics.go
  p2p/p2p.go
  p2p/p2p_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: use maps.Copy for cleaner map handling (#3856)
  core/consensus/qbft/transport.go
  core/validatorapi/validatorapi.go
  dkg/exchanger.go
  testutil/beaconmock/server.go
Due: run-go-tests, run-regexp, run-testutil

make sonarcloud code analysis happy
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

*: add-validators command draft
  app/app.go
  app/disk.go
  app/disk_internal_test.go
  app/peerinfo/adhoc.go
  app/utils.go
  app/utils_test.go
  cmd/addvalidators.go
  cmd/cmd.go
  cmd/relay/p2p.go
  cmd/relay/p2p_internal_test.go
  cmd/testpeers.go
  dkg/dkg.go
  p2p/setup.go
Due: run-go-tests, run-regexp, run-testutil

Update dependency
  go.mod
  go.sum
Due: none

Bump mockery versions
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth_client.go
  app/eth1wrap/mocks/eth_client_runner.go
Due: run-go-tests, run-regexp, run-testutil

Swap local block attestations with go-eth2-client block attestations
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

*: add-validators command draft
  app/disk.go
  app/disk_internal_test.go
  cmd/addvalidators.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Added tests
  app/app_internal_test.go
  app/disk_internal_test.go
  app/testdata/test-cluster-lock.json
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  cmd/testdata/test_cluster_lock.json
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

change link to launchpad
  docs/configuration.md
Due: none

docs: update dv-launchpad URL to launchpad.obol.org (#3858)
  docs/configuration.md
Due: none

add timing logging
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Use go-eth2-client's sync and beacon committee selections
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/parsigdb/memory_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/eth2exp/attagg.go
  eth2util/eth2exp/synccomm_agg.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/synccomm.go
Due: run-go-tests, run-regexp, run-testutil

Use go-eth2-client node peer count
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/monitoringapi.go
  app/monitoringapi_internal_test.go
  core/consensus/mocks/debugger.go
  core/mocks/consensus.go
  core/mocks/deadliner.go
  core/validatorapi/mocks/handler.go
  dkg/dkg_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Use go-eth2-client's beacon committees for state
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  eth2util/statecomm/statecomm.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

*: add-validators command draft
  app/app.go
  app/disk.go
  app/disk_internal_test.go
  app/utils.go
  app/utils_test.go
  cmd/addvalidators.go
  cmd/cmd.go
  cmd/relay/p2p.go
  cmd/relay/p2p_internal_test.go
  cmd/testpeers.go
  dkg/dkg.go
  p2p/setup.go
Due: run-go-tests, run-regexp, run-testutil

Refactoring with more tests
  cmd/addvalidators_internal_test.go
  cmd/testpeers_internal_test.go
  dkg/dkg_test.go
  testutil/integration/helpers_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
  testutil/relay/relay.go
Due: run-go-tests, run-regexp, run-testutil

Updating operator signatures
  cluster/cluster_internal_test.go
  cluster/helpers.go
  cluster/test_cluster.go
  cmd/addvalidators_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/nodesigs.proto
  dkg/operatorsigs.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Refactoring
  dkg/configsigs.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/dkgpb/v1/configsigs.pb.go
  dkg/dkgpb/v1/configsigs.proto
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/nodesigs.proto
  dkg/operatorsigs.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

configsigs tests
  dkg/configsigs_internal_test.go
Due: run-go-tests, run-testutil

Refactoring
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

Refactoring
  cmd/addvalidators_internal_test.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Removed configsigs
  cluster/cluster_internal_test.go
  cluster/helpers.go
  cluster/test_cluster.go
  dkg/configsigs.go
  dkg/configsigs_internal_test.go
  dkg/dkg.go
  dkg/dkgpb/v1/configsigs.pb.go
  dkg/dkgpb/v1/configsigs.proto
Due: run-go-tests, run-buf, run-regexp, run-testutil

Addressed PR feedback
  app/disk.go
  app/disk_internal_test.go
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  cmd/addvalidators.go
  dkg/disk.go
Due: run-go-tests, run-regexp, run-testutil

Checking validator_keys dir
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Added --unverified flag
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed rebase error
  p2p/setup.go
Due: run-go-tests, run-regexp, run-testutil

Use go-eth2-client's block provider
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/tracker/inclusion.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
