Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Remove reporting (#4435)
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump v1.9 to stable
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump v1.9 to stable (#4436)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Fix metrics doc
  docs/metrics.md
Due: none

app/*: report EL version metric (#4434)
  app/app.go
  app/eth1wrap/interface.go
  app/eth1wrap/mocks/eth_client_runner.go
  app/eth1wrap/runner.go
  app/eth1wrap/version.go
  app/metrics.go
  app/monitoringapi.go
  app/monitoringapi_internal_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Check for creator rather than checking body
  testutil/verifypr/verify.go
Due: run-go-tests, run-regexp, run-testutil

Bot skip tests
  testutil/verifypr/verify_internal_test.go
Due: run-go-tests, run-testutil

*: kurtosis smoke test cron
  .github/workflows/kurtosis-smoke-test.yml
Due: none

*: kurtosis smoke test cron (#4439)
  .github/workflows/kurtosis-smoke-test.yml
Due: none

testutil/verifypr: fix verify pr (#4437)
  testutil/verifypr/verify.go
  testutil/verifypr/verify_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix race condition making the log test fail
  app/log/loki/client_test.go
Due: run-go-tests, run-testutil

Fix test data race
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

Health checker with counter
  app/health/checker.go
  app/health/metrics.go
Due: run-go-tests, run-regexp, run-testutil

Add peer latency healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
Due: run-go-tests, run-regexp, run-testutil

Add peer offset healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
Due: run-go-tests, run-regexp, run-testutil

app/log: fix race condition making the log test fail (#4441)
  app/log/loki/client_test.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

Fixed linter failure
  testutil/verifypr/verify.go
Due: run-go-tests, run-regexp, run-testutil

Add BN request latency healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
Due: run-go-tests, run-regexp, run-testutil

Memory leak healthcheck
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Goroutines healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Linter
  app/health/checker.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add slack notifications to kurtosis report
  .github/workflows/kurtosis-smoke-test.yml
Due: none

SSE late block above 4s in >4% blocks for 1h healthcheck
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add local block building healthcheck
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

High consensus rounds healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
Due: run-go-tests, run-regexp, run-testutil

Add description to Grafana
  app/health/checker.go
  app/health/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Add longer descriptions; remove unhelpful healthchecks
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add check for SLACK_DEV_PROTOCOL_WEBHOOK env
  .github/workflows/kurtosis-smoke-test.yml
Due: none

Late attestation parsigs healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Late proposer parsigs healthcheck
  app/health/checks.go
  app/health/checks_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

.github/workflows: Add slack notifications to kurtosis report (#4442)
  .github/workflows/kurtosis-smoke-test.yml
Due: none

app/health: improve healthcheck metric (#4444)
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/metrics.go
  app/health/select.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

app: bump minor version to v1.10-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app: bump minor version to v1.10-rc (#4448)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

core: dutydb refactor
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

scripts: fixed alerts fetching
  scripts/debug/kurtosis_alerts.py
Due: none

scripts: fixed alerts fetching (#4450)
  scripts/debug/kurtosis_alerts.py
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
