Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Update configuration.md
  docs/configuration.md
Due: none

Update contributing.md
  docs/contributing.md
Due: none

Update goguidelines.md
  docs/goguidelines.md
Due: none

core/validatorapi: workaround for Gnosis proposals
  app/featureset/featureset.go
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: workaround for Gnosis proposals (#3238)
  app/featureset/featureset.go
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

docs: launchpad link is broken (#3231)
  README.md
Due: none

cmd: unified create validation
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter to 1.60.3 and fix changes
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/eth2wrap/httpwrap.go
  app/expbackoff/expbackoff.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/reducers.go
  app/health/select.go
  app/log/loki/client.go
  app/obolapi/api.go
  cluster/helpers.go
  cmd/markdown_internal_test.go
  cmd/testperformance.go
  core/aggsigdb/memory_v2_internal_test.go
  core/tracker/tracker.go
  core/validatorapi/router.go
  eth2util/keymanager/keymanager.go
  p2p/bootnode.go
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

Remove deactivated linters
  .golangci.yml
Due: none

Update docker-compose command to docker compose
  p2p/bootnode.go
  testutil/compose/README.md
  testutil/compose/alert.go
  testutil/compose/auto.go
  testutil/compose/compose/main.go
  testutil/compose/define.go
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/template.go
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

Remove docker-compose.yml version
  testutil/compose/docker-compose.template
Due: none

Remove version from golden docker compose files
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: none

testutil: update docker-compose command to docker compose (#3249)
  p2p/bootnode.go
  testutil/compose/README.md
  testutil/compose/alert.go
  testutil/compose/auto.go
  testutil/compose/compose/main.go
  testutil/compose/define.go
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/template.go
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

*: bump linter to v1.60.3 (#3247)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/eth2wrap/httpwrap.go
  app/expbackoff/expbackoff.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/reducers.go
  app/health/select.go
  app/log/loki/client.go
  app/obolapi/api.go
  cluster/helpers.go
  cmd/markdown_internal_test.go
  cmd/testperformance.go
  core/aggsigdb/memory_v2_internal_test.go
  core/tracker/tracker.go
  core/validatorapi/router.go
  eth2util/keymanager/keymanager.go
  p2p/bootnode.go
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

Bump go version to 1.23
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  go.mod
  testutil/promrated/Dockerfile
Due: none

Increase peers tests timeout
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

*: bump go to 1.23 (#3250)
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  cmd/testpeers_internal_test.go
  go.mod
  testutil/promrated/Dockerfile
Due: run-go-tests, run-testutil

Alpine to debian
  testutil/compose/static/lodestar/Dockerfile
Due: none

POSIX compliant lodestar script
  testutil/compose/static/lodestar/run.sh
Due: none

Flag place consistency
  testutil/compose/static/lodestar/Dockerfile
Due: none

Refactor exits
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix linter
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Hardening threshold parameter checks
  cmd/createcluster.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Update tests for createdkg command
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Update tests for createcluster command
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-testutil

Adjusts tests for hardening threshold checks in createdkg
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Delay threshold checks to not break existing tests
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Retrieve the threshold parameter from the definition file
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

Move threshold check after others to not break existing tests
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

Remove/add whitespaces
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Use minThreshold constant
  cmd/createcluster.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Introduce a minThreshold variable
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add whitespace
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Update threshold minimum and corresponding tests
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixes after PR
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

cmd: refactor exits (#3248)
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: enable gnosis hotfix automatically
  app/app.go
  app/featureset/config.go
  app/featureset/config_test.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  cmd/createcluster.go
  cmd/createdkg.go
  eth2util/network.go
  eth2util/network_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump golang to 1.23.1
  .github/actions/setup-go/action.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: bump golang to 1.23.1 (#3261)
  .github/actions/setup-go/action.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none
