Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.2
    hooks:
      - id: check-go-version
        args: [ -v=go1.21 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.54.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

return 404 for propose block v3
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

add method for propose block v3 endpoint
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: return 404 for propose block v3 (#2868)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

*: fix flappy tests
  core/consensus/component_test.go
  core/qbft/qbft_internal_test.go
  p2p/sender.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

remove unneded t.Parallel()
  core/consensus/component_test.go
Due: run-go-tests, run-testutil

*: fix flappy tests (#2869)
  core/qbft/qbft_internal_test.go
  p2p/sender.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

use go-eth2-client for block version conversion to string
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: use go-eth2-client versioning (#2871)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: handle HTTP methods (#2866)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: cherry-pick PRs for v0.19.1-rc3 (#2872)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

p2p: fix data race in test
  p2p/sender.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/health: high_registration_failures_rate check
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
  testutil/compose/README.md
Due: run-go-tests, run-regexp, run-testutil

No need to increase maxScrapes
  app/health/checker.go
Due: run-go-tests, run-regexp, run-testutil

app/health: `high_registration_failures_rate` check (#2876)
  app/health/checks.go
  app/health/checks_internal_test.go
  testutil/compose/README.md
Due: run-go-tests, run-regexp, run-testutil

p2p: fix data race in test (#2875)
  p2p/sender.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Revert "core: wire recaster component (#2752)"
  app/app.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

core: revert wire recaster component changes (#2877)
  app/app.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

dkg/sync: increase by max 2 steps
  dkg/dkg_test.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

core/validatorapi: propose block v3
  app/app.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Changed odd wording
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Added t.Helper()
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

cmd: create dkg cli to support partial deposits
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  docs/dkg.md
  eth2util/deposit/deposit.go
Due: run-go-tests, run-regexp, run-testutil

refactoring: writing deposit files
  cmd/createcluster.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

refactoring: writing deposit files
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-testutil

cmd: create dkg cli to support partial deposits (#2887)
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
  docs/dkg.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: propose block v3 (#2885)
  app/app.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/peerinfo: added mev_enabled metric
  app/app.go
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Added new metric to metrics.md
  docs/metrics.md
Due: none

peerinfo message with mev_enabled flag
  app/peerinfo/adhoc_test.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
Due: run-go-tests, run-buf, run-regexp, run-testutil

peerinfo message with mev_enabled flag
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_test.go
Due: run-go-tests, run-regexp, run-testutil

peerinfo message with mev_enabled flag
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Little refactoring
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_test.go
Due: run-go-tests, run-regexp, run-testutil

Renamed mev_enabled to builder_api_enabled
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfo_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

Updated metrics.md
  docs/metrics.md
Due: none
