Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

*: add PAT to github actions (#4174)
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

Remove annotation from tagging in pipelines
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

Fix comment
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

feat: trigger obol-infrastructure version update on release
  .github/workflows/release.yml
Due: none

github: obol-infrastructure version update on release (#4177)
  .github/workflows/release.yml
Due: none

github: remove annotation from tagging in pipelines (#4176)
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

*: v1.8.0-rc2 (#4178)
  .github/workflows/release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

*: fix some struct names in comments (#4151)
  core/validatorapi/router.go
  testutil/validatormock/meta.go
Due: run-go-tests, run-regexp, run-testutil

*: prepare proposer duty
  app/featureset/featureset.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/deadline.go
  core/dutydefinition.go
  core/fetcher/fetcher.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/scheduler/testdata/TestSchedulerDuties_spread.golden
  core/scheduler/testdata/TestSchedulerDuties_spread_errors.golden
  core/types.go
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

Fixed tests
  core/types_test.go
Due: run-go-tests, run-testutil

Fixed findings
  core/scheduler/offset.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/scheduler/testdata/TestSchedulerDuties_spread.golden
  core/scheduler/testdata/TestSchedulerDuties_spread_errors.golden
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

Update prysm repo
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi_test.go
  docs/goguidelines.md
  eth2util/eth2exp/attagg_test.go
  go.mod
  go.sum
  testutil/beaconmock/options.go
  testutil/fuzz.go
  testutil/random.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

*: update prysm repo and bump go-eth2-clinet (#4181)
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi_test.go
  docs/goguidelines.md
  eth2util/eth2exp/attagg_test.go
  go.mod
  go.sum
  testutil/beaconmock/options.go
  testutil/fuzz.go
  testutil/random.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

*: v1.8.0-rc2 (#4182)
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi_test.go
  docs/goguidelines.md
  eth2util/eth2exp/attagg_test.go
  go.mod
  go.sum
  testutil/beaconmock/options.go
  testutil/fuzz.go
  testutil/random.go
  testutil/validatormock/attest.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fix flaky TestSyncFlow test (#4167)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

dkg: add `nickname` flag (#4105)
  cmd/dkg.go
  dkg/dkg.go
  dkg/dkgpb/v1/sync.pb.go
  dkg/dkgpb/v1/sync.proto
  dkg/protocol.go
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/sync_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

fix tests
  app/app.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

reduce repetition
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

core/scheduler: fix builder registration unmarshalling (#4183)
  app/app.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

*: cherry pick for v1.8.0 (#4185)
  app/app.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump v1.8 to stable
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app: bump version to v1.9-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump v1.8 to stable (#4191)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

fix typo in workflow
  .github/workflows/prepare-minor-full-release.yml
Due: none

update supported version
  .github/workflows/prepare-minor-full-release.yml
Due: none

update supported version
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

eliminating redundant code
  dkg/protocol.go
Due: run-go-tests, run-regexp, run-testutil

Changed header to be Cluster-Uuid
  p2p/bootnode.go
Due: run-go-tests, run-regexp, run-testutil

Rebase issues addressed
  app/app.go
  cmd/dkg.go
  dkg/sync/sync_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Skipping TestSyncFlow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: added replace-operator command
  cmd/cmd.go
  cmd/edit.go
  cmd/edit_replaceoperator.go
  cmd/edit_replaceoperator_internal_test.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_test.go
Due: run-go-tests, run-regexp, run-testutil

app: bump version to v1.9-dev (#4192)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: fix prepare minor full release (#4193)
  .github/workflows/prepare-minor-full-release.yml
Due: none

Bump golibp2p vulnerabilities
  go.mod
  go.sum
Due: none
