Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

*: bumped go-eth2-client to 0.21.4 (#3084)
  core/testdata/TestJSONSerialisation_SignedRandao.json.golden
  eth2util/types_test.go
  go.mod
  go.sum
Due: run-go-tests, run-testutil

cmd: add full unit test for test peers command (#3082)
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add validator ping tests (#3085)
  cmd/test.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove nil context check on test command
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Add available tests per test category in help
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: remove nil context check on test command (#3086)
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Bump go to version 1.22
  go.mod
Due: none

Update CodeQL golang version
  .github/workflows/codeql-analysis.yml
Due: none

*: bump go to version 1.22 (#3092)
  .github/workflows/codeql-analysis.yml
  go.mod
Due: none

app/obolapi: specify HTTP requests timeout
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/dkg.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add available tests per test category in help (#3087)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: specify exit fetch path
  cmd/exit.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

Update license pre 1.0
  LICENSE
Due: none

Trailing whitespace
  LICENSE
Due: none

Second trailing whitespace....
  LICENSE
Due: none

Update cmd/dkg.go
  cmd/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Update cmd/exit.go
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

app/obolapi: specify HTTP requests timeout (#3098)
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/dkg.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

*: update license for the next release candidate (#3100)
  LICENSE
Due: none

cmd: specify exit fetch path (#3099)
  cmd/exit.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

cmd: allow signing exits with validator index, beacon node URLs rework
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: json_requests feature
  app/eth2wrap/eth2wrap.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  app/featureset/status_string.go
Due: run-go-tests, run-regexp, run-testutil

Minor fix
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add expert mode on `exit sign`
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: json_requests feature (#3110)
  app/eth2wrap/eth2wrap.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  app/featureset/status_string.go
Due: run-go-tests, run-regexp, run-testutil

testutil/compose: fixed compose smoke test
  testutil/compose/docker-compose.template
  testutil/compose/static/lighthouse/run.sh
Due: none

Reverted version removal
  testutil/compose/docker-compose.template
Due: none

testutil/compose: fixed compose smoke test (#3111)
  testutil/compose/static/lighthouse/run.sh
Due: none

core/validatorapi: metrics for user-agent and content-type
  core/validatorapi/metrics.go
  core/validatorapi/router.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

cmd: review comment
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: metrics for user-agent and content-type (#3112)
  core/validatorapi/metrics.go
  core/validatorapi/router.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: deep validator cache
  app/app.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  core/scheduler/scheduler.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

core/scheduler: fix linter issue
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: simplify Get() locking logic
  app/eth2wrap/valcache.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: make deep copies of validator objects in convertValidators
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: cleanup Validator
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: add tests for validator cache interaction
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-testutil

cmd: exit with validator index, allow BN URLs (#3106)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: deep validator cache (#3114)
  app/app.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  core/scheduler/scheduler.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil
