Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

cmd/relay: enabled new libp2p relay metrics
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/relay/relay_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Little refactoring
  cmd/relay/relay_internal_test.go
Due: run-go-tests, run-testutil

Addressed PR feedback
  cmd/markdown_internal_test.go
  cmd/relay/metrics.go
  cmd/relay/metrics_tracer.go
  cmd/relay/metrics_tracer_test.go
  cmd/relay/p2p.go
  cmd/relay/relay_internal_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Revert "Addressed PR feedback"
  cmd/markdown_internal_test.go
  cmd/relay/metrics.go
  cmd/relay/metrics_tracer.go
  cmd/relay/metrics_tracer_test.go
  cmd/relay/p2p.go
  cmd/relay/relay_internal_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Fixed test
  cmd/relay/relay_internal_test.go
Due: run-go-tests, run-testutil

cmd/relay: enabled new libp2p relay metrics (#3040)
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/relay/relay_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil: disable TCP port reuse
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

testutil: disable TCP port reuse (#3042)
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Address comments, round 2
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Address comments, round 3
  cmd/test.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Change flags to errgroup context
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Code quality improvements
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

cmd: alpha test peers tests (#3039)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: exit beacon node custom timeout
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: exit beacon node custom timeout (#3045)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Move ctx check before writing to channel
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: proper exit Capella domain handling
  app/obolapi/exit_test.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  eth2util/helper_capella.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

*: `govulncheck` v1.1.0, Go v1.22.2
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

Add separate channel per continuous ping
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

*: `govulncheck` v1.1.0, Go v1.22.2 (#3056)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

testutil/obolapimock: exit early if exit msg is for a validator we don't recognize
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

cmd: exit sign UX tweak
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add "[REQUIRED]" at the end of all the required flags
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

cmd: clarify purposes of `exit fetch` and `exit broadcast` commands
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

eht2util: clarified ComputeDomain errors
  eth2util/helper_capella.go
Due: run-go-tests, run-regexp, run-testutil

workflows: use self-hosted runners
  .github/workflows/build-push-deploy.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

Use workgroup to manage single channel on continuous ping
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Add alpha test beacon tests
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve test beacon node testing
  cmd/testbeacon_internal_test.go
  testutil/helpers.go
Due: run-go-tests, run-regexp, run-testutil

Add failedTestResult util function
  cmd/test.go
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Consistency with peers tests
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Fix beacon test localhost resolving
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-testutil

workflows: use self-hosted runners (#3058)
  .github/workflows/build-push-deploy.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

cmd: proper exit Capella domain handling (#3055)
  app/obolapi/exit_test.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  eth2util/helper_capella.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

cmd: exit UX tweak (#3057)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

*: update protoc-gen-go to v1.34.0
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: update protoc-gen-go to v1.34.0 (#3060)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

dkg: increase test timeout for `TestSigsExchange`
  dkg/nodesigs_internal_test.go
Due: run-go-tests, run-testutil

dkg: increase test timeout for `TestSigsExchange` (#3061)
  dkg/nodesigs_internal_test.go
Due: run-go-tests, run-testutil
