Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Delete fio test file upon successful finish
  cmd/testinfra.go
Due: run-go-tests, run-regexp, run-testutil

Round measurement results
  cmd/duration.go
  cmd/duration_test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Bring back test command to alpha :(
  cmd/cmd.go
Due: run-go-tests, run-regexp, run-testutil

cmd: test command flags update (#3390)
  cmd/cmd.go
  cmd/duration.go
  cmd/duration_test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bump linter v1.62 (#3387)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/obolapi/api_internal_test.go
  cmd/addvalidators_internal_test.go
  core/priority/component.go
Due: run-go-tests, run-regexp, run-testutil

Dockerfile: add back chown (#3389)
  Dockerfile
Due: none

*: release v1.2-rc2 (#3392)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  Dockerfile
  app/obolapi/api_internal_test.go
  cmd/addvalidators_internal_test.go
  cmd/cmd.go
  cmd/duration.go
  cmd/duration_test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  core/priority/component.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

improved logging
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

code refactoring
  core/consensus/hotstuff/cluster.go
  core/consensus/hotstuff/hotstuff.go
  core/hotstuff/cluster_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

phase timeout test
  core/hotstuff/cluster_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/mocks/cluster.go
  core/hotstuff/mocks/transport.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

code refactoring
  core/hotstuff/mocks/cluster.go
  core/hotstuff/mocks/transport.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

reworked ID
  core/consensus/hotstuff/cluster.go
  core/consensus/hotstuff/cluster_internal_test.go
  core/consensus/hotstuff/hotstuff.go
  core/hotstuff/cluster_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/hotstuff/transport_test.go
Due: run-go-tests, run-regexp, run-testutil

blacklist
  core/consensus/hotstuff/hotstuff.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  core/hotstuff/blacklist.go
  core/hotstuff/blacklist_test.go
  core/hotstuff/collector.go
  core/hotstuff/collector_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/msg_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Use private key file flag, instead of data dir flag
  cmd/testall.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add prefix
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: use private key file flag, instead of data dir flag (#3393)
  cmd/testall.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Revert "blacklist"
  core/consensus/hotstuff/hotstuff.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  core/hotstuff/blacklist.go
  core/hotstuff/blacklist_test.go
  core/hotstuff/collector.go
  core/hotstuff/collector_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/msg_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

testutil: fixed compose files
  testutil/compose/docker-compose.template
  testutil/compose/static/loki/loki.yml
Due: none

Updated golden file
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: none

testutil: fixed compose files (#3397)
  testutil/compose/docker-compose.template
  testutil/compose/static/loki/loki.yml
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: none

*: release v1.2-rc3 (#3402)
  cmd/testall.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Tracking unreachable peers
  app/app.go
  core/consensus/controller.go
  core/consensus/controller_test.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/hotstuff_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/interfaces.go
  core/peerstracker.go
  p2p/ping.go
Due: run-go-tests, run-regexp, run-testutil

made one sentence more correct and fixed minor typo
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

typos
  .github/workflows/build-push-deploy-promrated.yaml
Due: none

unnecessary gap
  .github/workflows/build-push-deploy.yml
Due: none

added articles
  .github/workflows/label-pr.yml
Due: none

typo
  .pre-commit/run_testutil.sh
Due: none

*: automate PR for release CDVN and CDVC
  .github/workflows/release.yml
Due: none

*: automate PR for release CDVN and CDVC (#3407)
  .github/workflows/release.yml
Due: none

Leader election to account for duty
  core/consensus/hotstuff/cluster.go
  core/consensus/hotstuff/cluster_internal_test.go
  core/consensus/hotstuff/hotstuff.go
  core/hotstuff/cluster_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped libp2p to v0.37.2
  go.mod
  go.sum
Due: none

*: bumped libp2p to v0.37.2 (#3408)
  go.mod
  go.sum
Due: none

testutil: bumped compose tool components
  testutil/compose/static/lighthouse/Dockerfile
  testutil/compose/static/lodestar/Dockerfile
  testutil/compose/static/vouch/Dockerfile
Due: none

dkg: fixing TestSyncFlow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: add condition to trigger dispatch only for specific tags
  .github/workflows/release.yml
Due: none

dkg: fixing TestSyncFlow (#3410)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

testutil: bumped compose tool components (#3409)
  testutil/compose/static/lighthouse/Dockerfile
  testutil/compose/static/lodestar/Dockerfile
  testutil/compose/static/vouch/Dockerfile
Due: none

Update dkg.md
  docs/dkg.md
Due: none
