Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Strict unique validator keys
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
Due: run-go-tests, run-regexp, run-testutil

Other small improvements
  cmd/loadvalidatorkeys.go
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix exchanger deadlock during partial signature exchange (#4590)
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: opt in for incomplete validator_keys (#4591)
  cmd/depositsign.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/feerecipientsign.go
  cmd/loadvalidatorkeys.go
  cmd/loadvalidatorkeys_internal_test.go
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
Due: run-go-tests, run-regexp, run-testutil

Rotate PAT
  .github/workflows/release.yml
Due: none

Fetch latest versions on minor releases for compatibility matrix
  testutil/genchangelog/main.go
  testutil/genchangelog/template.md
Due: run-go-tests, run-regexp, run-testutil

Fix potential code injection
  .github/workflows/patch-release-step1.yml
  .github/workflows/patch-release-step2.yml
  .github/workflows/patch-release-step3.yml
  .github/workflows/patch-release-step4.yml
Due: none

Fix auth style
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

Potential fix for pull request finding
  testutil/genchangelog/template.md
Due: none

Apply suggestions from code review
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

Fix potential code injection (#4598)
  .github/workflows/patch-release-step1.yml
  .github/workflows/patch-release-step2.yml
  .github/workflows/patch-release-step3.yml
  .github/workflows/patch-release-step4.yml
Due: none

*: fetch latest versions release notes (#4597)
  testutil/genchangelog/main.go
  testutil/genchangelog/template.md
Due: run-go-tests, run-regexp, run-testutil

core/parsigex,dkg: harden partial signature exchange
  core/parsigex/parsigex.go
  core/parsigex/parsigex_test.go
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_reshare.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Sync contributions per subcommittee
  core/aggsigdb/memory.go
  core/aggsigdb/memory_internal_test.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/interfaces.go
  core/parsigdb/memory.go
  core/proto_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracing.go
  core/types.go
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

Gate behind info sync
  app/app.go
  core/dutydb/memory.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/infosync/infosync_internal_test.go
  core/proto_test.go
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

Check for 0 value division
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

Add more tests
  core/fetcher/fetcher_test.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-testutil

fix: correct regexp pattern for error message validation
  .pre-commit/run_regexp.sh
Due: none

docs: add missing punctuation in README description
  README.md
Due: none

core/priority: add leading slash to protocol ID
  core/priority/prioritiser.go
  core/priority/prioritiser_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

p2p: fix flaky TestWithReceiveTimeout on QUIC
  p2p/sender_test.go
Due: run-go-tests, run-testutil

p2p: fix flaky TestWithReceiveTimeout on QUIC (#4606)
  p2p/sender_test.go
Due: run-go-tests, run-testutil

Increase sync message deadline to a slot duration
  core/deadline.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil

Increase sync message deadline to a slot duration (#4610)
  core/deadline.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil

*: harden partial signature exchange (#4599)
  core/parsigex/parsigex.go
  core/parsigex/parsigex_test.go
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_reshare.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/priority: add leading slash to protocol ID (#4605)
  core/priority/prioritiser.go
  core/priority/prioritiser_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

core/priority: use stable sort for scored priorities
  core/priority/calculate.go
  core/priority/calculate_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/priority: use stable sort for scored priorities (#4611)
  core/priority/calculate.go
  core/priority/calculate_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: sync contributions per subcommittee (#4602)
  app/app.go
  core/aggsigdb/memory.go
  core/aggsigdb/memory_internal_test.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/infosync/infosync_internal_test.go
  core/interfaces.go
  core/parsigdb/memory.go
  core/proto_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracing.go
  core/types.go
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

Optimise sync contribution fetching
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-regexp, run-testutil

Optimise sync contribution fetching (#4615)
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-regexp, run-testutil

harden dkg
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/pedersen/board.go
  dkg/pedersen/config.go
  dkg/pedersen/dkg.go
  dkg/pedersen/dkg_internal_test.go
  dkg/pedersen/reshare.go
  dkg/protocol.go
  dkg/protocol_restart_test.go
  dkg/sync/server.go
  dkg/sync/sync_test.go
  docs/dkg.md
Due: run-go-tests, run-regexp, run-testutil

dkg/sync: harden step tracking against invalid peers
  dkg/sync/server.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fail fast on peer restart or death during ceremonies (#4616)
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/pedersen/board.go
  dkg/pedersen/config.go
  dkg/pedersen/dkg.go
  dkg/pedersen/dkg_internal_test.go
  dkg/pedersen/reshare.go
  dkg/protocol.go
  dkg/protocol_restart_test.go
  dkg/sync/server.go
  dkg/sync/sync_test.go
  docs/dkg.md
Due: run-go-tests, run-regexp, run-testutil

Configurable time offset for different duties in a slot
  app/app.go
  app/eth2wrap/utils.go
  app/eth2wrap/utils_internal_test.go
  app/eth2wrap/utils_test.go
  app/featureset/featureset.go
  app/vmock.go
  core/bcast/bcast.go
  core/bcast/bcast_internal_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
  core/scheduler/offset.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/slotoffset.go
  core/slotoffset_internal_test.go
  core/slotoffset_test.go
  docs/architecture.md
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/meta.go
Due: run-go-tests, run-regexp, run-testutil

Add more error wrapping
  app/errors/errors_test.go
  app/eth2wrap/utils.go
  app/eth2wrap/utils_internal_test.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

*: configurable time offset for different duties in a slot (#4617)
  app/app.go
  app/errors/errors_test.go
  app/eth2wrap/utils.go
  app/eth2wrap/utils_internal_test.go
  app/eth2wrap/utils_test.go
  app/featureset/featureset.go
  app/vmock.go
  core/bcast/bcast.go
  core/bcast/bcast_internal_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
  core/scheduler/offset.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/slotoffset.go
  core/slotoffset_internal_test.go
  core/slotoffset_test.go
  docs/architecture.md
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/meta.go
Due: run-go-tests, run-regexp, run-testutil

Add PayloadAttestation duty
  app/eth2wrap/utils.go
  app/eth2wrap/utils_internal_test.go
  app/eth2wrap/utils_test.go
  core/slotoffset.go
  core/slotoffset_internal_test.go
  core/types.go
  core/types_test.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
Due: run-go-tests, run-regexp, run-testutil

Close streams on all SendReceive and Send paths
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
