Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

bumped go-eth2-client to v0.21.1
  go.mod
  go.sum
Due: none

added signed and unsigned data tests
  core/signeddata.go
  core/signeddata_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
Due: run-go-tests, run-regexp, run-testutil

workaround for ssz
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/ssz_test.go
Due: run-go-tests, run-regexp, run-testutil

workaround for ssz
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

disabled integration tests with teku
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

ssz respecting blinded flag
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/testdata/TestSSZSerialisation_VersionedBlindedProposal.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedProposal.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedBlindedProposal.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedProposal.ssz.golden
  core/unsigneddata.go
  core/unsigneddata_test.go
  core/validatorapi/validatorapi.go
  testutil/fuzz.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

improved test coverage
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/ssz_test.go
Due: run-go-tests, run-regexp, run-testutil

improved test coverage
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-testutil

improved test coverage
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

improved test coverage
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

improved test coverage
  core/fetcher/fetcher_internal_test.go
  core/signeddata_test.go
  core/unsigneddata_test.go
Due: run-go-tests, run-testutil

improved test coverage and updated docs
  app/eth2wrap/multi_test.go
  core/bcast/bcast_test.go
  core/dutydb/memory_test.go
  core/proto_test.go
  core/types_test.go
  docs/architecture.md
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

Update CLI copy and license
  LICENSE
  cmd/combine.go
  cmd/dkg.go
  cmd/enr.go
  cmd/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

Leave the license out, one thing at a time
  LICENSE
Due: none

Update exit_fetch.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

Update exit.go
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

Update exit_sign.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Update exit_broadcast.go
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Update keystore.go
  eth2util/keystore/keystore.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add exit commands (#2934)
  app/obolapi/exit_test.go
  cmd/cmd.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
  testutil/beaconmock/options.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  app/eth2wrap/eth2wrap_test.go
  core/tracker/inclusion.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed broken TestConfigReference
  docs/configuration.md
Due: none

cmd: update copy (#3006)
  cmd/combine.go
  cmd/dkg.go
  cmd/enr.go
  cmd/relay.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Fixed spec compatibility issues
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Change govulncheck to version at master
  .github/workflows/govulncheck.yml
Due: none

Code refactoring
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Tracker: changed error level back to warning
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

go.mod: update libp2p to version v0.33.2
  go.mod
  go.sum
Due: none

p2p: remove erroneous condition
  p2p/errors.go
Due: run-go-tests, run-regexp, run-testutil

restore standard dialing ranking
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

app/featureset: promote `eager_dlinear`, `consensus_participate`
  app/featureset/featureset.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  core/consensus/roundtimer_internal_test.go
Due: run-go-tests, run-testutil

*: update libp2p to version v0.33.2 (#3017)
  go.mod
  go.sum
  p2p/errors.go
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Update cmd.go
  cmd/cmd.go
Due: run-go-tests, run-regexp, run-testutil

Add general testing package
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Add beacon, peers and validator templates
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

Fix linting
  cmd/test.go
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil
