Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

*: bumped go-eth2-client to 0.21.4 (#3084)
  core/testdata/TestJSONSerialisation_SignedRandao.json.golden
  eth2util/types_test.go
  go.mod
  go.sum
Due: run-go-tests, run-testutil

app/obolapi: specify HTTP requests timeout (#3098)
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/dkg.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: specify exit fetch path (#3099)
  cmd/exit.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

*: update license for the next release candidate (#3100)
  LICENSE
Due: none

cmd: exit with validator index, allow BN URLs (#3106)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: json_requests feature (#3110)
  app/eth2wrap/eth2wrap.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  app/featureset/status_string.go
Due: run-go-tests, run-regexp, run-testutil

testutil/compose: fixed compose smoke test (#3111)
  testutil/compose/static/lighthouse/run.sh
Due: none

app/eth2wrap: deep validator cache (#3114)
  app/app.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  core/scheduler/scheduler.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

*: bump go to version 1.22 (#3092)
  .github/workflows/codeql-analysis.yml
  go.mod
Due: none

Bump go version to 1.22.4
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: bump go version to 1.22.4 (#3118)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

Composite setup go action
  .github/actions/setup-go.yml
Due: none

Change pre-commit.yml to use composite action
  .github/workflows/pre-commit.yml
Due: none

Rename setup-go.yml to action.yml
  .github/actions/setup-go/action.yml
  .github/workflows/pre-commit.yml
Due: none

Change all other workflows to use composite action
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
Due: none

Use actions/checkout before other actions in golangci-lint workflow
  .github/workflows/golangci-lint.yml
Due: none

workflows: composite GitHub actions (#3119)
  .github/actions/setup-go/action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
Due: none

core/validatorapi: return requested validators
  app/app.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: return requested validators (#3123)
  app/app.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix https warning to show only on http
  cmd/cmd.go
  cmd/createcluster.go
  cmd/run.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

*: cherrypick for v1.0-rc3 (#3125)
  app/app.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: bind publish timeout on exit
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

cmd: bind publish timeout on exit (#3127)
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

*: cherrypick for v1.0-rc4 (#3128)
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

dkg: add customizable timeout
  cmd/dkg.go
  core/parsigex/parsigex.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

eth2wrap: initialize fork version on lazy
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

core/scheduler: re-generate buf with v1.34.2
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

dkg: add customizable timeout (#3130)
  cmd/dkg.go
  core/parsigex/parsigex.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

*: not https warning to show only on http (#3124)
  cmd/cmd.go
  cmd/createcluster.go
  cmd/run.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Add test for domains for each supported capella chain
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

Add body to PostPartialExit Obol API error
  app/obolapi/exit.go
Due: run-go-tests, run-regexp, run-testutil

eth2wrap: initialize fork version on lazy (#3131)
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/scheduler/scheduler_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Refactor test consts and revise the thresholds
  cmd/testbeacon.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: new thresholds for test command (#3132)
  cmd/testbeacon.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
