Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

*: label PRs to electra branch (#3468)
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

*: allow deposits greater than 32eth
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

Added pectra feature flag and 0x02 prefix
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Removed pectra feature flag
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  app/peerinfo/peerinfo.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
Due: run-go-tests, run-regexp, run-testutil

feat: Implement weighted scoring system for test results
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

change exponential timer for linear timer
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
  docs/consensus.md
Due: run-go-tests, run-regexp, run-testutil

fix comment
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

Comment out gnosis fix
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

SubmitAttestation to versioned attestation
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/parsigdb/memory_internal_test.go
  core/parsigex/parsigex_test.go
  core/proto.go
  core/proto_test.go
  core/serialise_test.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/ssz_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

go mod tidy
  go.sum
Due: none

update linear timer to only affect proposer duties
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
  docs/consensus.md
Due: run-go-tests, run-regexp, run-testutil

default 1eth and 32eth deposits
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_four_partial_deposits_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  cmd/testdata/TestCreateCluster_two_partial_deposits_files.golden
  dkg/dkg.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Add more random attestation util functions
  app/eth2wrap/eth2wrap_test.go
  core/bcast/bcast_test.go
  core/eth2signeddata_test.go
  core/parsigdb/memory_internal_test.go
  core/parsigex/parsigex_test.go
  core/proto_test.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Revert "default 1eth and 32eth deposits"
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_four_partial_deposits_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  cmd/testdata/TestCreateCluster_two_partial_deposits_files.golden
  dkg/dkg.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

default 1eth and 32eth deposits
  cluster/cluster_internal_test.go
  cluster/definition.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

core/consensus: change exponential timer for linear timer (#3470)
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
  docs/consensus.md
Due: run-go-tests, run-regexp, run-testutil

Fix duty attester test signatures
  core/sigagg/sigagg_test.go
Due: run-go-tests, run-testutil

Update fetcher.go
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

Update eth2util/deposit/deposit_test.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-testutil

addressed PR feedback
  eth2util/deposit/deposit.go
Due: run-go-tests, run-regexp, run-testutil

Fix clockwork breaking changes
  app/monitoringapi_internal_test.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

*: allow deposits greater than 32eth (#3466)
  app/peerinfo/peerinfo.go
  cluster/cluster_internal_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

Fix raw attestation json tag
  core/signeddata.go
  core/testdata/TestJSONSerialisation_VersionedAttestation.json.golden
Due: run-go-tests, run-regexp, run-testutil

Fix error messages
  core/signeddata.go
Due: run-go-tests, run-regexp, run-testutil

feat: add publishing of amd64 arm64 binaries
  .github/workflows/build-release-binaries.yml
  build-all.sh
Due: none

Fix withdrawal addresses error message
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

Add taregtGasLimit to definitoin, upgrade definition to v1.10, make v1.10 default
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-006.json
  cluster/lock.go
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_output.golden
  cmd/testdata/Test_viewClusterManifest.golden
Due: run-go-tests, run-regexp, run-testutil

Use custom gas limit, if specified throughout charon
  app/app.go
  app/obolapi/api_test.go
  cluster/definition.go
  cluster/manifest/cluster_test.go
  cluster/manifest/load_test.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createdkg.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_internal_test.go
  core/validatorapi/validatorapi_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Bump ConfigHash definition_hash value
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

Update configuration.md
  docs/configuration.md
Due: none

*: add custom target gas limit in cluster lock v1.10 (#3456)
  app/app.go
  app/obolapi/api_test.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-006.json
  cluster/lock.go
  cluster/manifest/cluster_test.go
  cluster/manifest/load_test.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/version.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_output.golden
  cmd/testdata/Test_viewClusterManifest.golden
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_internal_test.go
  core/validatorapi/validatorapi_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  docs/configuration.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

add CLI fallback beacon node support in eth2 client configuration
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/eth2wrap/synthproposer_test.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  cmd/run.go
  core/scheduler/scheduler_test.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

modify test fallback behavior and simplify eth2wrap provide
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-regexp, run-testutil

modify fallback test to allow multiple configurations
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

fix race condition on fallback test and golangci-lint issues
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

change fallback logic and remove fallback client
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/eth2wrap/fallback_internal_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer_test.go
  cmd/exit.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

update fallback logic to try all fallback nodes
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
Due: run-go-tests, run-regexp, run-testutil

update fallback client initalizer simnet
  app/app.go
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil
