Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Updated go version globally
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

Have to upgrade protobuf version
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped go version (#2947)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
  testutil/promrated/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

codecov: ignore tests and testutil (#2935)
  codecov.yml
Due: none

app/z: fields refactoring (#2946)
  app/eth2wrap/synthproposer.go
  app/z/zapfield.go
  app/z/zapfield_test.go
Due: run-go-tests, run-regexp, run-testutil

eth2util/deposit: use legacy filename for 32ETH deposit (#2940)
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

core/aggsigdb: refactor MemDB
  app/app.go
  app/featureset/featureset.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

*: partial deposits bugfixes
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-005.json
  cluster/ssz.go
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

*: partial deposits bugfixes (#2951)
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-005.json
  cluster/ssz.go
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil/compose: custom timeout for fuzzer
  testutil/compose/fuzz/fuzz_test.go
Due: run-go-tests, run-testutil

testutil/compose: custom timeout for fuzzer (#2952)
  testutil/compose/fuzz/fuzz_test.go
Due: run-go-tests, run-testutil

cluster: fixed partial amounts hashing
  cluster/examples/cluster-definition-005.json
  cluster/ssz.go
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
Due: run-go-tests, run-regexp, run-testutil

cluster: fixed partial amounts hashing (#2953)
  cluster/examples/cluster-definition-005.json
  cluster/ssz.go
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
Due: run-go-tests, run-regexp, run-testutil

address comments from https://docs.google.com/document/d/140kknAtq2MWIWPUMIH4odoHtO0PhnHcP3EjMuAVhwU0/edit
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_submit.go
  cmd/exit_submit_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

atomically Store and delete deadlined keys
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

don't busy loop on Await, look for store signals
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

Revert "atomically Store and delete deadlined keys"
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

Reapply "atomically Store and delete deadlined keys"
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

Revert "don't busy loop on Await, look for store signals"
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

revert to simple design with busy loop, and simple maps with RWMutex
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  core/aggsigdb/memory_v2.go
Due: run-go-tests, run-regexp, run-testutil

remove todo
  core/consensus/transport.go
Due: run-go-tests, run-regexp, run-testutil

cmd/combine: fix multiple runs
  cmd/combine/combine.go
Due: run-go-tests, run-regexp, run-testutil

add test
  cmd/combine/combine_test.go
Due: run-go-tests, run-testutil

core: remove todo (#2957)
  core/consensus/transport.go
Due: run-go-tests, run-regexp, run-testutil

testutil/compose: fixed smoke dkg test
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

testutil/compose: fixed smoke dkg test (#2965)
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

cluster: unique validator_keys dir
  cluster/helpers.go
  cluster/helpers_internal_test.go
  cmd/createcluster.go
  dkg/disk.go
Due: run-go-tests, run-regexp, run-testutil

cluster: unique validator_keys dir
  cluster/helpers.go
  cluster/helpers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/aggsigdb: refactor MemDB (#2950)
  app/app.go
  app/featureset/featureset.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

cluster: unique validator_keys dir (#2958)
  cluster/helpers.go
  cluster/helpers_internal_test.go
  cmd/createcluster.go
  dkg/disk.go
Due: run-go-tests, run-regexp, run-testutil

*: version compatibility notes
  README.md
Due: none

app/health: app_health_metrics_high_cardinality
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

cmd/combine: fix multiple runs (#2963)
  cmd/combine/combine.go
  cmd/combine/combine_test.go
Due: run-go-tests, run-regexp, run-testutil

threshold depends on num of validators
  app/app.go
  app/health/checker.go
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

Pin buildkit version in buildx steps
  .github/workflows/build-push-deploy.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

Add .vscode to .gitignore
  .gitignore
Due: none

app/health: app_health_metrics_high_cardinality (#2967)
  app/app.go
  app/health/checker.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/metrics.go
  app/monitoringapi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

app: logging lock hash and enr
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

Update README.md
  README.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
