Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

core/validatorapi: check proposal data against consensus one
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigdb: fix tests
  core/parsigdb/memory_internal_test.go
Due: run-go-tests, run-testutil

core/parsigdb: gate hash tree root keying behind feature flag
  app/featureset/featureset.go
  core/parsigdb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: debug print what node operator pushed when parsigdb is inconsistent
  app/featureset/featureset.go
Due: run-go-tests, run-regexp, run-testutil

*: disable intrange linter (#3282)
  .golangci.yml
Due: none

*: fix flaky testpeers test (#3267)
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fix test peers out of range (#3280)
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: increase testpeers tests timeouts (#3268)
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

docs: fix typos (#3236)
  docs/architecture.md
  docs/branching.md
  docs/configuration.md
  docs/contributing.md
  docs/goguidelines.md
Due: none

fix tests
  core/parsigdb/memory_internal_test.go
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

*: add --all for exit sign command (#3272)
  app/obolapi/exit.go
  app/obolapi/exit_test.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: broadcast all exits (#3288)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fetch all exits (#3291)
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Enable fetch all
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

Check threshold on start of CLI
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Check threshold on start of CLI
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Update tests for wrong threshold
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Add check on threshold value for secret sharing
  tbls/herumi.go
Due: run-go-tests, run-regexp, run-testutil

Fix pipeline issues
  cmd/createdkg.go
  tbls/herumi.go
Due: run-go-tests, run-regexp, run-testutil

Fix pipline issues
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Allow threshold to be smaller than BFT quorum
  cmd/createcluster.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Use table-driven tests
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

Fix whitespaces
  cmd/createcluster_internal_test.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-testutil

fix(dockerfile): fix pr comments
  Dockerfile
Due: none

app: generic consensus debugger
  app/app.go
  app/monitoringapi.go
  core/consensus/debugger.go
  core/consensus/debugger_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: generic consensus debugger (#3301)
  app/app.go
  app/monitoringapi.go
  core/consensus/debugger.go
  core/consensus/debugger_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil/beaconmock: update static data with latest holesky snapshot
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/beaconmock/static.json
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix unit tests
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
Due: run-go-tests, run-testutil

*: initial protocols refactoring
  app/app.go
  app/priorities.go
  cmd/run.go
  cmd/version.go
  core/config.go
  core/consensus/utils.go
  core/consensus/utils_internal_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/priority/component.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_internal_test.go
  core/validatorapi/validatorapi_test.go
  docs/configuration.md
  go.mod
  go.sum
  testutil/helpers.go
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

Removed consensus changes for now
  app/app.go
  cmd/run.go
  core/consensus/utils.go
  core/consensus/utils_internal_test.go
  core/priority/component.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Removed consensus changes for now
  cmd/version.go
Due: run-go-tests, run-regexp, run-testutil

Updated go.mod
  go.mod
  go.sum
Due: none

dkg: fixed TestSyncFlow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

dkg: fixed TestSyncFlow (#3309)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

cmd: move threshold check to CLI level (#3297)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  tbls/herumi.go
Due: run-go-tests, run-regexp, run-testutil

cmd: enable exit all (#3296)
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

cmd: print consensus protocols
  cmd/createdkg_internal_test.go
  cmd/version.go
  cmd/version_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Check final score only if no tests based on measurement
  cmd/createdkg_internal_test.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

test: fix test performance flaky test (#3316)
  cmd/createdkg_internal_test.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil
