Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Address PR comments round 1
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Add more description to flags
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

cmd: performance test command (#3197)
  Dockerfile
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Change default obol API to /v1
  cmd/createcluster.go
  cmd/dkg.go
  cmd/exit.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

validator-pubkey to validator-public-key in flag description
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

Rename test command measurement from Bad to Poor
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Increase test peer unit tests timeout
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Bump ethdo version to 1.35.2
  testutil/compose/static/vouch/Dockerfile
Due: none

Change liveness to existence in flag description
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

*: flag refactors (#3198)
  cmd/createcluster.go
  cmd/dkg.go
  cmd/exit.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_sign_internal_test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  cmd/testvalidator.go
  testutil/compose/static/vouch/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

Add fio tests for disk performance
  Dockerfile
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Check for user home dir err
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Improve logs and error statements, add comments
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Refactor fio not found err to separate var
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Remove check for file size, always use 4GB for the test
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

go mod tidy
  go.mod
Due: none

Bump IOPS thresholds by 10x
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Update the long description of the test command
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

*: add fio tests for disk performance (#3203)
  Dockerfile
  cmd/test.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

Version from dev to rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Bump charon version to 1.2-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Add file to homedir
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add file to homedir for fio (#3212)
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add file to homedir for fio in main-v1.1 (#3213)
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

app/version: v1.1 from dev to rc (#3211)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump version to v1.2-dev (#3210)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

add third relay in p2p-relays
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

add third relay in p2p-relays (#3227)
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

*: chiado and custom spec support
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  cmd/createcluster.go
  cmd/createdkg.go
  eth2util/network.go
  eth2util/network_test.go
Due: run-go-tests, run-regexp, run-testutil

docs: fix README.md Launchpad link
  README.md
Due: none

Fixing promrated network overview stats
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

fix tests
  testutil/promrated/rated_internal_test.go
Due: run-go-tests, run-testutil

testutil/promrated: fixing promrated network overview stats (#3234)
  testutil/promrated/rated.go
  testutil/promrated/rated_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Relaxing sig verification
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Relaxing sig verification
  core/parsigex/parsigex.go
Due: run-go-tests, run-regexp, run-testutil

Relaxing sig verification
  core/sigagg/sigagg.go
Due: run-go-tests, run-regexp, run-testutil

DisableParSigChecks feature flag
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/parsigex/parsigex.go
  core/sigagg/sigagg.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Added unit tests
  core/parsigex/parsigex_test.go
  core/sigagg/sigagg_test.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-testutil

fix architecture.md
  docs/architecture.md
Due: none

fix branching.md
  docs/branching.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
