Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

update documentation
  docs/configuration.md
Due: none

add tool directive
  .pre-commit/run_buf.sh
  docs/contributing.md
  go.mod
  go.sum
  tools.go
Due: run-go-tests, run-regexp, run-testutil

app/fetcher: add custom graffiti (#3604)
  app/app.go
  cmd/run.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/fetcher/graffiti.go
  core/fetcher/graffiti_internal_test.go
  docs/configuration.md
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

fix protoc version
  go.mod
  go.sum
Due: none

*: switch to `tool` directive (#3614)
  .pre-commit/run_buf.sh
  docs/contributing.md
  go.mod
  go.sum
  tools.go
Due: run-go-tests, run-regexp, run-testutil

*: testing building binaries
  .github/workflows/build-release-binaries.yml
Due: none

wip
  .github/workflows/build-release-binaries.yml
Due: none

feat: fix build-release-binaries
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

Testing arm releases
  .github/workflows/build-release-binaries.yml
Due: none

feat: fix build w explicit ldflags
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

chore: test1
  .github/workflows/build-release-binaries.yml
Due: none

chore: testing conditions
  .github/workflows/build-release-binaries.yml
Due: none

chore: testing build
  .github/actions/setup-go/action.yml
Due: none

chore: disable VCS stamping
  .github/workflows/build-release-binaries.yml
Due: none

feat: fix build
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

Update build-release-binaries.yml
  .github/workflows/build-release-binaries.yml
Due: none

Parallel tests
  .github/workflows/compose-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
  .github/workflows/unit-tests.yml
  core/fetcher/graffiti_internal_test.go
Due: run-go-tests, run-testutil

fix test used for debugging CI
  core/fetcher/graffiti_internal_test.go
Due: run-go-tests, run-testutil

add cancelation script to integration test workflow
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

remove cancelation scripts
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

*: parallel tests (#3622)
  .github/workflows/compose-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
  .github/workflows/unit-tests.yml
Due: none

Update changelog with renovate, compataibility matrix, and todos
  testutil/genchangelog/main.go
  testutil/genchangelog/template.md
Due: run-go-tests, run-regexp, run-testutil

require.Equal empty string to require.Empty
  core/fetcher/graffiti_internal_test.go
Due: run-go-tests, run-testutil

core: require.Equal empty string to require.Empty (#3627)
  core/fetcher/graffiti_internal_test.go
Due: run-go-tests, run-testutil

update existing eip712type, add T&C eip712 message, add api call to verify/sign T&C and submit partial cluster definition and update cluster definition verification logic
  app/obolapi/api.go
  cluster/definition.go
  cluster/eip712sigs.go
  cmd/createdkg.go
  eth2util/eip712/eip712.go
Due: run-go-tests, run-regexp, run-testutil

add invite text
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

remove unnecessary verification
  app/obolapi/api.go
Due: run-go-tests, run-regexp, run-testutil

change publish flag message
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

remove dead code
  app/obolapi/api.go
Due: run-go-tests, run-regexp, run-testutil

remove verification of signature and update invitation link message
  app/obolapi/api.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

correctly marshal definition for charon api
  app/obolapi/api.go
  cluster/definition.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

fix rebasing issues
  app/disk.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock.go
  cluster/lock_test.go
  cluster/test_cluster_test.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/manifest_tools.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil
