Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

More comments; var renamings
  core/qbft/qbft.go
Due: run-go-tests, run-regexp, run-testutil

Cleanup
  core/consensus/instance/instance_io.go
  core/consensus/qbft/qbft.go
  core/proto.go
  core/qbft/qbft.go
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

Fixes after review
  core/consensus/qbft/msg_internal_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/sniffed_internal_test.go
  core/qbft/qbft.go
Due: run-go-tests, run-regexp, run-testutil

Linting
  core/consensus/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: chain split halt (#3946)
  app/app.go
  app/featureset/featureset.go
  core/consensus/controller.go
  core/consensus/controller_test.go
  core/consensus/instance/instance_io.go
  core/consensus/qbft/msg.go
  core/consensus/qbft/msg_internal_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/qbft_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/consensus/qbft/transport.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

better user input validation
  cmd/addoperators.go
  cmd/addoperators_internal_test.go
  cmd/removeoperators.go
  cmd/removeoperators_internal_test.go
  cmd/reshare.go
  cmd/reshare_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/pedersen/config.go
  dkg/pedersen/config_test.go
  dkg/pedersen/testutils.go
  dkg/protocol.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_reshare.go
  dkg/protocol_test.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

fixing flakey test
  dkg/protocol_test.go
Due: run-go-tests, run-testutil

fixing flakey test
  dkg/protocol.go
  dkg/protocol_test.go
Due: run-go-tests, run-regexp, run-testutil

increased testing timeouts
  .github/workflows/unit-tests.yml
  .pre-commit/run_tests.sh
  dkg/protocol.go
Due: run-go-tests, run-regexp, run-testutil

Allow operator-enrs on publishing new DKG cluster definition to API
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Simplify for loops
  cluster/cluster_test.go
  cluster/manifest/cluster_test.go
  cluster/version.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix error message on DKG definition version
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Add metric gauge for enabled feature flags
  app/featureset/featureset.go
  app/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Switch feature flag label per single feature flag
  app/metrics.go
Due: run-go-tests, run-regexp, run-testutil

core: fix some comment
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

Fix metrics docs
  docs/metrics.md
Due: none

Update log line
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

test: fix flaky TestSchedulerWait/synced_errors test
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

chore: cleanup
  .gitignore
Due: none

core: fix some comment (#3995)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

Update cmd/createdkg.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

app: add metric for enabled feature flags (#3994)
  app/featureset/featureset.go
  app/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: allow `--operator-enrs` on publishing definition to API (#3993)
  cluster/cluster_test.go
  cluster/manifest/cluster_test.go
  cluster/version.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Bump version from dev to rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Bump version from 1.7-dev to 1.8-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Update .gitignore
  .gitignore
Due: none

app: bump version from dev to rc (#3997)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

update cl min version
  app/eth2wrap/version.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: bump min version (#4000)
  app/eth2wrap/version.go
Due: run-go-tests, run-regexp, run-testutil

Bump go-eth2-client v0.27.1
  go.mod
  go.sum
Due: none

*: bump go-eth2-client v0.27.1 (#4002)
  go.mod
  go.sum
Due: none

*: v1.7.0-rc2 (#4003)
  app/eth2wrap/version.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

*: pedersen dkg
  cmd/createdkg.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/dkgpb/v1/pedersen.pb.go
  dkg/dkgpb/v1/pedersen.proto
  dkg/pedersen.go
  dkg/pedersen/board.go
  dkg/pedersen/board_test.go
  dkg/pedersen/config.go
  dkg/pedersen/config_test.go
  dkg/pedersen/dkg.go
  dkg/pedersen/dkg_test.go
  dkg/pedersen/logger.go
  dkg/pedersen/logger_internal_test.go
  dkg/pedersen/proto.go
  dkg/pedersen/proto_test.go
  go.mod
  go.sum
Due: run-go-tests, run-buf, run-regexp, run-testutil

Fixing data race
  dkg/pedersen/board.go
  dkg/pedersen/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixing data race
  dkg/pedersen/board.go
  dkg/pedersen/dkg.go
  dkg/pedersen/logger_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactoring
  dkg/pedersen/board.go
  dkg/pedersen/board_test.go
  dkg/pedersen/dkg_test.go
  dkg/pedersen/helpers_test.go
  dkg/pedersen/proto_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactoring
  dkg/pedersen/dkg.go
  dkg/pedersen/utils.go
  dkg/pedersen/utils_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactoring
  dkg/pedersen.go
  dkg/pedersen/dkg.go
  dkg/pedersen/dkg_test.go
  dkg/pedersen/helpers_test.go
  dkg/pedersen_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
