Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

cleanup
  dkg/disk.go
Due: run-go-tests, run-regexp, run-testutil

*: more warnings on HTTP URLs (#2813)
  dkg/disk.go
  p2p/bootnode.go
Due: run-go-tests, run-regexp, run-testutil

go.mod: update Herumi BLS to v1.33.0
  Dockerfile
  go.mod
  go.sum
Due: none

testutil: fixed promrated.go
  cmd/cmd.go
  cmd/cmd_internal_test.go
  testutil/promrated/promrated.go
Due: run-go-tests, run-regexp, run-testutil

gomod: update Herumi BLS to v1.33.0 (#2814)
  Dockerfile
  go.mod
  go.sum
Due: none

Copied redact function
  cmd/cmd.go
  cmd/cmd_internal_test.go
  testutil/promrated/promrated.go
  testutil/promrated/promrated_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

add secondary relay as p2p-relays
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

testutil: fixed promrated.go (#2815)
  testutil/promrated/promrated.go
  testutil/promrated/promrated_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd/relay: bind debug and monitoring address separately
  cmd/debug_tools.go
  cmd/debug_tools_internal_test.go
  cmd/relay.go
  cmd/relay/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add secondary charon relay (#2816)
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Update cmd/debug_tools.go
  cmd/debug_tools.go
Due: run-go-tests, run-regexp, run-testutil

github/workflows: fuzz tests on nightly
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

remove legacy signed epoch
  eth2util/types.go
  eth2util/types_test.go
Due: run-go-tests, run-regexp, run-testutil

github/workflows: fuzz tests on nightly (#2818)
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

eth2util: remove legacy signed epoch (#2819)
  eth2util/types.go
  eth2util/types_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: --partial-deposits flag
  cluster/deposit.go
  cluster/deposit_internal_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/dkg.go
  cmd/testdata/TestCreateCluster_partial_deposits_files.golden
  cmd/testdata/TestCreateCluster_partial_deposits_output.golden
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

cmd: --deposit-amounts flag
  cmd/createcluster.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  docs/configuration.md
Due: none

cmd/relay: bind debug and monitoring address separately (#2817)
  cmd/debug_tools.go
  cmd/debug_tools_internal_test.go
  cmd/relay.go
  cmd/relay/relay.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

core: removed leadercast leftovers (#2782)
  core/proto.go
  core/unsigneddata.go
  docs/structure.md
Due: run-go-tests, run-regexp, run-testutil

core: addressed some panic instances (#2783)
  core/proto.go
  core/tracing.go
  eth2util/rlp/rlp.go
Due: run-go-tests, run-regexp, run-testutil

core: checking keymanager address (#2795)
  cmd/createcluster.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/keymanager/keymanager.go
  eth2util/keymanager/keymanager_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: strengthen logic for steps update (#2797)
  dkg/dkg.go
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg/bcast: exchange full messages (#2798)
  dkg/bcast/client.go
  dkg/bcast/helpers.go
  dkg/bcast/impl.go
  dkg/bcast/impl_test.go
  dkg/bcast/server.go
  dkg/dkg.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/bcast.proto
  dkg/frostp2p.go
  dkg/nodesigs.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

core: fixing DutyDB Store function (#2800)
  core/dutydb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core: removed unused allowlist and denylist flags (#2801)
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
  p2p/config.go
Due: run-go-tests, run-regexp, run-testutil

cmd: don't bind debug endpoints by default (#2808)
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/lifecycle/orderstop_string.go
  app/monitoringapi.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

core: remove unimportant todos (#2809)
  core/proto.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

eth2util: new deposit message with amount
  cmd/addvalidators.go
  cmd/createcluster.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: definition v1.8
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/deposit_internal_test.go
  cluster/distvalidator.go
  cluster/lock.go
  cluster/ssz.go
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/version.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  eth2util/deposit/deposit.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  cluster/deposit.go
  cluster/deposit_internal_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/dkg.go
  cmd/testdata/TestCreateCluster_four_partial_deposits_files.golden
  cmd/testdata/TestCreateCluster_four_partial_deposits_output.golden
  cmd/testdata/TestCreateCluster_two_partial_deposits_files.golden
  cmd/testdata/TestCreateCluster_two_partial_deposits_output.golden
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Decreasing code duplication
  cluster/definition.go
  cluster/ssz.go
Due: run-go-tests, run-regexp, run-testutil

Improved TestEncode test
  cluster/cluster_test.go
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
Due: run-go-tests, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
