Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

feat: add arm releases
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

fix: tag latest with startsWith
  .github/workflows/build-push-deploy.yml
Due: none

fix: tag latest with startsWith (#3494)
  .github/workflows/build-push-deploy.yml
Due: none

fix: change type raw to semver to tag latest
  .github/workflows/build-push-deploy.yml
Due: none

fix: change type raw to semver to tag latest (#3495)
  .github/workflows/build-push-deploy.yml
Due: none

fix: latest
  .github/workflows/build-push-deploy.yml
Due: none

rm github actions
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-relay-dev.yml
  .github/workflows/deploy-relay-prod.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
Due: none

rm github actions
  .github/workflows/build-push-deploy.yml
Due: none

fix: latest with startsWith and github.ref
  .github/workflows/build-push-deploy.yml
Due: none

fix: latest with startsWith and github.ref (#3497)
  .github/workflows/build-push-deploy.yml
Due: none

test electra
  .github/workflows/build-push-deploy.yml
Due: none

feat: add electra branch support for build and push
  .github/workflows/build-push-deploy.yml
Due: none

feat: add electra branch support for build and push (#3499)
  .github/workflows/build-push-deploy.yml
Due: none

Update build-push-deploy-promrated.yaml (#3437)
  .github/workflows/build-push-deploy-promrated.yaml
Due: none

Update LICENSE
  LICENSE
Due: none

Fix template formatting and improve clarity in feature request template
  .github/ISSUE_TEMPLATE/feature_ticket.md
Due: none

Fix bug report template formatting and improve clarity
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Fix documentation and improve readability
  docs/branching.md
Due: none

Fix documentation errors, improve clarity, and enhance structure
  docs/consensus.md
Due: none

Fix formatting, improve clarity, and verify external links in Charon Distributed Validator Key Generation documentation
  docs/dkg.md
Due: none

Improve documentation: Update project overview, structure, and quickstart instructions
  README.md
Due: none

WIP: eth1 client
  app/app.go
  app/disk.go
  app/eth1wrap/Makefile
  app/eth1wrap/build/IERC1271.abi
  app/eth1wrap/client.go
  app/eth1wrap/generated/erc1271.go
  app/eth1wrap/interfaces/IERC1271.sol
  cluster/definition.go
  cluster/lock.go
  cmd/combine/combine.go
  cmd/run.go
  dkg/disk.go
  dkg/dkg.go
  docs/configuration.md
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

fix fallback test
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

update protos
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

switch gnosis mentions to smart contract base signature
  app/app.go
  app/disk.go
  app/eth1wrap/client.go
  cmd/combine/combine.go
  dkg/disk.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Fix final inclusion check
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

chore: fix some function names in comment
  dkg/frost.go
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

Bump protobuf generated files versions
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: label PRs to electra branch (#3468)
  .github/workflows/label-pr.yml
Due: none

*: allow deposits greater than 32eth (#3466)
  cluster/cluster_internal_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

*: support electra in existing codebase; tests (#3487)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/fetcher/fetcher_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/types_test.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Update golden file after rebase - custom target gas limit (#3491)
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
Due: none

Fix tracker aggregation bits attestations for electra
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/tracker/inclusion.go
  eth2util/statecommittees/statecommittees.go
  resp_test_2.json
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

Add tests and fix linter
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
  eth2util/statecomm/statecomm.go
  testutil/beaconmock/beaconmock.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Remove test file
  resp_test_2.json
Due: none
