Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

fix multi returning incorrect error when no fallbacks available
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

verify if fallbacks are called in test
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

app/eth2wrap: add CLI support for fallback beacon node (#3459)
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/eth2wrap/fallback_internal_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer_test.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  cmd/run.go
  core/scheduler/scheduler_test.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Add electra versioned aggregations
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/success.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/interfaces.go
  core/parsigex/parsigex_test.go
  core/proto.go
  core/proto_test.go
  core/serialise_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/ssz_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/signing/signing.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump go-eth2-client version and fix TODOs
  core/tracker/inclusion_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-testutil

Write own switch cases, instead of waiting on go-eth2-client util funcs
  core/bcast/bcast_test.go
  core/proto_test.go
  core/signeddata.go
  core/tracker/inclusion_internal_test.go
  core/validatorapi/validatorapi.go
  eth2util/signing/signing.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix linter
  core/dutydb/memory.go
  core/eth2signeddata.go
  core/signeddata.go
  core/ssz.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

WIP
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/parsigex/parsigex_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

feat: use pinend version of ubuntu
  .github/workflows/build-release-binaries.yml
Due: none

feat: cleaner checksum.txt
  .github/workflows/build-release-binaries.yml
Due: none

ci: improve release workflow and binary builds
  .github/workflows/build-release-binaries.yml
Due: none

bump proto versions to 1.36.4
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc to fix pre-commit (#3485)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Aggregations fixes and tests updates
  core/parsigex/parsigex_test.go
  core/proto_test.go
  core/signeddata.go
  core/testdata/TestJSONSerialisation_AggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_SignedAggregateAndProof.json.golden
  core/testdata/TestJSONSerialisation_VersionedAggregatedAttestation.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedAggregateAndProof.json.golden
  core/testdata/TestSSZSerialisation_AggregatedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_SignedAggregateAndProof.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedAggregatedAttestation.ssz.golden
  core/testdata/TestSSZSerialisation_VersionedSignedAggregateAndProof.ssz.golden
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock_test.go
  testutil/beaconmock/server.go
  testutil/fuzz.go
  testutil/validatormock/propose_test.go
  testutil/validatormock/testdata/TestAttest_0_aggregations.golden
  testutil/validatormock/testdata/TestAttest_1_aggregations.golden
Due: run-go-tests, run-regexp, run-testutil

Fix submitAttestations parsing
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

feat: reuse golang action for consistency
  .github/workflows/build-release-binaries.yml
Due: none

feat: reuse golang version
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

Bump go-eth2-client
  core/signeddata.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  eth2util/signing/signing.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Fix teku integration test
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

Add electra version support in all switch cases
  app/eth2wrap/synthproposer.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Add more electra tests
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
  core/fetcher/fetcher_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi_test.go
  eth2util/types_test.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

feat(*): update github actions
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
Due: none

*: update github actions (#3490)
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
Due: none

Fetch and broadcast all when not all are activated
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve error handling
  app/obolapi/api.go
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fetch and broadcast all when not all are activated (#3489)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/obolapi/api.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: label PRs to electra branch (#3468)
  .github/workflows/label-pr.yml
Due: none

*: allow deposits greater than 32eth (#3466)
  cluster/cluster_internal_test.go
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_internal_test.go
  eth2util/deposit/deposit_test.go
  eth2util/deposit/testdata/TestMarshalDepositData.golden
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

*: support electra in existing codebase; tests (#3487)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/fetcher/fetcher_internal_test.go
  core/parsigex/parsigex_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracker/inclusion_internal_test.go
  core/unsigneddata_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/types_test.go
  testutil/random.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Update golden file after rebase - custom target gas limit
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
Due: none

feat: Bump to go 1.23.5
  .github/actions/setup-go/action.yml
Due: none

*: fix tag latest with strict rule
  .github/workflows/build-push-deploy.yml
Due: none

*: fix tag latest with strict rule (#3492)
  .github/workflows/build-push-deploy.yml
Due: none

feat: revert go1.23 for latest patch usage
  .github/actions/setup-go/action.yml
Due: none

feat: fix gh action validation
  .github/actions/setup-go/action.yml
Due: none

chore: linting
  .github/actions/setup-go/action.yml
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
