Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

*: harden partial signature exchange (#4599)
  core/parsigex/parsigex.go
  core/parsigex/parsigex_test.go
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_reshare.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/priority: add leading slash to protocol ID (#4605)
  core/priority/prioritiser.go
  core/priority/prioritiser_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

core/priority: use stable sort for scored priorities (#4611)
  core/priority/calculate.go
  core/priority/calculate_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: sync contributions per subcommittee (#4602)
  app/app.go
  core/aggsigdb/memory.go
  core/aggsigdb/memory_internal_test.go
  core/aggsigdb/memory_test.go
  core/aggsigdb/memory_v2.go
  core/aggsigdb/memory_v2_internal_test.go
  core/dutydb/memory.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/infosync/infosync_internal_test.go
  core/interfaces.go
  core/parsigdb/memory.go
  core/proto_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz_test.go
  core/tracing.go
  core/types.go
  core/unsigneddata.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

Optimise sync contribution fetching (#4615)
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fail fast on peer restart or death during ceremonies (#4616)
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/pedersen/board.go
  dkg/pedersen/config.go
  dkg/pedersen/dkg.go
  dkg/pedersen/dkg_internal_test.go
  dkg/pedersen/reshare.go
  dkg/protocol.go
  dkg/protocol_restart_test.go
  dkg/sync/server.go
  dkg/sync/sync_test.go
  docs/dkg.md
Due: run-go-tests, run-regexp, run-testutil

Close streams on all SendReceive and Send paths (#4626)
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

Add 1MB limit to the peer info messages (#4625)
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Fix proposer short second round (#4623)
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

core/qbft: prevent double PREPARE on equivocating leader (#4624)
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove legacy unversioned attestations (#4621)
  core/eth2signeddata.go
  core/proto.go
  core/sigagg/sigagg.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Reject lock with validator count mismatch with definition (#4620)
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

core/qbft: reject zero-value PRE-PREPARE from leader (#4619)
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix flaky peer death DKG test (#4627)
  dkg/protocol_restart_test.go
Due: run-go-tests, run-testutil

core/consensus: fix qbft optimistic first qcommit (#4622)
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Rotate PAT (#4596)
  .github/workflows/release.yml
Due: none

*: fix libp2p logger routing (#4629)
  app/log/slog.go
  app/log/slog_internal_test.go
  cmd/cmd.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/relay.go
  cmd/run.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/qbft: preserve local value on comparison failure (#4628)
  app/eth2wrap/eth2wrap_test.go
  core/qbft/clock_internal_test.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

ci: fix sonarcloud supply-chain vulnerabilities
  .github/workflows/govulncheck.yml
  .github/workflows/kurtosis-smoke-test.yml
  go.mod
  go.sum
Due: none

app/peerinfo: add dv_type field to peerinfo protocol
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
Due: run-go-tests, run-buf, run-regexp, run-testutil

docs: regenerate metrics reference for dv_type gauge
  docs/metrics.md
Due: none

ci: fix sonarcloud supply-chain vulnerabilities (#4631)
  .github/workflows/govulncheck.yml
  .github/workflows/kurtosis-smoke-test.yml
  go.mod
  go.sum
Due: none

app/peerinfo: rename dv_type to dv_client
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

app/peerinfo: add dv_type field to peerinfo protocol (#4632)
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

*: fix libp2p logger routing (#4629)
  app/log/slog.go
  app/log/slog_internal_test.go
  cmd/cmd.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump patch version to v1.10-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

dkg: validate cluster definition threshold
  dkg/dkg.go
  dkg/dkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: dedup definition peers by peer ID
  cluster/cluster_test.go
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

app/log: make ForT log initializers safe and restorable
  app/log/config.go
  app/log/config_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: fix dead deposit amounts validation in unmarshalers
  cluster/cluster_test.go
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigex: bound work triggered by received messages
  app/app.go
  core/parsigex/parsigex.go
  core/parsigex/parsigex_internal_test.go
  core/parsigex/parsigex_test.go
  dkg/dkg.go
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_reshare.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigex: address review feedback
  core/parsigex/parsigex.go
  core/parsigex/parsigex_internal_test.go
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

dkg/bcast: bind broadcast signatures to cluster session
  dkg/bcast/client.go
  dkg/bcast/helpers.go
  dkg/bcast/impl.go
  dkg/bcast/impl_internal_test.go
  dkg/bcast/impl_test.go
  dkg/bcast/server.go
  dkg/dkg.go
  dkg/nodesigs_internal_test.go
  dkg/pedersen/testutils.go
  dkg/protocol_addoperators.go
  dkg/protocol_removeoperators.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_reshare.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

p2p: replace null libp2p resource manager with configured limits
  app/app.go
  app/featureset/featureset.go
  cmd/relay/p2p.go
  p2p/resourcemanager.go
  p2p/resourcemanager_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

p2p: close resource manager when p2p node creation fails
  app/app.go
  cmd/relay/p2p.go
Due: run-go-tests, run-regexp, run-testutil

p2p: pin system and transient resource limits
  p2p/resourcemanager.go
  p2p/resourcemanager_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/log: fix slog handler panic on named types
  app/log/slog.go
  app/log/slog_internal_test.go
Due: run-go-tests, run-regexp, run-testutil
