Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Add custom testnet flags for exits
  cmd/createcluster_internal_test.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

*: cluster definition v1.9
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock.go
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  core/consensus/component.go
  core/consensus/component_test.go
Due: run-go-tests, run-regexp, run-testutil

eth2util: fix remaining failing tests
  eth2util/registration/registration_test.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
Due: run-go-tests, run-regexp, run-testutil

Reduced code duplication
  cluster/ssz.go
Due: run-go-tests, run-regexp, run-testutil

cmd: print consensus protocols (#3313)
  cmd/version.go
  cmd/version_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: removing mutable config (#3307)
  app/app.go
  app/priorities.go
  core/config.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/infosync/infosync.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_internal_test.go
  core/validatorapi/validatorapi_test.go
  testutil/helpers.go
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

feat: create automate pr for release
  .github/workflows/release.yml
Due: none

*: create automate pr for release (#3310)
  .github/workflows/release.yml
Due: none

Use minor go versions in pipelines
  .github/actions/setup-go/action.yml
  .golangci.yml
Due: none

*: cluster definition v1.9 (#3318)
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock.go
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  core/consensus/component.go
  core/consensus/component_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: check proposal data against consensus one (#3292)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/registration/registration_test.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/beaconmock/static.json
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

*: initial consensus factory impl
  app/app.go
  core/consensus/factory.go
  core/consensus/factory_test.go
  core/consensus/protocols.go
  core/consensus/protocols_test.go
  core/consensus/qbft.go
  core/consensus/qbft_internal_test.go
  core/consensus/qbft_test.go
  core/consensus/transport.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

Fixed vapi test
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-testutil

More of QBFT refactoring
  app/app.go
  core/consensus/factory.go
  core/consensus/instance_io.go
  core/consensus/instance_io_internal_test.go
  core/consensus/qbft.go
  core/consensus/qbft_internal_test.go
  core/consensus/qbft_msg.go
  core/consensus/qbft_msg_internal_test.go
  core/consensus/qbft_test.go
  core/consensus/qbft_transport.go
  core/consensus/sniffed_internal_test.go
  core/consensus/sniffer.go
  core/consensus/strategysim_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Updated protoc version
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/validatorapi/validatorapi_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc-gen-go (#3331)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/validatorapi/validatorapi_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Consensus package refactoring
  app/app.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/version.go
  cmd/version_internal_test.go
  core/consensus/factory.go
  core/consensus/factory_test.go
  core/consensus/instance_io.go
  core/consensus/metrics/metrics.go
  core/consensus/protocols/protocols.go
  core/consensus/protocols/protocols_test.go
  core/consensus/qbft/msg.go
  core/consensus/qbft/msg_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/qbft_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/consensus/qbft/testdata/TestDebugRoundChange_empty-1.golden
  core/consensus/qbft/testdata/TestDebugRoundChange_empty-2.golden
  core/consensus/qbft/testdata/TestDebugRoundChange_quorum.golden
  core/consensus/qbft/testdata/TestHashProto.golden
  core/consensus/qbft/transport.go
  core/consensus/sniffed_internal_test.go
  core/consensus/utils/instance_io.go
  core/consensus/utils/instance_io_test.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
  core/consensus/utils/sniffer.go
Due: run-go-tests, run-regexp, run-testutil

testutil: fixed smoke test
  testutil/compose/smoke/smoke_test.go
  testutil/compose/static/lodestar/run.sh
Due: run-go-tests, run-testutil

testutil: fixed smoke test
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

Reverted wrong dir
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

testutil: fixed smoke test (#3332)
  testutil/compose/smoke/smoke_test.go
  testutil/compose/static/lodestar/run.sh
Due: run-go-tests, run-testutil

ConsensusMetrics interface
  core/consensus/metrics/metrics.go
  core/consensus/qbft/qbft.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

ConsensusMetrics interface
  core/consensus/metrics/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

More of refactoring and tests
  app/app.go
  core/consensus/factory.go
  core/consensus/factory_test.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/sniffer.go
  core/consensus/qbft/sniffer_internal_test.go
  core/consensus/qbft/transport.go
  core/interfaces.go
Due: run-go-tests, run-regexp, run-testutil

Dynamic consensus protocol selection
  app/app.go
  core/consensus/debugger.go
  core/consensus/factory.go
  core/consensus/factory_test.go
  core/consensus/mocks/debugger.go
  core/consensus/protocols/protocols.go
  core/consensus/protocols/protocols_test.go
  core/consensus/wrapper.go
  core/consensus/wrapper_internal_test.go
  core/deadline.go
  core/interfaces.go
  core/mocks/consensus.go
  core/mocks/deadliner.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Consensus protocol runtime selection
  app/app.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cmd/run.go
  core/consensus/factory.go
  core/consensus/protocols/protocols.go
  core/consensus/protocols/protocols_test.go
  docs/configuration.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

Improved wording
  app/app.go
  cmd/run.go
  core/consensus/protocols/protocols.go
  core/consensus/protocols/protocols_test.go
  core/interfaces.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Unexported odd symbols
  core/consensus/debugger_internal_test.go
  core/consensus/qbft/msg.go
  core/consensus/qbft/msg_internal_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/sniffer.go
  core/consensus/qbft/sniffer_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/consensus/qbft/transport.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  p2p/sender_internal_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Added docs/consensus.md draft
  docs/README.md
  docs/consensus.md
Due: none

core/consensus: logging leader index
  core/consensus/component.go
  core/consensus/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: optimize Dockerfile (#3281)
  Dockerfile
Due: none

remove fixed test code, fixed already in main
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-testutil

github: use minor go versions in pipelines (#3321)
  .github/actions/setup-go/action.yml
  .golangci.yml
Due: none

exit: add custom testnet flags for exits (#3317)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fallback beacon nodes
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/fallback.go
  app/eth2wrap/fallback_internal_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  core/consensus/wrapper_internal_test.go
  docs/consensus.md
  go.mod
  go.sum
Due: run-go-tests, run-testutil

Addressed PR feedback
  core/consensus/metrics/metrics.go
  core/consensus/qbft/qbft.go
  docs/consensus.md
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil
