Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

cluster config refactoring and tests
  core/consensus/hotstuff/cluster.go
  core/consensus/hotstuff/cluster_internal_test.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/transport_internal_test.go
  core/hotstuff/cluster.go
  core/hotstuff/cluster_internal_test.go
  core/hotstuff/cluster_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/msg_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

fix trigger dispatch repo
  .github/workflows/build-push-deploy.yml
Due: none

cmd: rename test performance to test infra command (#3380)
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: fix trigger dispatch repo (#3381)
  .github/workflows/build-push-deploy.yml
Due: none

hotstuff component and tests
  buf.yaml
  core/consensus/controller.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/hotstuff_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/msg_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

MEV block creation under load test flag
  cmd/testmev.go
  cmd/testmev_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

TOML to JSON, multi categories file and safe disk write
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Rename testperformance to testinfra files
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

distinguish by duty and test with kurtosis
  core/consensus/controller.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/transport.go
  core/consensus/hotstuff/transport_internal_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/msg_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Add simulation file dir flag
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Fix TODO
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

cmd: test command file output improvements (#3384)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Add custom simulation test
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix test names inconsistencies
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Output results at the end of test all
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Move test command outside of alpha state; woohoo!
  cmd/cmd.go
Due: run-go-tests, run-regexp, run-testutil

transport refactoring
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/transport.go
  core/consensus/hotstuff/transport_internal_test.go
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/msg.go
  core/hotstuff/replica.go
  core/hotstuff/transport_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add custom number of validators beacon simulation test (#3385)
  cmd/cmd.go
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

instance io refactoring
  core/consensus/hotstuff/hotstuff.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/utils/instance_io.go
  core/consensus/utils/instance_io_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

max view counter
  core/hotstuff/hotstuff.go
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

respecting ctx and finality condition
  core/hotstuff/replica.go
Due: run-go-tests, run-regexp, run-testutil

add third relay in p2p-relays (#3227)
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

testutil/promrated: fixing promrated network overview stats (#3234)
  testutil/promrated/rated.go
  testutil/promrated/rated_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

docs: launchpad link is broken (#3231)
  README.md
Due: none

*: bump linter to v1.60.3 (#3247)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/eth2wrap/httpwrap.go
  app/expbackoff/expbackoff.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/reducers.go
  app/health/select.go
  app/log/loki/client.go
  app/obolapi/api.go
  cluster/helpers.go
  cmd/markdown_internal_test.go
  cmd/testperformance.go
  core/aggsigdb/memory_v2_internal_test.go
  core/tracker/tracker.go
  core/validatorapi/router.go
  eth2util/keymanager/keymanager.go
  p2p/bootnode.go
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

cmd: refactor exits (#3248)
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bump golang to 1.23.1 (#3261)
  .github/actions/setup-go/action.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

cmd: hardening threshold parameter checks (#3242)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

workflows: bump govulncheck to v1.1.3 (#3262)
  .github/workflows/govulncheck.yml
Due: none

*: add --all for exit sign command (#3272)
  app/obolapi/exit.go
  app/obolapi/exit_test.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

docs: fix typos (#3236)
  docs/architecture.md
  docs/branching.md
  docs/configuration.md
  docs/contributing.md
  docs/goguidelines.md
Due: none

*: disable intrange linter (#3282)
  .golangci.yml
Due: none

cmd: broadcast all exits (#3288)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fetch all exits (#3291)
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fixed TestSyncFlow (#3309)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

cmd: move threshold check to CLI level (#3297)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  tbls/herumi.go
Due: run-go-tests, run-regexp, run-testutil

cmd: enable exit all (#3296)
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

test: fix test performance flaky test (#3316)
  cmd/createdkg_internal_test.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

*: create automate pr for release (#3310)
  .github/workflows/release.yml
Due: none

testutil: fixed smoke test (#3332)
  testutil/compose/smoke/smoke_test.go
  testutil/compose/static/lodestar/run.sh
Due: run-go-tests, run-testutil
