Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Update reasons.md
  docs/reasons.md
Due: none

core/consensus: fixed instance_io race
  core/consensus/utils/instance_io.go
  core/consensus/utils/instance_io_test.go
Due: run-go-tests, run-regexp, run-testutil

Reverted vouch version bump
  testutil/compose/static/vouch/Dockerfile
Due: none

*: add condition to trigger dispatch only for specific tags
  .github/workflows/release.yml
Due: none

Improved using atomic.Bool
  core/consensus/utils/instance_io.go
Due: run-go-tests, run-regexp, run-testutil

core/consensus: fixed instance_io race (#3416)
  core/consensus/utils/instance_io.go
  core/consensus/utils/instance_io_test.go
  testutil/compose/static/vouch/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

*: add condition to trigger dispatch only for specific tags (#3411)
  .github/workflows/release.yml
Due: none

Bump linter v1.62.2
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

Linter fixes
  cluster/definition.go
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

Add eth2wrap latency logging
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/multi.go
Due: run-go-tests, run-regexp, run-testutil

Swap log and timer start
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

Fix rttSeconds check
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

Remove deactivated and deprecated linters
  .golangci.yml
Due: none

Add changes to genwrap.go
  app/eth2wrap/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-testutil

Log string, instead of float
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

Enable logging for ProposalPreparationsSubmitter
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-testutil

typo-Update dkg_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

typo-Update exchanger.go
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

Update build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy-promrated.yaml
Due: none

Update run_testutil.sh
  .pre-commit/run_testutil.sh
Due: none

Add nickname flag to run command and create nickname metric
  app/app.go
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfo_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  cmd/run.go
  dkg/dkg.go
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

Fix protoc-gen-go version, flag description and formatting
  app/app.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  cmd/run.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Update configuration.md and small test fix
  app/peerinfo/adhoc_test.go
  docs/configuration.md
Due: run-go-tests, run-testutil

Update protoc-gen-go to v1.36
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: v1/v2 endpoints warning
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

*: bump linter v1.62.2 (#3418)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  cluster/definition.go
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

Log nickname mapping
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Fix formatting
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

debug
  .github/workflows/test.yml
Due: none

chore: fix some function names in comment
  cluster/cluster_internal_test.go
  cluster/ssz.go
Due: run-go-tests, run-regexp, run-testutil

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Fix comment grammar
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Bump protobuf to 1.36.1
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

add new timer and corresponding feature
  app/featureset/featureset.go
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

formatting
  app/featureset/featureset.go
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

add timer test and fix first round to be one instead of zero
  app/featureset/featureset_internal_test.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

fix typo in round timer test
  core/consensus/utils/roundtimer_test.go
Due: run-go-tests, run-testutil

add exponential timer to GetTimerFunc()
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

Bump protobuf to 1.36.2
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
