Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Addressed PR feedback
  core/consensus/metrics/metrics.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  core/consensus/component.go
  core/consensus/metrics.go
Due: run-go-tests, run-regexp, run-testutil

Updated metrics.md
  docs/metrics.md
Due: none

More of refactoring
  app/app.go
  core/consensus/controller.go
  core/consensus/controller_test.go
  core/consensus/factory.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/qbft_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/wrapper.go
  core/consensus/wrapper_internal_test.go
  core/interfaces.go
  core/mocks/consensus.go
Due: run-go-tests, run-regexp, run-testutil

core/consensus: logging leader index (#3334)
  core/consensus/component.go
  core/consensus/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

testutil/integration: fix nightly test behavior
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

More of refactoring
  app/app.go
  core/consensus/controller.go
  core/consensus/controller_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_test.go
  core/consensus/wrapper.go
  core/consensus/wrapper_internal_test.go
  core/interfaces.go
  core/mocks/consensus.go
Due: run-go-tests, run-regexp, run-testutil

Better deadliner usage
  app/app.go
  core/consensus/controller.go
  core/consensus/controller_test.go
  core/deadline.go
Due: run-go-tests, run-regexp, run-testutil

app/version: v1.2-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: disable intrange linter (#3282)
  .golangci.yml
Due: none

dkg: fixed TestSyncFlow (#3309)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

test: fix test performance flaky test (#3316)
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

core/validatorapi: check proposal data against consensus one (#3292)
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/registration/registration_test.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/beaconmock/static.json
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc-gen-go (#3331)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/validatorapi/validatorapi_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

testutil: fixed smoke test (#3332)
  testutil/compose/smoke/smoke_test.go
  testutil/compose/static/lodestar/run.sh
Due: run-go-tests, run-testutil

*: optimize Dockerfile (#3281)
  Dockerfile
Due: none

github: use minor go versions in pipelines (#3321)
  .github/actions/setup-go/action.yml
  .golangci.yml
Due: none

Fixed build
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-testutil

Added v1.2 to the supported versions
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: bump go to 1.23 (#3250)
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  go.mod
  testutil/promrated/Dockerfile
Due: none

*: bump linter to v1.60.3 (#3247)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/eth2wrap/httpwrap.go
  app/expbackoff/expbackoff.go
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/reducers.go
  app/health/select.go
  app/log/loki/client.go
  app/obolapi/api.go
  cluster/helpers.go
  cmd/markdown_internal_test.go
  cmd/testperformance.go
  core/aggsigdb/memory_v2_internal_test.go
  core/tracker/tracker.go
  core/validatorapi/router.go
  eth2util/keymanager/keymanager.go
  p2p/bootnode.go
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

testutil/integration: fix nightly test behavior (#3343)
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

Improve error messages and logging for exit_sign
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve error messages and logging for exit_list
  cmd/exit_list.go
Due: run-go-tests, run-regexp, run-testutil

Improve error messages and logging for exit_fetch
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

Improve error messages and logging for exit_broadcast
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve error messages and logging for exit
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

Improve error messages and logging for api
  app/obolapi/api.go
  app/obolapi/exit.go
Due: run-go-tests, run-regexp, run-testutil

Refactor obolapi to use standard http functions
  app/obolapi/api.go
  app/obolapi/exit.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Add more obolapi internal tests
  app/obolapi/api_internal_test.go
Due: run-go-tests, run-testutil

Rename newSubmitPartialExitCmd to newSignPartialExitCmd
  cmd/cmd.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Fix regexp
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Add CLI tests for exits
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-testutil

Remove duplicate var in logs
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

Add single validator clarification
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Add more tests for wrapPreRunE
  cmd/exit_fetch_internal_test.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-testutil

Bump golangci-lint to v1.61.0
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
