Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Addressed PR feedback
  app/builderregistration.go
Due: run-go-tests, run-regexp, run-testutil

Trim requestedIdxs from cache
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: trim requestedIdxs from cache (#4413)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app: bump patch version to v1.9-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/version: bump to v1.9-rc (#4414)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: v1.9.3-rc1 (#4415)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Replace go-builder-client
  go.mod
  go.sum
Due: none

Add SSZ unit tests with actual values
  app/obolapi/exit_model_test.go
  cluster/helpers_internal_test.go
  cluster/ssz_internal_test.go
  core/priority/prioritiser_internal_test.go
  core/proto_internal_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
  dkg/pedersen/reshare_internal_test.go
  eth2util/hash_test.go
  eth2util/helper_capella_internal_test.go
  eth2util/types_test.go
Due: run-go-tests, run-testutil

Bring back non-gloas go-eth2-client and builder
  go.mod
  go.sum
Due: none

Fix some leftover tests and linter
  cluster/helpers_internal_test.go
  cluster/ssz_internal_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/validatorapi/router_internal_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

*: more unit tests for testing SSZ (#4416)
  app/obolapi/exit_model_test.go
  cluster/helpers_internal_test.go
  cluster/ssz_internal_test.go
  core/priority/prioritiser_internal_test.go
  core/proto_internal_test.go
  core/signeddata_test.go
  core/ssz_test.go
  core/unsigneddata_test.go
  core/validatorapi/router_internal_test.go
  dkg/pedersen/reshare_internal_test.go
  eth2util/hash_test.go
  eth2util/helper_capella_internal_test.go
  eth2util/types_test.go
  go.mod
  go.sum
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

*: feerecipient auto fetching (#4407)
  app/app.go
  app/builderregistration.go
  app/builderregistration_internal_test.go
  cmd/cmd_internal_test.go
  cmd/feerecipientfetch.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

*: add Claude Code settings and update CLAUDE.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: none

*: add claude code settings and update memory (#4419)
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: none

*: kurtosis-alerts
  .claude/skills/kurtosis-alerts/SKILL.md
  scripts/debug/kurtosis_alerts.py
Due: none

Better script, no skill
  .claude/skills/kurtosis-alerts/SKILL.md
  scripts/debug/kurtosis_alerts.py
Due: none

Added workflow
  .github/workflows/kurtosis-smoke-test.yml
Due: none

core/bcast: log submitted att and att_agg len (#4409)
  core/bcast/bcast.go
Due: run-go-tests, run-regexp, run-testutil

*: kurtosis smoke test workflow (#4420)
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

Loop through each map; proper check for already requested idxs
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Loop through each map; proper check for already requested idxs (#4422)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add cache report
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: second duties cache fix (#4424)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

ci: switch kurtosis smoke test to IAM role auth
  .github/workflows/kurtosis-smoke-test.yml
Due: none

*: switch kurtosis smoke test to iam role auth (#4426)
  .github/workflows/kurtosis-smoke-test.yml
Due: none

dkg: enable testsyncflow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: kurtosis smoke script fix
  .github/workflows/kurtosis-smoke-test.yml
Due: none

*: kurtosis smoke script fix (#4431)
  .github/workflows/kurtosis-smoke-test.yml
Due: none

dkg: enable testsyncflow (#4430)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: improved kurtosis test
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

*: improve kurtosis smoke test reliability (#4432)
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

Report EL version metric
  app/app.go
  app/eth1wrap/interface.go
  app/eth1wrap/mocks/eth_client_runner.go
  app/eth1wrap/runner.go
  app/eth1wrap/version.go
  app/metrics.go
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

Update app/monitoringapi.go
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

Fix breaking change from Copilot review...
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

Silently skip on missing EL
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

Add tests
  app/monitoringapi.go
  app/monitoringapi_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove reporting
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
