Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Update metrics.md
  docs/metrics.md
Due: none

Update branching.md
  docs/branching.md
Due: none

Update contributing.md
  docs/contributing.md
Due: none

Add cluster lock and cluster definition to test peers
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Update dkg.md
  docs/dkg.md
Due: none

Fix status code test
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Pass only wgDone function
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Update markdown_internal_test.go
  cmd/markdown_internal_test.go
Due: run-go-tests, run-testutil

docs: fix typos and improve clarity in documentation files (#3367)
  cmd/markdown_internal_test.go
  docs/branching.md
  docs/contributing.md
  docs/dkg.md
  docs/metrics.md
Due: run-go-tests, run-testutil

cmd: add cluster lock and cluster definition to test peers (#3368)
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: beacon node simulation (#3361)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Shorten MEV relay names in output
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

Shorten ENRs for peers
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Sort test result targets on output
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Fix MEV ASCII
  cmd/ascii.go
Due: run-go-tests, run-regexp, run-testutil

Refactor RTT for load test evaluation
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Fix test MEV description
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

Typo Update README.md
  docs/README.md
Due: none

Add charon test all
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Use requestRTT function on all measure tests
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Refactor RTT evaluation to separate function
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Move bindTestLogFlags to test.go
  cmd/test.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Group functions in test command
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Group functions in test command (#3377)
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

docs: typo in README.md (#3369)
  docs/README.md
Due: none

cmd: test command UX (#3370)
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

k1 sigs instead of tbls
  core/hotstuff/cluster.go
  core/hotstuff/cluster_internal_test.go
  core/hotstuff/crypto.go
  core/hotstuff/crypto_test.go
  core/hotstuff/replica.go
  core/hotstuff/types.go
Due: run-go-tests, run-regexp, run-testutil

values hashing as optimization
  core/hotstuff/crypto.go
  core/hotstuff/crypto_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/hotstuff/transport.go
  core/hotstuff/transport_test.go
  core/hotstuff/types.go
Due: run-go-tests, run-regexp, run-testutil

removing sender field
  core/hotstuff/cluster.go
  core/hotstuff/cluster_internal_test.go
  core/hotstuff/collector.go
  core/hotstuff/collector_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/hotstuff/transport.go
  core/hotstuff/transport_test.go
  core/hotstuff/types.go
Due: run-go-tests, run-regexp, run-testutil

Add createBlock test
  cmd/testmev.go
  cmd/testmev_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

generalized value
  core/hotstuff/cluster.go
  core/hotstuff/crypto.go
  core/hotstuff/crypto_test.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/hotstuff/types.go
Due: run-go-tests, run-regexp, run-testutil

Add createMultipleBlocks test
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: charon test mev create block tests (#3378)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Add version check to beacon node tests
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

hotstuff integration wip
  core/consensus/controller.go
  core/consensus/debugger_internal_test.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/transport.go
  core/consensus/protocols/protocols.go
  core/consensus/protocols/protocols_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/sniffer.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/consensus.proto
  core/hotstuff/hotstuff.go
  core/hotstuff/hotstuff_test.go
  core/hotstuff/replica.go
  core/hotstuff/transport.go
  core/hotstuff/transport_test.go
  core/hotstuff/types.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

transport refactoring and tests
  core/consensus/controller.go
  core/consensus/hotstuff/hotstuff.go
  core/consensus/hotstuff/transport.go
  core/consensus/hotstuff/transport_internal_test.go
  core/hotstuff/replica.go
  core/hotstuff/transport_test.go
  core/hotstuff/types.go
  core/hotstuff/types_test.go
Due: run-go-tests, run-regexp, run-testutil

transport refactoring and tests
  core/consensus/hotstuff/transport.go
  core/consensus/hotstuff/transport_internal_test.go
  core/hotstuff/replica.go
  core/hotstuff/types.go
  core/hotstuff/types_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump protoc-gen-go
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add version check to beacon node tests (#3379)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Rename test performance to test infra command
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
