Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Fix appending to same slice
  core/validatorapi/validatorapi.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix tests
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/integration/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix TestResolveAttDuties test
  core/scheduler/scheduler_internal_test.go
Due: run-go-tests, run-testutil

Fix TestSchedulerDuties test
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

Fix multi tests for cache
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
Due: run-go-tests, run-regexp, run-testutil

Check for nil in dereferencing
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Filter duties cache fetching by vidxs
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

Invalidate cache on reorg only if there was an epoch transition
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

Use slices.collect
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

Add metrics for cache
  app/eth2wrap/cache.go
  app/eth2wrap/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Add feature flag to disable cache
  app/eth2wrap/cache.go
  app/featureset/featureset.go
Due: run-go-tests, run-regexp, run-testutil

Refactor var names in validatorapi
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Fix linter
  app/featureset/featureset.go
Due: run-go-tests, run-regexp, run-testutil

Fix metrics docs
  docs/metrics.md
Due: none

core: log error when bcast proposal (#4240)
  core/bcast/bcast.go
Due: run-go-tests, run-regexp, run-testutil

Apply suggestions from code review
  app/privkeylock/privkeylock.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

*: dkg and pk ux improvements (#4246)
  app/privkeylock/privkeylock.go
  app/privkeylock/privkeylock_internal_test.go
  dkg/dkg.go
  dkg/sync/client.go
Due: run-go-tests, run-regexp, run-testutil

*: edit commands publishing lock (#4235)
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  dkg/protocolsteps.go
  dkg/protocolsteps_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: create dkg with testnet (#4238)
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: add duties cache (#4227)
  app/app.go
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/metrics.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  app/eth2wrap/valcache.go
  app/featureset/config.go
  app/featureset/featureset.go
  app/sse/listener.go
  app/vmock.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_internal_test.go
  core/scheduler/scheduler_test.go
  core/tracker/inclusion.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  docs/metrics.md
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/integration/helpers_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump golibp2p vulnerabilities
  go.mod
  go.sum
Due: none

Fix activation threshold
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Remove custom activation threshold used in already removed discv5
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

go mod tidy
  go.sum
Due: none

Bump to v0.47.0
  go.mod
  go.sum
Due: none

*: better locking
  app/privkeylock/privkeylock.go
  app/privkeylock/privkeylock_internal_test.go
  cmd/createcluster.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/testall.go
  cmd/testpeers.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

deps: update libp2p (#4184)
  go.mod
  go.sum
  p2p/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Fixed test
  cmd/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

add beacon node peer_id metric
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/metrics.go
  app/monitoringapi.go
  docs/metrics.md
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

use node identity from go-eth2-client
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/monitoringapi.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

clean rebase
  app/eth2wrap/lazy.go
Due: run-go-tests, run-regexp, run-testutil

fix lint
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

fix lint again
  app/eth2wrap/multi.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

move to gen
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/multi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Full versions in yml file
  .github/workflows/build-push-deploy-promrated.yml
Due: none

*: better locking (#4255)
  app/privkeylock/privkeylock.go
  app/privkeylock/privkeylock_internal_test.go
  cmd/createcluster.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/testall.go
  cmd/testpeers.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

github: full versions in yml file (#4259)
  .github/workflows/build-push-deploy-promrated.yml
Due: none

app: add beacon node peer_id metric (#4256)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/mocks/client.go
  app/metrics.go
  app/monitoringapi.go
  docs/metrics.md
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

remove specific beacon node id metric and move to version metric
  app/app.go
  app/metrics.go
  app/monitoringapi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

app: remove beacon node peer_id metric (#4264)
  app/app.go
  app/metrics.go
  app/monitoringapi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil
