Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

intermediate commit
  core/genericsig/genericsig.go
  core/types.go
Due: run-go-tests, run-regexp, run-testutil

validatorapi: supporting getValidators with post
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Reduced code duplication
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

Swap rand.Seed with rand.New
  app/obolapi/api_test.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/helpers_internal_test.go
  cluster/lock_test.go
  cluster/manifest/cluster_test.go
  cluster/manifest/load_test.go
  cluster/manifest/mutationaddvalidator_test.go
  cluster/manifest/mutationnodeapproval_test.go
  cluster/test_cluster.go
  cluster/test_cluster_test.go
  cmd/addvalidators_internal_test.go
  cmd/combine/combine_test.go
  cmd/createcluster_internal_test.go
  cmd/view_cluster_manifest_internal_test.go
  core/consensus/component_test.go
  core/consensus/msg_internal_test.go
  dkg/disk_internal_test.go
  dkg/dkg_test.go
  p2p/peer_test.go
  testutil/integration/infosync_test.go
  testutil/integration/nightly_dkg_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Swap math/rand.Read with crypto/rand.Read
  app/k1util/k1util_test.go
  eth2util/rlp/rlp_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Cleanup
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

fix create cluster bug
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-testutil

refactor
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fix create cluster bug (#2852)
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fix create cluster bug (#2854)
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

Added test
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

validatorapi: supporting getValidators with post (#2849)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixes after linting
  eth2util/rlp/rlp_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

*: intra-cluster BLS signatures
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/lifecycle/orderstop_string.go
  core/bcast/bcast.go
  core/deadline.go
  core/genericsig/genericsig.go
  core/parsigdb/memory.go
  core/parsigex/parsigex.go
  core/proto.go
  core/sigagg/sigagg.go
  core/signeddata.go
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

*: intra-cluster BLS signatures
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/lifecycle/orderstop_string.go
  core/bcast/bcast.go
  core/deadline.go
  core/genericsig/genericsig.go
  core/parsigdb/memory.go
  core/parsigex/parsigex.go
  core/proto.go
  core/sigagg/sigagg.go
  core/signeddata.go
  dkg/exchanger.go
  testutil/genericsigtest/main.go
Due: run-go-tests, run-regexp, run-testutil

workflows: tag latest on git tags
  .github/workflows/build-push-deploy.yml
Due: none

also tag "next" to the latest git tag on main
  .github/workflows/build-push-deploy.yml
Due: none

cmd/combine: support testnet config
  cluster/test_cluster.go
  cmd/combine.go
  cmd/combine/combine.go
  cmd/combine/combine_test.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  cluster/test_cluster.go
Due: run-go-tests, run-regexp, run-testutil

Add t.helpers
  cluster/test_cluster.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

validatorapi: fixing failing tests
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

validatorapi: fixing failing tests (#2857)
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

testutil: replace math/rand deprecation (#2850)
  app/k1util/k1util_test.go
  app/obolapi/api_test.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/helpers_internal_test.go
  cluster/lock_test.go
  cluster/manifest/cluster_test.go
  cluster/manifest/load_test.go
  cluster/manifest/mutationaddvalidator_test.go
  cluster/manifest/mutationnodeapproval_test.go
  cluster/test_cluster.go
  cluster/test_cluster_test.go
  cmd/addvalidators_internal_test.go
  cmd/combine/combine_test.go
  cmd/createcluster_internal_test.go
  cmd/view_cluster_manifest_internal_test.go
  core/consensus/component_test.go
  core/consensus/msg_internal_test.go
  dkg/disk_internal_test.go
  dkg/dkg_test.go
  eth2util/rlp/rlp_test.go
  p2p/peer_test.go
  testutil/integration/infosync_test.go
  testutil/integration/nightly_dkg_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

workflows: tag latest on git tags (#2855)
  .github/workflows/build-push-deploy.yml
Due: none

cmd/combine: support testnet config (#2856)
  cluster/test_cluster.go
  cmd/combine.go
  cmd/combine/combine.go
  cmd/combine/combine_test.go
Due: run-go-tests, run-regexp, run-testutil

app: added high_registration_failures_rate check
  app/health/checks.go
  app/health/checks_internal_test.go
  core/bcast/metrics.go
  core/bcast/rate.go
  core/bcast/rate_internal_test.go
  core/bcast/recast.go
  core/bcast/recast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Updated metrics.md
  docs/metrics.md
Due: none

Tracking last two epocs
  app/health/checks.go
  core/bcast/errors_rate.go
  core/bcast/errors_rate_internal_test.go
  core/bcast/rate.go
  core/bcast/rate_internal_test.go
  core/bcast/recast.go
  core/bcast/recast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Tracking last two epocs
  core/bcast/errors_rate.go
  core/bcast/errors_rate_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: handle HTTP methods
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed data race
  app/health/checks.go
  core/bcast/errors_rate.go
  core/bcast/errors_rate_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

validatorapi: supporting getValidators with post (#2864)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Update app/health/checks.go
  app/health/checks.go
Due: run-go-tests, run-regexp, run-testutil

harden "wrong http method" testcase
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

Minor updates
  core/bcast/errors_rate.go
  testutil/compose/README.md
Due: run-go-tests, run-regexp, run-testutil

Addressed PR feedback
  app/health/checks.go
  core/bcast/errors_rate.go
  core/bcast/errors_rate_internal_test.go
  core/bcast/recast.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: handle HTTP methods (#2866)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
