Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Fix proposer short second round
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix optimistic QBFT using qcommit[0] rather than verifying it includes the actual correct value
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Use qCommitValue, rather than qcommit[0] in commit/decide
  core/qbft/qbft.go
Due: run-go-tests, run-regexp, run-testutil

Remove legacy unversioned attestations
  core/eth2signeddata.go
  core/proto.go
  core/sigagg/sigagg.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Prevent double-PREPARE on equivocating leader PRE-PREPARE
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Reject lock with validator count mismatch with definition
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

Add 1MB limit to the peer info messages
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Thread decided round through Decide callback
  core/consensus/qbft/qbft.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix potential test flakiness
  core/consensus/qbft/qbft_internal_test.go
Due: run-go-tests, run-testutil

Improve tests
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-testutil

Improve qbft unit testing
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Close streams on all SendReceive and Send paths (#4626)
  p2p/sender.go
  p2p/sender_test.go
Due: run-go-tests, run-regexp, run-testutil

Add 1MB limit to the peer info messages (#4625)
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

Fix proposer short second round (#4623)
  core/consensus/timer/roundtimer.go
  core/consensus/timer/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

core/qbft: prevent double PREPARE on equivocating leader (#4624)
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove legacy unversioned attestations (#4621)
  core/eth2signeddata.go
  core/proto.go
  core/sigagg/sigagg.go
  core/signeddata.go
  core/signeddata_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Reject lock with validator count mismatch with definition (#4620)
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

Reject zero-value PRE-PREPARE from leader
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Avoid closing channel while QBFT goroutine is running
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix flaky peer death DKG test
  dkg/protocol_restart_test.go
Due: run-go-tests, run-testutil

core/qbft: reject zero-value PRE-PREPARE from leader (#4619)
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix flaky peer death DKG test (#4627)
  dkg/protocol_restart_test.go
Due: run-go-tests, run-testutil

core/consensus: fix qbft optimistic first qcommit (#4622)
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  core/consensus/qbft/sniffed_internal_test.go
  core/consensus/qbft/strategysim_internal_test.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix libp2p logger routing
  app/log/slog.go
  app/log/slog_internal_test.go
  cmd/cmd.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

Avoid per-record lock in libp2p slog handler
  app/log/slog.go
Due: run-go-tests, run-regexp, run-testutil

core/qbft: fix Decide callback signature in tests
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-testutil

Preserve the already fetched value for comparing between the rounds
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix clock in tests
  core/qbft/clock_internal_test.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-testutil

Fix after rebase
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-testutil

Rotate PAT (#4596)
  .github/workflows/release.yml
Due: none

*: fix libp2p logger routing (#4629)
  app/log/slog.go
  app/log/slog_internal_test.go
  cmd/cmd.go
  cmd/dkg.go
  cmd/edit_addoperators.go
  cmd/edit_addvalidators.go
  cmd/edit_recreateprivatekeys.go
  cmd/edit_removeoperators.go
  cmd/edit_replaceoperator.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/relay.go
  cmd/run.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix flaky TestMulti/cl2_before_cl1
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

core/qbft: preserve local value on comparison failure (#4628)
  app/eth2wrap/eth2wrap_test.go
  core/qbft/clock_internal_test.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

docs: refresh stale architecture and structure docs (#4580)
  CLAUDE.md
  docs/architecture.md
  docs/structure.md
Due: none

Fix exchanger deadlock during partial signature exchange (#4590)
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: opt in for incomplete validator_keys (#4591)
  cmd/depositsign.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/feerecipientsign.go
  cmd/loadvalidatorkeys.go
  cmd/loadvalidatorkeys_internal_test.go
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix potential code injection (#4598)
  .github/workflows/patch-release-step1.yml
  .github/workflows/patch-release-step2.yml
  .github/workflows/patch-release-step3.yml
  .github/workflows/patch-release-step4.yml
Due: none

*: fetch latest versions release notes (#4597)
  testutil/genchangelog/main.go
  testutil/genchangelog/template.md
Due: run-go-tests, run-regexp, run-testutil

p2p: fix flaky TestWithReceiveTimeout on QUIC (#4606)
  p2p/sender_test.go
Due: run-go-tests, run-testutil

Increase sync message deadline to a slot duration (#4610)
  core/deadline.go
  core/deadline_test.go
Due: run-go-tests, run-regexp, run-testutil
