Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

dkg: fixed flakey testsyncflow (#4063)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

fix copilot issues
  app/eth2wrap/genwrap/genwrap.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core: fixed flakey scheduler test
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

cmd: add API partial deposit flow (#4032)
  app/obolapi/api.go
  app/obolapi/deposit.go
  app/obolapi/deposit_model.go
  app/obolapi/deposit_test.go
  app/obolapi/exit.go
  app/obolapi/exit_test.go
  cmd/cmd.go
  cmd/deposit.go
  cmd/depositfetch.go
  cmd/depositfetch_internal_test.go
  cmd/depositsign.go
  cmd/depositsign_internal_test.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  testutil/obolapimock/deposit.go
  testutil/obolapimock/exit.go
  testutil/obolapimock/obolapi.go
Due: run-go-tests, run-regexp, run-testutil

core: fixed flakey scheduler test (#4064)
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-testutil

Add more logging to track failed aggregations
  core/dutydb/memory.go
  core/fetcher/fetcher.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: add eth2wrap logic to proxy (#4042)
  app/app.go
  app/app_internal_test.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Log BeaconCommitteeSelections payload
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Update github actions to shas rather than tags
  .github/workflows/build-push-deploy.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compose-tests.yml
  .github/workflows/deploy-relay-dev.yml
  .github/workflows/deploy-relay-prod.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/integration-tests.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/verify-pr.yml
  .gitignore
  Dockerfile
Due: none

Fix bad updates
  .github/workflows/build-push-deploy.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compose-tests.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/integration-tests.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/verify-pr.yml
Due: none

Renovate, ping digests
  .github/renovate.json
Due: none

Fix pre-commit/action sha256
  .github/workflows/pre-commit.yml
Due: none

Add empty line EOF gitignore
  .gitignore
Due: none

github: update github actions to shas rather than tags (#4068)
  .github/renovate.json
  .github/workflows/build-push-deploy.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compose-tests.yml
  .github/workflows/deploy-relay-dev.yml
  .github/workflows/deploy-relay-prod.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/integration-tests.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/verify-pr.yml
  .gitignore
  Dockerfile
Due: none

Add X-Timeout-Ms and Date-Miliseconds and evaluate CreateBlock result based on X-Timeout-Ms
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

cmd: test peers add `X-Timeout-Ms` and `Date-Miliseconds` (#4074)
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

*: bump-minor-version gh action
  .github/workflows/bump-minor-version.yml
Due: none

Apply suggestions from code review
  .github/workflows/bump-minor-version.yml
Due: none

using git hash for 3rd party deps
  .github/workflows/bump-minor-version.yml
Due: none

improved version regex
  .github/workflows/bump-minor-version.yml
Due: none

removed odd input
  .github/workflows/bump-minor-version.yml
Due: none

added line 18
  .github/workflows/bump-minor-version.yml
Due: none

addressed other findings
  .github/workflows/bump-minor-version.yml
Due: none

eth2util/rlp: fixed wrong condition
  eth2util/rlp/rlp.go
Due: run-go-tests, run-regexp, run-testutil

eth2util/rlp: fixed wrong condition (#4087)
  eth2util/rlp/rlp.go
Due: run-go-tests, run-regexp, run-testutil

proper rc version
  .github/workflows/bump-minor-version.yml
Due: none

cmd: relay override for add-vals
  cmd/edit_addvalidators.go
Due: run-go-tests, run-regexp, run-testutil

fetch attestations on block event
  app/app.go
  app/featureset/config.go
  app/featureset/featureset.go
  app/sse/listener.go
  app/sse/listener_internal_test.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: fix incorrect function name in comment
  cluster/cluster_internal_test.go
Due: run-go-tests, run-testutil

fix golangci lint
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil

add ga job
  .github/workflows/tag-minor-release-candidate.yml
Due: none

add ga job
  .github/workflows/tag-minor-full-release.yml
Due: none

improve minor full release workflow
  .github/workflows/tag-minor-full-release.yml
Due: none

update eventtriggeredattestations to use sync.map
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

renamed workflow and added more checks
  .github/workflows/prepare-minor-full-release.yml
Due: none

update checkout action to match other workflows
  .github/workflows/tag-minor-release-candidate.yml
Due: none

more tests and trim eventTriggeredAttestations map
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
Due: run-go-tests, run-regexp, run-testutil
