Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

testutil: re-introduce fuzzing for blinded proposals
  core/serialise_test.go
  testutil/fuzz.go
Due: run-go-tests, run-regexp, run-testutil

core/testdata: update golden files
  core/testdata/TestJSONSerialisation_VersionedSignedProposal.json#01.golden
  core/testdata/TestSSZSerialisation_VersionedSignedProposal.ssz#01.golden
Due: none

core: deprecate VersionedSignedBlindedProposal (#3155)
  core/bcast/bcast.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/parsigex/parsigex_test.go
  core/serialise_test.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/ssz_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedProposal.json#01.golden
  core/testdata/TestSSZSerialisation_VersionedSignedProposal.ssz#01.golden
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/validatorapi_test.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add valIdx to obolapi exit message in expert mode (#3146)
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

*: cherrypick for v1.0-rc7, round two (#3156)
  cmd/exit_sign.go
  core/bcast/bcast.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/parsigex/parsigex_test.go
  core/serialise_test.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/ssz.go
  core/ssz_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedProposal.json#01.golden
  core/testdata/TestSSZSerialisation_VersionedSignedProposal.ssz#01.golden
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/validatorapi_test.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

*: update docker to v27.0.2
  go.mod
  go.sum
Due: none

*: update to Go v1.22.5
  .github/actions/setup-go/action.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: update to Go v1.22.5 (#3163)
  .github/actions/setup-go/action.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: update docker to v27.0.2 (#3162)
  go.mod
  go.sum
Due: none

cmd: beacon node API timeouts
  app/app.go
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

Update cmd/run.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

testutil: fix fuzzing for VersionedSignedProposal
  testutil/fuzz.go
Due: run-go-tests, run-regexp, run-testutil

docs: update configuration.md
  docs/configuration.md
Due: none

fix typos
  docs/dkg.md
Due: none

fix typos
  docs/architecture.md
Due: none

fix typos
  docs/configuration.md
Due: none

fix typos
  docs/goguidelines.md
Due: none

*: update project status
  README.md
Due: none

core/validatorapi: propose v1 and v2 returns 404
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: propose v1 and v2 returns 404 (#3167)
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped go-eth2-client to 0.21.7
  go.mod
  go.sum
Due: none

app/stacksnipe: detect validator services
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/metrics.go
  app/monitoringapi.go
  app/stacksnipe/stacksnipe.go
  app/stacksnipe/stacksnipe_test.go
  cmd/run.go
  docs/configuration.md
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

cmd: beacon node API timeouts (#3164)
  app/app.go
  cmd/cmd_internal_test.go
  cmd/run.go
  docs/configuration.md
  testutil/fuzz.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped go-eth2-client to 0.21.7 (#3168)
  go.mod
  go.sum
Due: none

*: update go-eth2-client to v0.21.7
  go.mod
  go.sum
Due: none

*: update go-eth2-client to v0.21.7 (#3173)
  go.mod
  go.sum
Due: none

Bump golangci-lint version to v1.59.1
  .github/workflows/golangci-lint.yml
Due: none

Fix copyloopvar linting issue
  app/eth2wrap/eth2wrap.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/testpeers.go
  core/priority/calculate.go
  core/scheduler/scheduler.go
  core/tracker/tracker.go
  dkg/dkg.go
  dkg/frost.go
  eth2util/keystore/keystore.go
  tbls/herumi.go
  testutil/beaconmock/server.go
  testutil/integration/infosync_test.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Bump golangci-lint-action to v6
  .github/workflows/golangci-lint.yml
Due: none

Fix copyloopvar linting issue in tests
  app/monitoringapi_internal_test.go
  cmd/combine/combine_test.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_sign_internal_test.go
  cmd/testpeers_internal_test.go
  core/aggsigdb/memory_v2_internal_test.go
  core/parsigex/memory_test.go
  dkg/bcast/impl_test.go
  dkg/dkg_test.go
  dkg/frost_internal_test.go
  dkg/nodesigs_internal_test.go
  testutil/compose/smoke/smoke_test.go
  testutil/integration/nightly_dkg_test.go
  testutil/integration/ping_test.go
Due: run-go-tests, run-testutil

Disable inamedparam
  .golangci.yml
Due: none

Fix revive:unused-parameter linter
  app/health/checks.go
  app/log/config.go
  app/log/log.go
  app/tracer/trace.go
  app/z/zapfield.go
  cmd/relay.go
  cmd/run.go
  core/consensus/component.go
  core/consensus/roundtimer.go
  p2p/ping.go
  p2p/sender.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server.go
  testutil/compose/compose/main.go
  testutil/fuzz.go
  testutil/helpers.go
  testutil/promrated/promrated/main.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: log endpoints in router
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

Fix all other revive linters
  .golangci.yml
  app/eth2wrap/eth2wrap.go
  app/health/checks.go
  app/log/log.go
  app/monitoringapi.go
  app/version/version.go
  cluster/definition.go
  cluster/lock.go
  cluster/ssz.go
  cmd/addvalidators.go
  cmd/cmd.go
  cmd/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/createenr.go
  cmd/dkg.go
  cmd/enr.go
  cmd/exit_broadcast.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/relay.go
  cmd/relay/relay.go
  cmd/run.go
  cmd/version.go
  cmd/view_cluster_manifest.go
  core/consensus/msg.go
  core/priority/component.go
  core/validatorapi/router.go
  dkg/dkg.go
  dkg/exchanger.go
  dkg/frostp2p.go
  eth2util/keystore/keystore.go
  eth2util/keystore/load.go
  p2p/sender.go
  p2p/sender_internal_test.go
  testutil/beaconmock/server.go
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

Disable exportloopref
  .golangci.yml
Due: none

Disable mnd
  .golangci.yml
Due: none

Update golangci-lint version in pre-commit
  .pre-commit-config.yaml
Due: none

Fix nlreturn linter
  app/log/log.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
