Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

fix linting
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

add separate flow for tagging
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/tag-minor-full-release.yml
Due: none

fix security issue
  .github/workflows/tag-minor-full-release.yml
Due: none

add nickname to dkg
  cmd/dkg.go
  dkg/dkg.go
  dkg/dkgpb/v1/sync.pb.go
  dkg/dkgpb/v1/sync.proto
  dkg/protocol.go
  dkg/sync/client.go
  dkg/sync/server.go
  dkg/sync/sync_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

fix golangci lint
  cmd/dkg.go
Due: run-go-tests, run-regexp, run-testutil

code version should be vX.Y and not vX.Y.0
  .github/workflows/prepare-minor-full-release.yml
Due: none

fix wording and whitespace in tag
  .github/workflows/tag-minor-release-candidate.yml
Due: none

fix wording and whitespace in tag
  .github/workflows/prepare-minor-full-release.yml
Due: none

fix wording and whitespace in tag
  .github/workflows/tag-minor-full-release.yml
Due: none

Update .github/workflows/bump-minor-version.yml
  .github/workflows/bump-minor-version.yml
Due: none

*: tag-minor-release-candidate gh action (#4100)
  .github/workflows/tag-minor-release-candidate.yml
Due: none

*: bump-minor-version gh action (#4084)
  .github/workflows/bump-minor-version.yml
Due: none

*: prepare-minor-full-release gh action (#4101)
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/tag-minor-full-release.yml
Due: none

Add core_fetcher_proposal_blinded metric
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Update core/fetcher/fetcher.go
  core/fetcher/fetcher.go
Due: run-go-tests, run-regexp, run-testutil

cluster: fix incorrect function name in comment (#4097)
  cluster/cluster_internal_test.go
Due: run-go-tests, run-testutil

core/fetcher: add core_fetcher_proposal_blinded metric (#4117)
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

cmd: relay override for add-vals (#4091)
  cmd/edit_addvalidators.go
Due: run-go-tests, run-regexp, run-testutil

*: handing 409 for obol api post
  .gitignore
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove unnecessary context timeout
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

*: handing 409 for obol api post (#4121)
  .gitignore
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: removed obsolete testdata
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
  docs/configuration.md
Due: none

cluster: fixed testdata
  cluster/cluster_test.go
  cluster/testdata/cluster_definition_v1_0_0.json
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_definition_v1_1_0.json
  cluster/testdata/cluster_definition_v1_2_0.json
  cluster/testdata/cluster_definition_v1_3_0.json
  cluster/testdata/cluster_definition_v1_4_0.json
  cluster/testdata/cluster_definition_v1_5_0.json
  cluster/testdata/cluster_definition_v1_6_0.json
  cluster/testdata/cluster_definition_v1_7_0.json
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
Due: run-go-tests, run-testutil

cluster: fixed testdata (#4124)
  cluster/cluster_test.go
  cluster/testdata/cluster_definition_v1_0_0.json
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_definition_v1_1_0.json
  cluster/testdata/cluster_definition_v1_2_0.json
  cluster/testdata/cluster_definition_v1_3_0.json
  cluster/testdata/cluster_definition_v1_4_0.json
  cluster/testdata/cluster_definition_v1_5_0.json
  cluster/testdata/cluster_definition_v1_6_0.json
  cluster/testdata/cluster_definition_v1_7_0.json
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
Due: run-go-tests, run-testutil

Add patch release actions and fix to tag minor
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

Improvements on patch scripts and remove option for user input
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

Update .github/workflows/tag-patch-release-candidate.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

*: patch release gh actions (#4125)
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

eliminating redundant code
  dkg/protocol.go
Due: run-go-tests, run-regexp, run-testutil

*: cherry picking blinded metric (#4129)
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: omit unnecessary reassignment
  app/obolapi/exit_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

Changed header to be Cluster-Uuid
  p2p/bootnode.go
Due: run-go-tests, run-regexp, run-testutil

core: fix incorrect struct name in comment
  core/deadline.go
Due: run-go-tests, run-regexp, run-testutil

Support SSE proxy
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

*: added replace-operator command
  cmd/cmd.go
  cmd/edit.go
  cmd/edit_replaceoperator.go
  cmd/edit_replaceoperator_internal_test.go
  cmd/testmev.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  dkg/pedersen/reshare.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_test.go
Due: run-go-tests, run-regexp, run-testutil

core: fix incorrect struct name in comment (#4135)
  core/deadline.go
Due: run-go-tests, run-regexp, run-testutil

Bump golangci-lint v2.6.2
  .github/workflows/golangci-lint.yml
  cmd/testmev.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
Due: run-go-tests, run-regexp, run-testutil
