Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

dash_charon_overview.json to render builder API flag
  testutil/compose/README.md
  testutil/compose/static/grafana/dash_charon_overview.json
Due: none

app/peerinfo: added builder_api_enabled metric (#2890)
  app/app.go
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfo_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  dkg/dkg.go
  docs/metrics.md
  testutil/compose/README.md
  testutil/compose/static/grafana/dash_charon_overview.json
Due: run-go-tests, run-buf, run-regexp, run-testutil

*: add goreleaser
  .gitignore
  .goreleaser.yaml
Due: none

cmd: fixing builder registration timestamp (#2810)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: fix flappy test
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

core/validatorapi: fix flappy test (#2893)
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

*: implement goreleaser
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

cmd: fixing builder registration timestamp (#2892)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

install aarch64 linux gcc
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

try different action for osxcross
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

fix macos sdk version
  .github/workflows/goreleaser.yml
Due: none

fix macos sdk version, again
  .github/workflows/goreleaser.yml
Due: none

use osxcross correct target folder
  .goreleaser.yaml
Due: none

append osxcross binaries to $PATH
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

*: add Makefile
  Makefile
  charon_version.sh
Due: none

dkg/sync: increase by max 2 steps (#2878)
  dkg/dkg_test.go
  dkg/sync/server.go
  dkg/sync/server_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

make the build reproducible
  Makefile
Due: none

cluster: handle definition download error
  cluster/helpers.go
  cluster/helpers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fixing timings in test
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

dkg: fixing timings in test (#2902)
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

testutil/compose: supporting arm64
  testutil/compose/static/lighthouse/Dockerfile
Due: none

Fixed Dockerfile
  testutil/compose/static/lighthouse/Dockerfile
Due: none

remove todos in the cmd package
  cluster/manifest/helpers.go
  cmd/addvalidators_internal_test.go
  cmd/createdkg.go
  cmd/relay.go
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

testutil/compose: supporting arm64 (#2901)
  testutil/compose/static/lighthouse/Dockerfile
Due: none

cmd: remove todos (#2899)
  cluster/manifest/helpers.go
  cmd/addvalidators_internal_test.go
  cmd/createdkg.go
  cmd/relay.go
  cmd/relay/p2p.go
  cmd/relay/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

remove unnecessary todos in dkg
  dkg/disk.go
  dkg/sync/client.go
Due: run-go-tests, run-regexp, run-testutil

dkg: remove todos (#2900)
  dkg/disk.go
  dkg/sync/client.go
Due: run-go-tests, run-regexp, run-testutil

dkg: partial deposits enabled
  cluster/version.go
  cmd/createcluster.go
  cmd/testdata/Test_viewClusterManifest.golden
  core/parsigdb/memory.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Reverted an odd change to memory db
  core/parsigdb/memory.go
Due: run-go-tests, run-regexp, run-testutil

Back to default v1.7
  cluster/version.go
  cmd/testdata/Test_viewClusterManifest.golden
  dkg/dkg_test.go
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

exchanger refactoring
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

remove todos in app package
  app/app.go
  app/eth2wrap/synthproposer.go
  app/health/checks.go
  app/log/config.go
  app/obolapi/api.go
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  app/priorities.go
  app/retry/retry.go
  app/tracer/trace.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

fix NOTE capital case
  app/peerinfo/peerinfo.go
  app/z/zapfield.go
Due: run-go-tests, run-regexp, run-testutil

app: remove todos (#2903)
  app/app.go
  app/eth2wrap/synthproposer.go
  app/health/checks.go
  app/log/config.go
  app/obolapi/api.go
  app/peerinfo/adhoc.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  app/priorities.go
  app/retry/retry.go
  app/tracer/trace.go
  app/z/zapfield.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

*: add Makefile (#2896)
  Makefile
  charon_version.sh
Due: none

cluster: handle definition download error (#2898)
  cluster/helpers.go
  cluster/helpers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: partial deposits enabled (#2894)
  cmd/createcluster.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/exchanger.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

remove todos in ethutil and testutil
  eth2util/eth2exp/attagg.go
  testutil/beaconmock/attestation.go
  testutil/beaconmock/server.go
  testutil/compose/smoke/smoke_test.go
  testutil/integration/simnet_test.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
