Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Add non-breakable fails in testResult
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Check libp2p TCP port is open
  cmd/test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Rename isCompatible to isAcceptable
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Check parent context on TCP Dial
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Remove nil conn check
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Fix linter nlreturn
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: move ctx check before writing to channel (#3054)
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: relax `SlotFromTimestamp` checks
  app/app.go
  app/app_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: log timestamp override in SlotFromTimestamp
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

*: generate with protoc-gen-go v1.34.1
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: relax `SlotFromTimestamp` checks (#3066)
  app/app.go
  app/app_internal_test.go
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Fix typo
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Add check if multistream is running on address
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

defer close connection
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Use eth2v1 library structs
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: alpha test beacon (#3059)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers_internal_test.go
  testutil/helpers.go
Due: run-go-tests, run-regexp, run-testutil

Fix go.mod indent
  go.mod
Due: none

Bump go version to 1.22.3
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: bump go version to 1.22.3 (#3074)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

Copy n bytes from connection
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: alpha test peers tests self (#3052)
  cmd/test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add direct connection test
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Refactor failed tests to return failedTestResult
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

app/version: v1.0-dev
  app/version/version.go
  app/version/version_test.go
Due: run-go-tests, run-regexp, run-testutil

app/peerinfo: fix peerinfo failing test
  app/peerinfo/peerinfo_test.go
Due: run-go-tests, run-testutil

app/version: v1.0-dev (#3077)
  app/peerinfo/peerinfo_test.go
  app/version/version.go
  app/version/version_test.go
Due: run-go-tests, run-regexp, run-testutil

app/peerinfo: version v1.1-dev
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Increase timeout of timeout test
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-testutil

cmd: increase timeout of timeout test (#3079)
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-testutil

app/peerinfo: version v1.1-dev (#3078)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

Retry multiple times before failing; hole punching
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Configurable direct conn timeout
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped go-eth2-client to 0.21.4
  core/testdata/TestJSONSerialisation_SignedRandao.json.golden
  eth2util/types_test.go
  go.mod
  go.sum
Due: run-go-tests, run-testutil

cmd: alpha test peers - add direct connection test (#3073)
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Add validator ping tests
  cmd/test.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add full unit test for test peers command
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add direct connection unit test
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Remove unused error variable
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Fix Greek letters output
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
