Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Require KeyManager when no validator_keys
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove /proposer_config endpoint
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/eth2exp/proposeconf.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

Bump go-eth2-client to v0.26.0-obol.2
  go.mod
  go.sum
Due: none

Update testutil/random.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

Removed --publish flags
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Bring back mistakenly deleted case
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

Remove unused Discord webhooks
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
Due: none

workflows: remove unused Discord webhooks (#3864)
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
Due: none

Reverted setupP2P
  cmd/testpeers.go
  dkg/dkg.go
  p2p/setup.go
Due: run-go-tests, run-regexp, run-testutil

Fixing data race
  cmd/addvalidators_internal_test.go
  testutil/relay/relay.go
Due: run-go-tests, run-regexp, run-testutil

Adjusted startRelay
  testutil/relay/relay.go
Due: run-go-tests, run-regexp, run-testutil

Added TestNewAddValidatorsCmd
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-testutil

Increased test coverage
  app/disk_internal_test.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-testutil

Increased test coverage
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-testutil

Trim state committees
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: trim state committees (#3867)
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: trim state committees (#3868)
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

*: recursive keys loading
  cmd/createcluster.go
  eth2util/keystore/keystore_test.go
  eth2util/keystore/load.go
Due: run-go-tests, run-regexp, run-testutil

*: recursive keys loading
  eth2util/keystore/load.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter version
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

Fix tracker inclusion after PR clash
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: fix tracker inclusion after PR clash (#3873)
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

parse error message
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: improve fallback logic and metric (#3870)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix no defaults in switch statements
  app/eth2wrap/version.go
  app/log/config.go
  app/version/version.go
  cmd/exit.go
  cmd/test.go
  cmd/testinfra.go
  cmd/testpeers.go
  core/infosync/infosync.go
  core/tracker/inclusion.go
  core/validatorapi/router.go
  eth2util/enr/enr.go
Due: run-go-tests, run-regexp, run-testutil

Fixed rebase error
  app/app_internal_test.go
Due: run-go-tests, run-testutil

Use RFC4122 UUIDs
  cluster/definition.go
  cluster/helpers.go
  cluster/helpers_internal_test.go
  cluster/testdata/cluster_definition_v1_0_0.json
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_definition_v1_1_0.json
  cluster/testdata/cluster_definition_v1_2_0.json
  cluster/testdata/cluster_definition_v1_3_0.json
  cluster/testdata/cluster_definition_v1_4_0.json
  cluster/testdata/cluster_definition_v1_5_0.json
  cluster/testdata/cluster_definition_v1_6_0.json
  cluster/testdata/cluster_definition_v1_7_0.json
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
  cmd/testdata/Test_viewClusterManifest.golden
Due: run-go-tests, run-regexp, run-testutil

Launchpad link per network
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Move uuid dep to direct
  go.mod
Due: none

*: added cluster merge scripts (#3847)
  scripts/README.md
  scripts/cluster_merge.sh
  scripts/node_merge.sh
Due: none

*: recursive keystores loading (#3872)
  cmd/createcluster.go
  eth2util/keystore/keystore_test.go
  eth2util/keystore/load.go
Due: run-go-tests, run-regexp, run-testutil

*: `add-validators` command (#3857)
  app/app.go
  app/app_internal_test.go
  app/disk.go
  app/disk_internal_test.go
  app/testdata/test-cluster-lock.json
  app/utils.go
  app/utils_test.go
  cmd/addvalidators.go
  cmd/addvalidators_internal_test.go
  cmd/cmd.go
  cmd/relay/p2p.go
  cmd/relay/p2p_internal_test.go
  cmd/testdata/test_cluster_lock.json
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
  dkg/dkgpb/v1/nodesigs.proto
  dkg/exchanger.go
  dkg/exchanger_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
  testutil/integration/helpers_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
  testutil/relay/relay.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

cmd: launchpad link per network (#3886)
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: use RFC4122 UUIDs (#3887)
  cluster/definition.go
  cluster/helpers.go
  cluster/helpers_internal_test.go
  cluster/testdata/cluster_definition_v1_0_0.json
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_definition_v1_1_0.json
  cluster/testdata/cluster_definition_v1_2_0.json
  cluster/testdata/cluster_definition_v1_3_0.json
  cluster/testdata/cluster_definition_v1_4_0.json
  cluster/testdata/cluster_definition_v1_5_0.json
  cluster/testdata/cluster_definition_v1_6_0.json
  cluster/testdata/cluster_definition_v1_7_0.json
  cluster/testdata/cluster_definition_v1_8_0.json
  cluster/testdata/cluster_definition_v1_9_0.json
  cluster/testdata/cluster_lock_v1_0_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/testdata/cluster_lock_v1_1_0.json
  cluster/testdata/cluster_lock_v1_2_0.json
  cluster/testdata/cluster_lock_v1_3_0.json
  cluster/testdata/cluster_lock_v1_4_0.json
  cluster/testdata/cluster_lock_v1_5_0.json
  cluster/testdata/cluster_lock_v1_6_0.json
  cluster/testdata/cluster_lock_v1_7_0.json
  cluster/testdata/cluster_lock_v1_8_0.json
  cluster/testdata/cluster_lock_v1_9_0.json
  cmd/testdata/Test_viewClusterManifest.golden
  go.mod
Due: run-go-tests, run-regexp, run-testutil

use require.eventually instead of channels
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
