Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

*: bump to go 1.21.4 (#2694)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  testutil/promrated/Dockerfile
Due: none

*: cherry pick commits (#2696)
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/verify-pr.yml
  .golangci.yml
  Dockerfile
  app/eth2wrap/synthproposer.go
  app/obolapi/api.go
  testutil/compose/static/lighthouse/run.sh
  testutil/promrated/Dockerfile
Due: run-go-tests, run-regexp, run-testutil

testutil/genchangelog: generate logs for latest rc release (#2688)
  app/version/version.go
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

fix error comparison for synthetic blocks
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/synthproposer.go
Due: run-go-tests, run-regexp, run-testutil

add tests for eth2wrap and synthetic proposer
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
Due: run-go-tests, run-testutil

fix version matrix test
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

remove v0.16 from supported versions
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

cleanup
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-testutil

compose: fix version matrix test (#2703)
  app/version/version.go
  testutil/compose/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix error comparison for synthetic blocks (#2702)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix error comparison for synthetic blocks (#2705)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
Due: run-go-tests, run-regexp, run-testutil

fix ac to new updates
  app/app.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/monitoringapi.go
  app/monitoringapi_internal_test.go
  core/bcast/bcast.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/ssz.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/testdata/TestSSZSerialisation_VersionedBlindedProposal.ssz.golden
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/eth2exp/attagg_old.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/fuzz.go
  testutil/validatormock/propose.go
  testutil/validatormock/synccomm.go
Due: run-go-tests, run-regexp, run-testutil

send an empty param instead of nil
  app/app.go
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

remove deprecated functions
  app/app.go
  app/eth2wrap/eth2wrap_test.go
  app/vmock.go
  core/bcast/bcast.go
  core/deadline.go
  core/gater.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/tracker/inclusion.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/headproducer.go
  testutil/beaconmock/server_test.go
Due: run-go-tests, run-regexp, run-testutil

fix cluster manifest tests
  cmd/testdata/Test_viewClusterManifest.golden
Due: none

fix cluster manifest golden
  cluster/manifest/testdata/TestAddValidators_proto.golden
  cluster/manifest/testdata/TestGenValidators_proto.golden
  cluster/manifest/testdata/TestLegacyLock_cluster.golden
Due: none

app/log: on-disk log writing
  app/log/config.go
  cmd/run.go
  docs/configuration.md
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

opdate otel/sdk to make it compile properly
  go.mod
  go.sum
Due: none

go.mod: update buf and other opentelemetry deps to latest releases
  go.mod
  go.sum
Due: none

remove leadercast consensus
  app/app.go
  core/leadercast/leadercast.go
  core/leadercast/leadercast_internal_test.go
  core/leadercast/transport.go
  core/leadercast/transport_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

align all the dependency updates by opentelemetry
  go.mod
  go.sum
Due: none

add latest tag to proto dependencies to avoid fetching inconsistent dependencies
  tools.go
Due: run-go-tests, run-regexp, run-testutil

Update app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

cleanup
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

eth2wrap: update interfaces (#2709)
  app/app.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/monitoringapi.go
  app/monitoringapi_internal_test.go
  app/vmock.go
  cluster/manifest/testdata/TestAddValidators_proto.golden
  cluster/manifest/testdata/TestGenValidators_proto.golden
  cluster/manifest/testdata/TestLegacyLock_cluster.golden
  cmd/testdata/Test_viewClusterManifest.golden
  core/bcast/bcast.go
  core/deadline.go
  core/gater.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/ssz.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/testdata/TestSSZSerialisation_VersionedBlindedProposal.ssz.golden
  core/tracker/inclusion.go
  core/unsigneddata.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/eth2exp/attagg_old.go
  eth2util/signing/signing.go
  eth2util/signing/signing_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/headproducer.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server_test.go
  testutil/fuzz.go
  testutil/validatormock/propose.go
  testutil/validatormock/synccomm.go
Due: run-go-tests, run-regexp, run-testutil

core: remove leadercast consensus (#2719)
  app/app.go
  core/leadercast/leadercast.go
  core/leadercast/leadercast_internal_test.go
  core/leadercast/transport.go
  core/leadercast/transport_test.go
  testutil/integration/ping_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

add testnet flags to create cluster
  cmd/addvalidators.go
  cmd/createcluster.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
  eth2util/network.go
Due: run-go-tests, run-regexp, run-testutil

introduce testnet flags
  cmd/createcluster.go
Due: run-go-tests, run-regexp, run-testutil

add custom network feature to charon run
  app/app.go
  cluster/eip712sigs.go
  cmd/createcluster.go
  eth2util/network.go
  eth2util/network_test.go
Due: run-go-tests, run-regexp, run-testutil

fix golangci-lint
  eth2util/eip712/eip712_test.go
Due: run-go-tests, run-testutil

fix opts in api calls
  app/monitoringapi.go
Due: run-go-tests, run-regexp, run-testutil

address review comments
  app/log/config.go
Due: run-go-tests, run-regexp, run-testutil

fix gomod
  go.mod
Due: none

.github/workflows: split tests
  .github/workflows/heavy-test.yml
  .github/workflows/unit-test.yml
Due: none

done
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/synthproposer.go
  core/parsigex/parsigex_test.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/helpers.go
  eth2util/network.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/beaconmock/server.go
  testutil/beaconmock/server_test.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

fix network instantiation
  app/app.go
  cluster/manifest/load.go
  cluster/manifest/load_test.go
  cmd/run.go
  docs/configuration.md
  eth2util/network.go
Due: run-go-tests, run-regexp, run-testutil

always run unit tests
  .github/workflows/unit-test.yml
Due: none

dependencies between heavy jobs
  .github/workflows/heavy-test.yml
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
