Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

add flag to create dkg and add lock to eth1 client initialization
  app/eth1wrap/Makefile
  app/eth1wrap/client.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

add execution engine address flag and sig verification to combine
  cmd/combine.go
  cmd/combine/combine.go
  cmd/combine/combine_test.go
  cmd/createcluster_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

move code generation from makefile to go generate
  app/eth1wrap/Makefile
  app/eth1wrap/client.go
  app/eth1wrap/interfaces/IERC1271.sol
  tools.go
Due: run-go-tests, run-regexp, run-testutil

fix lint issues
  app/eth1wrap/client.go
  cluster/definition.go
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

update flag name
  cmd/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/dkg.go
  cmd/run.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

fix typo
  app/eth1wrap/client.go
Due: run-go-tests, run-regexp, run-testutil

update to safer client initialized check
  app/eth1wrap/client.go
Due: run-go-tests, run-regexp, run-testutil

improve eth1 client abstraction to facilitate mocking/testing
  app/disk.go
  app/eth1wrap/client.go
  app/eth1wrap/eth1wrap.go
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/mocks/client.go
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth1_client.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/eth1client.go
  dkg/disk.go
  dkg/dkg.go
  dkg/eth1client.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

*: suggested eth1 client redesign (#3591)
  app/disk.go
  app/eth1wrap/eth1wrap.go
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/interface.go
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth1_client.go
  app/eth1wrap/mocks/eth_client.go
  app/eth1wrap/mocks/eth_client_runner.go
  cluster/definition.go
  cluster/lock.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/eth1client.go
  core/deadline.go
  dkg/disk.go
  dkg/dkg.go
  dkg/eth1client.go
Due: run-go-tests, run-regexp, run-testutil

run eth1 clients and add small test
  app/disk.go
  app/eth1wrap/eth1wrap.go
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/interface.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  dkg/disk.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

add expbackoff, add NewDefaultEthClientRunner function and update functions
  app/disk.go
  app/eth1wrap/eth1wrap.go
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createdkg.go
  core/deadline.go
  dkg/disk.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

change file name
  app/eth1wrap/runner.go
Due: run-go-tests, run-regexp, run-testutil

remove address from eth1 test and simplify verifyLock logic
  app/disk.go
  app/eth1wrap/eth1wrap_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

remove duplicate eth1 client creations and add noop eth1 client
  app/app.go
  app/disk.go
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/runner.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

remove URL from tests
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

update licence
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/generated/erc1271.go
  app/eth1wrap/interface.go
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth_client.go
  app/eth1wrap/mocks/eth_client_runner.go
  app/eth1wrap/runner.go
Due: run-go-tests, run-regexp, run-testutil

Add limitations for versioned proposal in fuzzer
  testutil/fuzz.go
Due: run-go-tests, run-regexp, run-testutil

testutil: add limitations for versioned proposal in fuzzer (#3603)
  testutil/fuzz.go
Due: run-go-tests, run-regexp, run-testutil

Bump go to 1.24
  .github/actions/setup-go/action.yml
  .github/workflows/codeql-analysis.yml
  .golangci.yml
  .pre-commit-config.yaml
  go.mod
Due: none

update failing test with eth1 mock and update generated mocks
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth_client.go
  app/eth1wrap/mocks/eth_client_runner.go
  dkg/disk_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

refactor: use the built-in max/min to simplify the code
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

switch maybe to once in mock calls and fix dkg test
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  dkg/disk_internal_test.go
Due: run-go-tests, run-testutil

app/eth1wrap: add support for smart contract based signature (#3510)
  app/app.go
  app/disk.go
  app/eth1wrap/build/IERC1271.abi
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
  app/eth1wrap/generated/erc1271.go
  app/eth1wrap/interface.go
  app/eth1wrap/mocks/erc1271.go
  app/eth1wrap/mocks/eth_client.go
  app/eth1wrap/mocks/eth_client_runner.go
  app/eth1wrap/runner.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock.go
  cluster/lock_test.go
  cluster/test_cluster_test.go
  cmd/combine.go
  cmd/combine/combine.go
  cmd/combine/combine_test.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/dkg.go
  cmd/manifest_tools.go
  cmd/run.go
  dkg/disk.go
  dkg/disk_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  docs/configuration.md
  go.mod
  go.sum
  tools.go
Due: run-go-tests, run-regexp, run-testutil

OTLP gRPC tracing
  app/app.go
  app/tracer/trace.go
  app/tracer/trace_test.go
  cmd/cmd_internal_test.go
  cmd/run.go
  core/tracing.go
  core/validatorapi/validatorapi.go
  docs/configuration.md
  go.mod
  go.sum
  testutil/compose/README.md
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/static/grafana/datasource.yml
  testutil/compose/static/tempo/tempo.yaml
  testutil/compose/testdata/TestDockerCompose_run_template.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

Updated golden file
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: none

Set global tracer once
  app/tracer/trace.go
  app/tracer/trace_test.go
Due: run-go-tests, run-regexp, run-testutil

*: otlp grpc tracing (#3606)
  app/app.go
  app/tracer/trace.go
  cmd/cmd_internal_test.go
  cmd/run.go
  core/tracing.go
  core/validatorapi/validatorapi.go
  docs/configuration.md
  go.mod
  go.sum
  testutil/compose/README.md
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/static/grafana/datasource.yml
  testutil/compose/static/tempo/tempo.yaml
  testutil/compose/testdata/TestDockerCompose_run_template.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

*: make function comment match function name
  core/tracker/tracker.go
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

Tracing refactoring
  app/app.go
  app/tracer/trace.go
  core/consensus/qbft/qbft.go
  core/tracing.go
  core/types_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
Due: none

Fix confusing results
  app/app.go
  cmd/createcluster.go
  core/tracker/tracker.go
  dkg/dkg.go
Due: run-go-tests, run-regexp, run-testutil

Exhaustive switch statements
  app/version/version.go
  core/tracker/inclusion.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Return value might not be used, but it's good to have
  cluster/manifest/helpers.go
Due: run-go-tests, run-regexp, run-testutil

Use testing context instead of backrgound
  app/tracer/trace_test.go
  cmd/cmd_internal_test.go
  cmd/run_internal_test.go
Due: run-go-tests, run-testutil

Fix missuse of msgAndArgs in test
  core/priority/prioritiser_test.go
Due: run-go-tests, run-testutil

Remove deprecated max reservations per peer, it should always be 1
  cmd/relay/p2p.go
Due: run-go-tests, run-regexp, run-testutil

Change deprecated libp2p WithUseTransient to WithAllowLimitedConn
  dkg/sync/client.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Remove test case of an unsupported endpoint
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

Skip staticcheck on deprecated attestations v1 endpoint
  core/tracker/inclusion.go
Due: run-go-tests, run-regexp, run-testutil

Change deprecated strings.Title to text/cases.Title
  core/tracing.go
  testutil/genchangelog/main.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
