Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

add "removal of unsupported hardforks" to the MAJOR reasons
  README.md
Due: none

*: version compatibility notes (#2966)
  README.md
Due: none

app: logging license notice
  cmd/cmd.go
  cmd/dkg.go
  cmd/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

workflows: avoid unknown/unknown architecture in ghcr (#2971)
  .github/workflows/build-push-deploy.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
  .gitignore
Due: none

Addressed PR feedback
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

app: logging lock hash and enr (#2972)
  app/app.go
  cmd/cmd.go
  cmd/dkg.go
  cmd/relay.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

Add custom QEMU, instead of using default pre-installed QEMU for arch64 builds
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

architecture duty
  docs/architecture.md
Due: none

update interfaces and delete removed ones
  docs/architecture.md
Due: none

docs: update architecture doc (#2985)
  docs/architecture.md
Due: none

integrating go-eth2-client@v0.21.0 wip
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/lazy.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/synthproposer_test.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

removed unused code
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

workflows: add QEMU for arm64 builds (#2980)
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none

corrected fetcher implementation
  app/app.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

fixed sigadd_test.go
  core/sigagg/sigagg_test.go
Due: run-go-tests, run-testutil

fixed eth2wrap_test.go
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

improved bcast_test.go
  core/bcast/bcast_test.go
Due: run-go-tests, run-testutil

fixed test and vmock
  core/bcast/bcast_test.go
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

dutydb to not serve builder duty
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/interfaces.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

removed leftovers
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

chore: fix typos
  docs/configuration.md
  docs/goguidelines.md
Due: none

unsinged data json serialization
  core/dutydb/memory.go
  core/fetcher/fetcher_test.go
  core/serialise_test.go
  core/signeddata.go
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

fixed ssz serialization
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/synthproposer_test.go
  core/proto_test.go
  core/ssz.go
  core/ssz_test.go
  core/unsigneddata.go
  testutil/fuzz.go
  testutil/random.go
Due: run-go-tests, run-regexp, run-testutil

refactor to allow individually specifying cluster lock, validar_keys and enr privkey paths
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_submit.go
  cmd/exit_submit_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

refactor exit submit cmd to "sign"
  cmd/cmd.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

add "exit fetch" command
  cmd/cmd.go
  cmd/exit.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

Deprecated DutyBuilderProposal usage
  core/bcast/bcast.go
  core/deadline_test.go
  core/dutydb/memory.go
  core/fetcher/fetcher.go
  core/parsigex/parsigex_test.go
  core/proto.go
  core/proto_test.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/signeddata.go
  core/ssz_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  core/types.go
  core/validatorapi/validatorapi.go
  docs/architecture.md
  testutil/integration/simnet_test.go
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

Fixed linter issues
  core/signeddata.go
Due: run-go-tests, run-regexp, run-testutil

Updated architecture.md
  docs/architecture.md
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

wire `broadcast` to read from file, if specified
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

address review comments
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

docs: fix typos (#2988)
  docs/configuration.md
  docs/goguidelines.md
Due: none

update apt before installing
  .github/workflows/goreleaser.yml
Due: none

go.mod: downgrade herumi BLS to v1.33.0
  go.mod
  go.sum
Due: none

*: downgrade herumi BLS to v1.33.0 (#2991)
  go.mod
  go.sum
Due: none

Added mockery and lazy_test.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  go.mod
  go.sum
  tools.go
Due: run-go-tests, run-regexp, run-testutil

codecov to ignore mocks
  app/eth2wrap/lazy_test.go
  codecov.yml
Due: run-go-tests, run-testutil

fixing flakey test
  app/eth2wrap/eth2wrap_test.go
Due: run-go-tests, run-testutil

improved test coverage for signeddata_test.go
  core/signeddata_test.go
Due: run-go-tests, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
