Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

*: optimize Dockerfile (#3281)
  Dockerfile
Due: none

github: use minor go versions in pipelines (#3321)
  .github/actions/setup-go/action.yml
  .golangci.yml
Due: none

exit: add custom testnet flags for exits (#3317)
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_fetch.go
  cmd/exit_list.go
  cmd/exit_sign.go
Due: run-go-tests, run-regexp, run-testutil

*: bump golangci-lint to v1.61.0 (#3348)
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

*: improve logging and error handling for exits (#3347)
  app/obolapi/api.go
  app/obolapi/api_internal_test.go
  app/obolapi/exit.go
  cmd/cmd.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

cmd: increase Obol API timeout for exits (#3353)
  cmd/exit.go
Due: run-go-tests, run-regexp, run-testutil

*: add needs to trigger (#3351)
  .github/workflows/release.yml
Due: none

github: bump only patch versions for bls library (#3352)
  .github/dependabot.yml
Due: none

docs: fix typos in documentation files (#3364)
  docs/dkg.md
  docs/goguidelines.md
  docs/structure.md
Due: none

docs: fix typos and improve clarity in documentation files (#3367)
  cmd/markdown_internal_test.go
  docs/branching.md
  docs/contributing.md
  docs/dkg.md
  docs/metrics.md
Due: run-go-tests, run-testutil

cmd: add cluster lock and cluster definition to test peers (#3368)
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: beacon node simulation (#3361)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

docs: typo in README.md (#3369)
  docs/README.md
Due: none

cmd: test command UX (#3370)
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testperformance.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

cmd: charon test mev create block tests (#3378)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

cmd: add version check to beacon node tests (#3379)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

cmd: rename test performance to test infra command (#3380)
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testall.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: fix trigger dispatch repo (#3381)
  .github/workflows/build-push-deploy.yml
Due: none

cmd: test command file output improvements (#3384)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

cmd: add custom number of validators beacon simulation test (#3385)
  cmd/cmd.go
  cmd/testall.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bump go to 1.23 (#3250)
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  go.mod
Due: none

core/consensus: logging leader index (#3334)
  core/consensus/component.go
  core/consensus/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: removing mutable config (#3307)
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

*: bumped protoc-gen-go (#3331)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter to v1.62.0
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
Due: none

Disable recvcheck linter
  .golangci.yml
Due: none

Fix tests requires
  app/obolapi/api_internal_test.go
  cmd/addvalidators_internal_test.go
Due: run-go-tests, run-testutil

Remove coreConsensus interface
  core/priority/component.go
Due: run-go-tests, run-regexp, run-testutil

*: bump linter v1.62 (#3387)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  app/obolapi/api_internal_test.go
  cmd/addvalidators_internal_test.go
  core/priority/component.go
Due: run-go-tests, run-regexp, run-testutil

Bump version
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

reverting controller changes
  app/app.go
  core/consensus/controller.go
Due: run-go-tests, run-regexp, run-testutil

fixing proto version
  core/corepb/v1/consensus.pb.go
Due: run-go-tests, run-regexp, run-testutil

fixing bugs
  app/app.go
Due: run-go-tests, run-regexp, run-testutil

Put back chown for /opt/charon in Dockerfile
  Dockerfile
Due: none

Dockerfile: add back chown (#3389)
  Dockerfile
Due: none

Change lock and definiton files flags
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove [REQUIRED] from MEV BN flag
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

Add missed return
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

Single MEV test for block creation; rename multiple blocks flag to number-of-payloads
  cmd/testmev.go
  cmd/testmev_internal_test.go
Due: run-go-tests, run-regexp, run-testutil
