Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

app/eth2wrap: fallback beacon nodes (#3342)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/fallback.go
  app/eth2wrap/fallback_internal_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bump protobuf to 1.36.2 (#3439)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

add consensus round timer documentation
  docs/consensus.md
Due: none

add precedence warning to exponential round timer feature
  app/featureset/featureset.go
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

add exponential to GetTimerFunc test and fix name consistency
  app/featureset/featureset.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
Due: run-go-tests, run-regexp, run-testutil

fix lint issue
  core/consensus/utils/roundtimer.go
Due: run-go-tests, run-regexp, run-testutil

*: bump linter v1.62.2 (#3418)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  .pre-commit/run_linter.sh
  cluster/definition.go
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

add same timer warning, cli flag, default timer and more exponential details
  docs/consensus.md
Due: none

app/peerinfo: add nickname field to peerinfo protocol (#3428)
  app/app.go
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfo_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  cmd/run.go
  dkg/dkg.go
  docs/configuration.md
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

fix default timer doc
  docs/consensus.md
Due: none

Warning about long BN call even if enableLogs is disabled
  app/eth2wrap/eth2wrap.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: v1/v2 endpoints warning (#3431)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

Bump linter to 1.63.4
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  core/validatorapi/validatorapi_test.go
  testutil/compose/fuzz/fuzz_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

go mod tidy
  go.mod
Due: none

app: eth2wrap latency logging (#3417)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
Due: run-go-tests, run-regexp, run-testutil

*: bump linter to 1.63.4 (#3444)
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  core/validatorapi/validatorapi_test.go
  go.mod
  testutil/compose/fuzz/fuzz_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

add beacon node headers cli flag to run and exit command
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/peerinfo/peerinfo.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  cmd/run.go
  core/scheduler/scheduler_test.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

remove unused parameter
  cmd/exit_list.go
Due: run-go-tests, run-regexp, run-testutil

lint
  cmd/exit_list.go
Due: run-go-tests, run-regexp, run-testutil

add condition to only perform verification when headers are present
  app/app.go
  cmd/exit_broadcast.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/run.go
Due: run-go-tests, run-regexp, run-testutil

extract validation and parsing logic to helper function
  app/app.go
  cmd/exit_broadcast.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/run.go
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

add tests for validation and parsing of beacon node headers
  eth2util/helpers_test.go
Due: run-go-tests, run-testutil

fix: Chown -R runner:docker 001
  testutil/compose/auto.go
Due: run-go-tests, run-regexp, run-testutil

add comment to exported functions
  eth2util/helpers.go
Due: run-go-tests, run-regexp, run-testutil

chore: fix struct field name in comment
  eth2util/eth2exp/attagg.go
Due: run-go-tests, run-regexp, run-testutil

Minor typo exchanger.go
  dkg/exchanger.go
Due: run-go-tests, run-regexp, run-testutil

Minor typo ssz_test.go
  core/ssz_test.go
Due: run-go-tests, run-testutil

Allow golangci-lint parallel on .pre-commit
  .pre-commit/run_linter.sh
Due: none

Fix linter
  testutil/compose/auto.go
Due: run-go-tests, run-regexp, run-testutil

build: allow golangci-lint parallel on .pre-commit (#3455)
  .pre-commit/run_linter.sh
Due: none

fix: chown -R runner:docker 001 folder (#3441)
  testutil/compose/auto.go
Due: run-go-tests, run-regexp, run-testutil

Update README.md
  README.md
Due: none

Fix withdrawal addresses error message
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

Add taregtGasLimit to definitoin, upgrade definition to v1.10, make v1.10 default
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/examples/cluster-definition-006.json
  cluster/lock.go
  cluster/ssz.go
  cluster/test_cluster.go
  cluster/testdata/cluster_definition_v1_10_0.json
  cluster/testdata/cluster_lock_v1_10_0.json
  cluster/version.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_files.golden
  cmd/testdata/TestCreateCluster_custom_target_gas_limit_output.golden
  cmd/testdata/Test_viewClusterManifest.golden
Due: run-go-tests, run-regexp, run-testutil

Use custom gas limit, if specified throughout charon
  app/app.go
  app/obolapi/api_test.go
  app/peerinfo/peerinfo.go
  cluster/definition.go
  cluster/manifest/cluster_test.go
  cluster/manifest/load_test.go
  cluster/manifest/mutationlegacylock.go
  cluster/manifestpb/v1/manifest.pb.go
  cluster/manifestpb/v1/manifest.proto
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createdkg.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_internal_test.go
  core/validatorapi/validatorapi_test.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-buf, run-regexp, run-testutil

Contributing discord channel
  docs/contributing.md
Due: none

change BeaconNodeHeaders from string to slice for improved handling
  app/app.go
  cmd/exit.go
  cmd/run.go
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

Update docs/consensus.md
  docs/consensus.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
