Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.2
    hooks:
      - id: check-go-version
        args: [ -v=go1.21 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.54.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

core: integrating go-eth2-client for for v3 endpoint
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  core/types.go
  core/types_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

testutil: remove todos (#2911)
  eth2util/eth2exp/attagg.go
  testutil/beaconmock/attestation.go
  testutil/beaconmock/server.go
  testutil/compose/smoke/smoke_test.go
  testutil/integration/simnet_test.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose.go
Due: run-go-tests, run-regexp, run-testutil

remove todos in p2p package
  p2p/gater.go
  p2p/ping.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

remove todos from cluster
  cluster/ssz.go
  cluster/version.go
Due: run-go-tests, run-regexp, run-testutil

Update go.mod
  go.mod
Due: none

p2p: remove todos (#2914)
  p2p/gater.go
  p2p/ping.go
  p2p/sender_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: remove todos (#2915)
  cluster/ssz.go
  cluster/version.go
Due: run-go-tests, run-regexp, run-testutil

Fetcher supporting universal proposal
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/unsigneddata.go
  core/unsigneddata_test.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Bumped go-eth2-client with better field names
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  go.mod
  go.sum
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Added UniversalProposerDefinition
  core/dutydefinition.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed linter issues
  core/dutydefinition.go
  core/unsigneddata.go
  core/unsigneddata_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed linter issues
  core/dutydefinition.go
Due: run-go-tests, run-regexp, run-testutil

app/obolapi: add exit endpoints
  app/obolapi/exit.go
  app/obolapi/exit_model.go
  app/obolapi/exit_model_test.go
  app/obolapi/exit_server_test.go
  app/obolapi/exit_test.go
Due: run-go-tests, run-regexp, run-testutil

Some simplification
  core/unsigneddata.go
  core/unsigneddata_test.go
Due: run-go-tests, run-regexp, run-testutil

Removed odd code and added tests
  core/dutydefinition.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/types_test.go
Due: run-go-tests, run-regexp, run-testutil

Removed odd code
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-testutil

DutyDB supporting UniversalProposal
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
Due: run-go-tests, run-regexp, run-testutil

Optimized json unmarshaling
  core/signeddata.go
  core/unsigneddata.go
Due: run-go-tests, run-regexp, run-testutil

Added fetcher test for universal proposal
  core/fetcher/fetcher_test.go
Due: run-go-tests, run-testutil

pre-commit: bumped golangci-lint
  .pre-commit-config.yaml
Due: none

cleanup
  go.mod
Due: none

app/obolapi: add exit endpoints (#2926)
  app/obolapi/exit.go
  app/obolapi/exit_model.go
  app/obolapi/exit_model_test.go
  app/obolapi/exit_server_test.go
  app/obolapi/exit_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

*: bumped golangci-lint (#2927)
  .pre-commit-config.yaml
Due: none

core: integrating go-eth2-client for for v3 endpoint (#2913)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/types.go
  core/types_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

testutil/validatormock: supporting universal proposal
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

core: universalproposal as signeddata
  core/signeddata.go
  core/signeddata_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
Due: run-go-tests, run-regexp, run-testutil

cmd: add exit commands
  app/obolapi/exit_test.go
  cmd/cmd.go
  cmd/exit.go
  cmd/exit_fullexit.go
  cmd/exit_fullexit_internal_test.go
  cmd/exit_list.go
  cmd/exit_list_internal_test.go
  cmd/exit_submitpartial.go
  cmd/exit_submitpartial_internal_test.go
  eth2util/keystore/keystore.go
  eth2util/keystore/keystore_test.go
  testutil/beaconmock/options.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

codecov: ignore tests and testutil
  codecov.yml
Due: none

core: universalproposal implements signeddata (#2929)
  core/signeddata.go
  core/signeddata_test.go
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
Due: run-go-tests, run-regexp, run-testutil

testutil/validatormock: supporting universal proposal (#2928)
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

*: revert new v3 endpoint work
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
  core/types.go
  core/types_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

*: revert new v3 endpoint work (#2939)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  core/dutydb/memory.go
  core/dutydb/memory_internal_test.go
  core/dutydb/memory_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/testdata/TestJSONSerialisation_VersionedBlindedProposal.json.golden
  core/testdata/TestJSONSerialisation_VersionedSignedBlindedProposal.json.golden
  core/types.go
  core/types_test.go
  core/unsigneddata.go
  core/unsigneddata_test.go
  go.mod
  go.sum
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/validatormock/component.go
  testutil/validatormock/propose.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

eth2util/deposit: use legacy filename for 32ETH deposit
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed tests
  cmd/testdata/TestCreateCluster_custom_testnet_flags_files.golden
  cmd/testdata/TestCreateCluster_goerli_files.golden
  cmd/testdata/TestCreateCluster_simnet_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_disk_files.golden
  cmd/testdata/TestCreateCluster_solo_flow_definition_from_network_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_files.golden
  cmd/testdata/TestCreateCluster_splitkeys_with_cluster_definition_files.golden
  cmd/testdata/TestCreateCluster_test_with_fee_recipient_and_withdrawal_addresses_files.golden
Due: none

go.mod: downgrade go-eth2-client to v0.19.7
  go.mod
  go.sum
Due: none

gomod: downgrade go-eth2-client to v0.19.7 (#2941)
  go.mod
  go.sum
Due: none

app/z: fields refactoring
  app/eth2wrap/synthproposer.go
  app/z/zapfield.go
  app/z/zapfield_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed linter issue
  app/z/zapfield.go
Due: run-go-tests, run-regexp, run-testutil

Have to upgrade protobuf version
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped go version for govulncheck
  .github/workflows/govulncheck.yml
Due: none
