Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Address PR review comments
  cmd/duration.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Fix linting
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Change output file format to only TOML
  cmd/duration.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

Add unit tests
  cmd/testbeacon_internal_test.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-testutil

Add duration unit tests
  cmd/duration.go
  cmd/duration_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Remove NotOK and Timeout test verdicts; disable godot from golangci
  .golangci.yml
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Duration test non internal
  cmd/duration_test.go
Due: run-go-tests, run-testutil

Add flag instead of label in for loop
  cmd/testbeacon.go
Due: run-go-tests, run-regexp, run-testutil

Move ASCII to separate functions
  cmd/ascii.go
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Remove outer labels in peers and validator
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Add support for multiple beacon nodes and multiple peers
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve comments in all 3 test categories
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Change default timeout to 5 minutes
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Add P2PRelays flag to peers test
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

go mod tidy
  go.mod
Due: none

cmd: charon alpha test skeleton (#3008)
  .golangci.yml
  cmd/ascii.go
  cmd/cmd.go
  cmd/duration.go
  cmd/duration_test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

app/featureset: stabilise more features (#3022)
  app/featureset/featureset.go
  core/consensus/roundtimer_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: v1.8 is the default version
  cluster/version.go
Due: run-go-tests, run-regexp, run-testutil

Fixed Test_viewClusterManifest
  cmd/testdata/Test_viewClusterManifest.golden
Due: none

cluster: v1.8 is the default version (#3028)
  cluster/version.go
  cmd/testdata/Test_viewClusterManifest.golden
Due: run-go-tests, run-regexp, run-testutil

*: fix semver link in README
  README.md
Due: none

enable cgo on linux amd64 builds
  .goreleaser.yaml
Due: none

*: fix semver link in README (#3029)
  README.md
Due: none

core/tracker: improved reasons wording
  core/tracker/reason.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  docs/reasons.md
Due: run-go-tests, run-regexp, run-testutil

Re-generated reasons.md
  docs/reasons.md
Due: none

app/eth2wrap: Domain for VOLUNTARY_EXIT
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  eth2util/helper_capella.go
  eth2util/helper_capella_test.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

*: update opentelemetry
  go.mod
  go.sum
Due: none

cleanup
  go.mod
  go.sum
Due: none

app/eth2wrap: sign domain for `VOLUNTARY_EXIT` (#3035)
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  eth2util/helper_capella.go
  eth2util/helper_capella_test.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

*: update opentelemetry v1.25.0 (#3036)
  go.mod
  go.sum
Due: none

core/tracker: improved reasons wording (#3033)
  core/tracker/reason.go
  core/tracker/tracker.go
  core/tracker/tracker_internal_test.go
  docs/reasons.md
Due: run-go-tests, run-regexp, run-testutil

Add peers tests
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix tickers
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

NATOpen test not implemented
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Fix tests
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Fix nlreturn linter
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Increase peers test timeout
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Add logging
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Cleanup
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Address PR comments, round 1
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil
