Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

docs: fix some a/an issues (#4007)
  app/eth2wrap/eth2wrap_test.go
  tbls/tbls.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

qbft: move chain split check to preprepare round (#4011)
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: v1.7.0-rc4 (#4013)
  .github/workflows/build-push-deploy-promrated.yaml
  .github/workflows/build-push-deploy.yml
  .github/workflows/deploy-relay-dev.yml
  .github/workflows/deploy-relay-prod.yml
  .github/workflows/release.yml
  app/eth2wrap/eth2wrap_test.go
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  core/qbft/qbft.go
  core/qbft/qbft_internal_test.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
  go.mod
  go.sum
  tbls/tbls.go
  testutil/obolapimock/obolapi_exit.go
Due: run-go-tests, run-regexp, run-testutil

Added participating enrs
  cmd/removeoperators.go
  cmd/removeoperators_internal_test.go
  dkg/pedersen/reshare.go
  dkg/pedersen/reshare_internal_test.go
  dkg/protocol.go
  dkg/protocol_removeoperators.go
  dkg/protocol_test.go
Due: run-go-tests, run-regexp, run-testutil

Updated protoc version
  dkg/dkgpb/v1/pedersen.pb.go
Due: run-go-tests, run-regexp, run-testutil

Fixed CLI flags wording
  cmd/dkg.go
  cmd/removeoperators.go
Due: run-go-tests, run-regexp, run-testutil

Addressed PR review
  cmd/test.go
Due: run-go-tests, run-regexp, run-testutil

Update docker flags and API URL in create dkg --publish
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Missed line
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

*: replace context.WithCancel with t.Context
  app/eth1wrap/eth1wrap_test.go
  cmd/createcluster_internal_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

cmd: update docker flags and api url in create dkg (#4024)
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

app: bump version from 1.7-dev to 1.8-dev (#3998)
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: replace context.WithCancel with t.Context (#4026)
  app/eth1wrap/eth1wrap_test.go
  cmd/createcluster_internal_test.go
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

bump libp2p/go-libp2p to v0.44.0
  go.mod
  go.sum
Due: none

downgrade to v0.43.0
  go.mod
  go.sum
Due: none

bump buf to v1.58.0
  go.mod
  go.sum
Due: none

fix bucket delay values
  app/sse/listener.go
Due: run-go-tests, run-regexp, run-testutil

app/sse: fix bucket delay values (#4029)
  app/sse/listener.go
Due: run-go-tests, run-regexp, run-testutil

Add deposit sign
  app/obolapi/deposit.go
  cmd/cmd.go
  cmd/deposit.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

cmd: use WaitGroup.Go to simplify code
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

cmd: use WaitGroup.Go to simplify code (#4033)
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

fix go mod
  go.mod
Due: none

Add deposit fetch
  app/obolapi/deposit.go
  app/obolapi/deposit_model.go
  cmd/cmd.go
  cmd/depositfetch.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

Fix fetch file writes
  cmd/depositfetch.go
Due: run-go-tests, run-regexp, run-testutil

Add deposits to Obol API
  app/obolapi/api.go
  app/obolapi/exit.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  testutil/obolapimock/deposit.go
  testutil/obolapimock/exit.go
  testutil/obolapimock/obolapi.go
Due: run-go-tests, run-regexp, run-testutil

Add tests
  app/obolapi/deposit.go
  cmd/depositfetch.go
  cmd/depositfetch_internal_test.go
  cmd/depositsign_internal_test.go
  testutil/obolapimock/deposit.go
Due: run-go-tests, run-regexp, run-testutil

*: fix some minor issues
  core/dutydb/memory.go
  core/qbft/qbft_internal_test.go
  docs/consensus.md
  docs/contributing.md
Due: run-go-tests, run-regexp, run-testutil

*: fix some minor issues (#4036)
  core/dutydb/memory.go
  core/qbft/qbft_internal_test.go
  docs/consensus.md
  docs/contributing.md
Due: run-go-tests, run-regexp, run-testutil

claude init
  CLAUDE.md
Due: none

*: claude init (#4037)
  CLAUDE.md
Due: none

*: logging revamp
  app/app.go
  app/eth2wrap/synthproposer.go
  app/eth2wrap/version.go
  app/monitoringapi.go
  app/peerinfo/peerinfo.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/relay/relay.go
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
  core/bcast/bcast.go
  core/bcast/recast.go
  core/consensus/qbft/qbft.go
  core/parsigdb/memory.go
  core/parsigex/parsigex.go
  core/scheduler/scheduler.go
  core/sigagg/sigagg.go
  core/signeddata.go
  core/tracker/inclusion.go
  core/tracker/tracker.go
  core/tracking.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  dkg/dkg.go
  main.go
  p2p/bootnode.go
  p2p/p2p.go
  p2p/ping.go
  p2p/receive.go
  p2p/relay.go
  p2p/sender.go
  testutil/compose/alert.go
  testutil/compose/compose/main.go
  testutil/genchangelog/main.go
  testutil/obolapimock/obolapi_exit.go
  testutil/promrated/promrated.go
Due: run-go-tests, run-regexp, run-testutil

*: various optimizations
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/expbackoff/expbackoff.go
  app/forkjoin/forkjoin.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/retry/retry.go
  app/retry/retry_test.go
  cmd/testbeacon.go
  cmd/testpeers.go
  cmd/testvalidator.go
  core/aggsigdb/memory_v2.go
  core/parsigex/memory.go
  core/scheduler/scheduler.go
  p2p/bootnode.go
  p2p/p2p.go
  p2p/relay.go
Due: run-go-tests, run-regexp, run-testutil

Apply suggestions from code review
  app/peerinfo/peerinfo.go
  core/tracking.go
  p2p/ping.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Addressed review feedback
  app/eth2wrap/httpwrap.go
Due: run-go-tests, run-regexp, run-testutil

Addressed review feedback
  app/eth2wrap/synthproposer.go
  core/scheduler/scheduler.go
  p2p/ping.go
Due: run-go-tests, run-regexp, run-testutil

Addressed review feedback
  app/eth2wrap/synthproposer.go
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

Reverted forkjoin change
  app/forkjoin/forkjoin.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
