Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

*: bump golangci-lint v2.6.2 (#4142)
  .github/workflows/golangci-lint.yml
  cmd/testmev.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fixed edit remove-operators
  dkg/pedersen/reshare.go
Due: run-go-tests, run-regexp, run-testutil

More of refactoring
  dkg/pedersen/config.go
  dkg/pedersen/config_test.go
  dkg/pedersen/reshare.go
Due: run-go-tests, run-regexp, run-testutil

More of refactoring
  dkg/pedersen/reshare.go
Due: run-go-tests, run-regexp, run-testutil

Support SSE proxy
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

lint
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

readd removed tests
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

golangci-lint
  core/validatorapi/router_internal_test.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

switch to t.context in test
  core/validatorapi/router_internal_test.go
Due: run-go-tests, run-testutil

core/validatorapi: support proxy of SSE events (#4140)
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
Due: run-go-tests, run-regexp, run-testutil

dkg: fixed edit remove-operators (#4147)
  dkg/pedersen/config.go
  dkg/pedersen/config_test.go
  dkg/pedersen/reshare.go
Due: run-go-tests, run-regexp, run-testutil

*: fix some struct names in comments
  core/validatorapi/router.go
  testutil/validatormock/meta.go
Due: run-go-tests, run-regexp, run-testutil

switch to github actions to use obol user
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

add gpg signing
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

move to env
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

*: new github actions user (#4152)
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

add base64 decode
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

*: add base64 decode to relase scripts (#4158)
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

add check-latest to setup-go
  .github/actions/setup-go/action.yml
Due: none

typo
  .github/actions/setup-go/action.yml
Due: none

*: add check-latest to setup-go (#4159)
  .github/actions/setup-go/action.yml
Due: none

app: bump minor version to v1.8-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

*: added replace-operator command
  cmd/cmd.go
  cmd/edit.go
  cmd/edit_replaceoperator.go
  cmd/edit_replaceoperator_internal_test.go
  dkg/protocol_replaceoperator.go
  dkg/protocol_test.go
Due: run-go-tests, run-regexp, run-testutil

dkg: another attempt to fix testsyncflow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

*: improved tracing
  app/eth2wrap/multi.go
  core/consensus/qbft/qbft.go
  core/fetcher/fetcher.go
  core/scheduler/scheduler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

update gauge values
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

switch values
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

core/fetcher: update blinded gauge metric values (#4170)
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: improved tracing (#4169)
  app/eth2wrap/multi.go
  core/consensus/qbft/qbft.go
  core/fetcher/fetcher.go
  core/scheduler/scheduler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

*: improved tracing (#4169)
  core/consensus/qbft/qbft.go
  core/fetcher/fetcher.go
  core/scheduler/scheduler.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

*: cherry pick for 1.7.3 (#4172)
  core/consensus/qbft/qbft.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  core/scheduler/scheduler.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: cherry pick for 1.8.0 (#4173)
  app/eth2wrap/multi.go
  core/consensus/qbft/qbft.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
  core/scheduler/scheduler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

add PAT to github actions
  .github/workflows/bump-minor-version.yml
  .github/workflows/bump-patch-version.yml
  .github/workflows/prepare-minor-full-release.yml
  .github/workflows/prepare-patch-full-release.yml
  .github/workflows/tag-minor-full-release.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-full-release.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

fix numbering and added summary
  .github/workflows/bump-minor-version.yml
  .github/workflows/tag-minor-release-candidate.yml
  .github/workflows/tag-patch-release-candidate.yml
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
