Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Update docs/consensus.md
  docs/consensus.md
Due: none

docs: contributing discord channel (#3452)
  docs/contributing.md
Due: none

Comment out gnosis fix
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

SubmitAttestation to versioned attestation
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/lazy.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/eth2signeddata.go
  core/eth2signeddata_test.go
  core/parsigdb/memory_internal_test.go
  core/parsigex/parsigex_test.go
  core/proto.go
  core/proto_test.go
  core/serialise_test.go
  core/sigagg/sigagg_test.go
  core/signeddata.go
  core/ssz_test.go
  core/tracker/inclusion.go
  core/tracker/inclusion_internal_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/beaconmock_fuzz.go
  testutil/beaconmock/options.go
  testutil/random.go
  testutil/validatormock/attest.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

fix: chown -R runner:docker 001 folder (#3441)
  testutil/compose/auto.go
Due: run-go-tests, run-regexp, run-testutil

build: allow golangci-lint parallel on .pre-commit (#3455)
  .pre-commit/run_linter.sh
Due: none

app/eth2wrap: fallback beacon nodes (#3342)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/fallback.go
  app/eth2wrap/fallback_internal_test.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bump protobuf to 1.36.2 (#3439)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

app: eth2wrap latency logging (#3417)
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/multi.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: v1/v2 endpoints warning (#3431)
  core/validatorapi/router.go
Due: run-go-tests, run-regexp, run-testutil

app/peerinfo: add nickname field to peerinfo protocol (#3428)
  app/app.go
  app/peerinfo/adhoc_test.go
  app/peerinfo/metrics.go
  app/peerinfo/peerinfo.go
  app/peerinfo/peerinfo_internal_test.go
  app/peerinfo/peerinfo_test.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.proto
  cmd/run.go
  dkg/dkg.go
  docs/configuration.md
  docs/metrics.md
Due: run-go-tests, run-buf, run-regexp, run-testutil

*: bump linter to 1.63.4 (#3444)
  .github/workflows/golangci-lint.yml
  .pre-commit/run_linter.sh
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  core/validatorapi/validatorapi_test.go
  go.mod
  testutil/compose/fuzz/fuzz_test.go
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

add CLI fallback beacon node support in eth2 client configuration
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/eth2wrap/synthproposer_test.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  cmd/run.go
  core/scheduler/scheduler_test.go
  docs/configuration.md
Due: run-go-tests, run-regexp, run-testutil

core/consensus: add new consensus round timer (#3440)
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  core/consensus/utils/roundtimer.go
  core/consensus/utils/roundtimer_test.go
  docs/consensus.md
Due: run-go-tests, run-regexp, run-testutil

*: trigger dispatch for LCDVN and Launchpad
  .github/workflows/release.yml
Due: none

*: trigger dispatch for LCDVN and Launchpad (#3438)
  .github/workflows/release.yml
Due: none

fix formatting
  eth2util/helpers_test.go
Due: run-go-tests, run-testutil

fix protoc-gen-go version
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Capitalized "Ensuring" in DutyDB
  docs/architecture.md
Due: none

docs: improved contributing.md
  docs/contributing.md
Due: none

Added pectra feature flag and 0x02 prefix
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc to fix pre-commit
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  buf.yaml
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

Bump ConfigHash definition_hash value
  cluster/definition.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped protoc to fix pre-commit (#3465)
  app/log/loki/lokipb/v1/loki.pb.go
  app/peerinfo/peerinfopb/v1/peerinfo.pb.go
  app/protonil/testdata/v1/test.pb.go
  buf.yaml
  cluster/manifestpb/v1/manifest.pb.go
  core/corepb/v1/consensus.pb.go
  core/corepb/v1/core.pb.go
  core/corepb/v1/parsigex.pb.go
  core/corepb/v1/priority.pb.go
  dkg/dkgpb/v1/bcast.pb.go
  dkg/dkgpb/v1/frost.pb.go
  dkg/dkgpb/v1/nodesigs.pb.go
  dkg/dkgpb/v1/sync.pb.go
Due: run-go-tests, run-regexp, run-testutil

update configuration
  docs/configuration.md
Due: none

app/eth2wrap: add support for extra headers (#3449)
  app/app.go
  app/eth2wrap/eth2wrap.go
  app/eth2wrap/eth2wrap_test.go
  app/eth2wrap/fallback.go
  app/peerinfo/peerinfo.go
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
  cmd/exit_fetch_internal_test.go
  cmd/exit_list.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
  cmd/run.go
  core/scheduler/scheduler_test.go
  docs/configuration.md
  eth2util/helpers.go
  eth2util/helpers_test.go
Due: run-go-tests, run-regexp, run-testutil

fix race condition on nickname map
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

*: do not label prs to electra
  .github/workflows/label-pr.yml
Due: none

app/peerinfo: fix race condition on storing nicknames (#3467)
  app/peerinfo/peerinfo.go
Due: run-go-tests, run-regexp, run-testutil

*: label prs to electra
  .github/workflows/label-pr.yml
Due: none

docs: improved contributing.md (#3463)
  docs/contributing.md
Due: none

updated upload-artifact to v4
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
Due: none
