Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

Fix flaky test
  app/monitoringapi_internal_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Fix flaky test (#4509)
  app/monitoringapi_internal_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Report which clusters failed in Slack (#4508)
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

test(core): verify no duty loss on full deadlineChan
  core/deadline_test.go
Due: run-go-tests, run-testutil

Add extra metric
  core/consensus/metrics/metrics.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  p2p/sender.go
Due: run-go-tests, run-regexp, run-testutil

Remove aws size selector
  .github/workflows/kurtosis-smoke-test.yml
Due: none

Fire the metric only when qbft Decided is received; add tests
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed linter error
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Update metrics.md
  docs/metrics.md
Due: none

*: remove aws size selector (#4511)
  .github/workflows/kurtosis-smoke-test.yml
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Refactor to have 2 outcomes based on received or not received MsgDecided
  core/consensus/metrics/metrics.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Add a health check
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
Due: run-go-tests, run-regexp, run-testutil

Address suggestions
  core/consensus/metrics/metrics.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix MEV test indeterminism when stars align :)
  cmd/testmev.go
  cmd/testmev_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactor to simplify
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Respect context cancellation
  cmd/testbeacon.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Minor fixes, mainly readability
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: reject locks with mismatched public shares
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

Apply PR suggestions
  app/health/checks.go
  app/health/select.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: reject duplicate validator public shares
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: reject duplicate distributed validator public keys
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: reject identity point BLS shares in lock verification
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: check all shares for identity point before reconstruction
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

cluster: verify all shares lie on the distributed key polynomial
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

cluster: cover extra share polynomial check
  cluster/lock_test.go
Due: run-go-tests, run-testutil

Apply PR suggestions
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cluster: drop redundant identity share guard
  cluster/lock.go
  cluster/lock_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactor
  cluster/lock.go
  tbls/herumi.go
  tbls/tbls.go
  tbls/tbls_test.go
Due: run-go-tests, run-regexp, run-testutil

Improve erroring, add extra guard
  cluster/lock.go
Due: run-go-tests, run-regexp, run-testutil

*: insufficient round change metric (#4512)
  app/health/checks.go
  app/health/checks_internal_test.go
  app/health/select.go
  core/consensus/metrics/metrics.go
  core/consensus/metrics/metrics_test.go
  core/consensus/qbft/qbft.go
  core/consensus/qbft/qbft_internal_test.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: fix test commands racing (#4513)
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testinfra.go
  cmd/testinfra_internal_test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
  cmd/testvalidator_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: fix lock share binding validation (#4514)
  cluster/lock.go
  cluster/lock_test.go
  tbls/herumi.go
  tbls/tbls.go
  tbls/tbls_test.go
Due: run-go-tests, run-regexp, run-testutil

test: add lifecycle environment sanity checks
  app/lifecycle/lifecycle_env_test.go
Due: run-go-tests, run-testutil

test: simplify lifecycle env check to standard Go logging
  app/lifecycle/lifecycle_env_test.go
Due: run-go-tests, run-testutil

scripts: reworked alerts script
  scripts/debug/kurtosis_alerts.py
Due: none

cmd: redact header flag values in config log
  cmd/cmd.go
  cmd/cmd_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

cmd: replace fmt.Sprintf with string concat in exit_fetch
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

cmd: redact header flag values in config log (#4523)
  cmd/cmd.go
  cmd/cmd_internal_test.go
  cmd/exit_fetch.go
Due: run-go-tests, run-regexp, run-testutil

scripts: reworked alerts script (#4521)
  scripts/debug/kurtosis_alerts.py
Due: none
