Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

cmd: hardening threshold parameter checks (#3242)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Bump govulncheck to v1.1.3
  .github/workflows/govulncheck.yml
Due: none

workflows: bump govulncheck to v1.1.3 (#3262)
  .github/workflows/govulncheck.yml
Due: none

Update app/featureset/config.go
  app/featureset/config.go
Due: run-go-tests, run-regexp, run-testutil

*: enable gnosis hotfix automatically (#3257)
  app/app.go
  app/featureset/config.go
  app/featureset/config_test.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  cmd/createcluster.go
  cmd/createdkg.go
  eth2util/network.go
  eth2util/network_test.go
Due: run-go-tests, run-regexp, run-testutil

Send failed test result on runPeerTest channel when timeout
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Fix copy-paste typos
  cmd/testbeacon.go
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

*: fix flaky testpeers test (#3267)
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Increase timeouts
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

cmd: increase testpeers tests timeouts (#3268)
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Add exit all for signing
  app/obolapi/exit.go
  app/obolapi/exit_test.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

*: allow deposits greater than 32eth
  cluster/definition.go
  cluster/deposit.go
  cluster/distvalidator.go
  cluster/lock.go
  cmd/addvalidators.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  dkg/dkg.go
  dkg/dkg_internal_test.go
  dkg/dkg_test.go
  docs/configuration.md
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
  testutil/compose/config.go
Due: run-go-tests, run-regexp, run-testutil

Fix test peers out of range
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

cmd: fix test peers out of range (#3280)
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

fix(dockerfile): optimized dockerfile, removed additional docker layers
  Dockerfile
Due: none

*: disable intrange linter
  .golangci.yml
Due: none

fix(dockerfile): fix pr comments
  Dockerfile
Due: none

*: add --all for exit sign command (#3272)
  app/obolapi/exit.go
  app/obolapi/exit_test.go
  cmd/exit.go
  cmd/exit_sign.go
  cmd/exit_sign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigdb: improve key uniqueness
  core/parsigdb/memory.go
  core/parsigdb/memory_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigdb: review comments
  core/parsigdb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: workaround for Gnosis proposals (#3238)
  app/featureset/featureset.go
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

core/tracker: debug print what node operator pushed when parsigdb is inconsistent
  core/tracker/tracker.go
Due: run-go-tests, run-regexp, run-testutil

testutil: update docker-compose command to docker compose (#3249)
  p2p/bootnode.go
  testutil/compose/README.md
  testutil/compose/alert.go
  testutil/compose/auto.go
  testutil/compose/compose/main.go
  testutil/compose/define.go
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/template.go
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

*: release v1.1.1 (#3287)
  app/app.go
  app/featureset/config.go
  app/featureset/config_test.go
  app/featureset/featureset.go
  app/featureset/featureset_internal_test.go
  cmd/createcluster.go
  cmd/createdkg.go
  cmd/testbeacon.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  core/signeddata.go
  core/signeddata_test.go
  core/validatorapi/validatorapi_test.go
  eth2util/network.go
  eth2util/network_test.go
  go.mod
  go.sum
  p2p/bootnode.go
  testutil/compose/README.md
  testutil/compose/alert.go
  testutil/compose/auto.go
  testutil/compose/compose/main.go
  testutil/compose/define.go
  testutil/compose/docker-compose.template
  testutil/compose/lock.go
  testutil/compose/template.go
  testutil/compose/testdata/TestDockerCompose_define_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_define_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_create_yml.golden
  testutil/compose/testdata/TestDockerCompose_lock_dkg_yml.golden
  testutil/compose/testdata/TestDockerCompose_run_yml.golden
Due: run-go-tests, run-regexp, run-testutil

docs: fix typos (#3236)
  docs/architecture.md
  docs/branching.md
  docs/configuration.md
  docs/contributing.md
  docs/goguidelines.md
Due: none

Broadcast all exits
  cmd/exit.go
  cmd/exit_broadcast.go
  cmd/exit_broadcast_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add flags checks
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Use path join
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Broadcast all exits after verified all signatures
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Remove unnecessary comment
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

core/parsigdb: gate hash tree root keying behind feature flag
  app/featureset/featureset.go
  core/parsigdb/memory.go
Due: run-go-tests, run-regexp, run-testutil

core/tracker: debug print what node operator pushed when parsigdb is inconsistent
  app/featureset/featureset.go
  core/tracker/tracker.go
Due: run-go-tests, run-regexp, run-testutil

Filepath join
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Improve logging
  cmd/exit_broadcast.go
Due: run-go-tests, run-regexp, run-testutil

Fetch all exits
  cmd/exit_fetch.go
  cmd/exit_fetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

core/validatorapi: intermediate commit
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil
