Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Fix perfsprint linter
  app/log/config_internal_test.go
  app/log/loki/client_test.go
  cluster/manifest/load_test.go
  core/consensus/sniffed_internal_test.go
  core/tracing.go
  core/tracker/inclusion.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  eth2util/deposit/deposit.go
  eth2util/eip712/eip712_test.go
  eth2util/keymanager/keymanager.go
  eth2util/keystore/keystore_test.go
  eth2util/rlp/rlp_test.go
  eth2util/signing/signing_test.go
  p2p/gater_test.go
  tbls/herumi.go
  testutil/beaconmock/beaconmock.go
  testutil/genchangelog/main_internal_test.go
  testutil/integration/infosync_test.go
  testutil/verifypr/verify_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix perfsprint linter
  app/eth2wrap/synthproposer_test.go
  app/log/config.go
  cmd/createcluster.go
  cmd/createdkg_internal_test.go
  cmd/relay/relay.go
  core/priority/calculate_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  dkg/dkg.go
  eth2util/keystore/keystore_test.go
  eth2util/rlp/rlp_test.go
  testutil/beaconmock/headproducer.go
  testutil/beaconmock/headproducer_internal_test.go
  testutil/beaconmock/options.go
  testutil/compose/define.go
  testutil/compose/fuzz/fuzz_test.go
  testutil/compose/lock.go
  testutil/compose/smoke/smoke_test.go
  testutil/genchangelog/main.go
  testutil/promrated/rated.go
  testutil/validatormock/propose_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix testifylint linter
  .golangci.yml
  app/eth2wrap/eth2wrap_test.go
  app/featureset/featureset_internal_test.go
  app/health/checks_internal_test.go
  app/lifecycle/manager_test.go
  app/promauto/promauto_test.go
  cmd/addvalidators_internal_test.go
  cmd/createcluster_internal_test.go
  core/aggsigdb/memory_internal_test.go
  core/consensus/strategysim_internal_test.go
  core/deadline_test.go
  core/dutydb/memory_test.go
  core/parsigex/parsigex_test.go
  core/priority/prioritiser_test.go
  core/scheduler/scheduler_test.go
  core/tracker/tracker_internal_test.go
  core/validatorapi/router_internal_test.go
  dkg/exchanger_internal_test.go
  dkg/frostp2p_internal_test.go
  dkg/sync/sync_test.go
  p2p/sender_internal_test.go
  tbls/tbls_test.go
  testutil/integration/nightly_dkg_test.go
  testutil/integration/simnet_test.go
  testutil/promrated/rated_internal_test.go
Due: run-go-tests, run-testutil

Fix spancheck, usestdlibvars and nolintlint linters
  app/errors/go113.go
  app/eth2wrap/httpwrap.go
  app/log/loki/client.go
  app/obolapi/api.go
  app/tracer/trace.go
  cluster/helpers.go
  core/validatorapi/router.go
  eth2util/keymanager/keymanager.go
  p2p/bootnode.go
  testutil/integration/simnet_test.go
  testutil/promrated/rated.go
Due: run-go-tests, run-regexp, run-testutil

Fix warnings from golangci lint yaml
  .golangci.yml
Due: none

Run local linter with charon's linting config
  .pre-commit-config.yaml
  .pre-commit/run_linter.sh
Due: none

Fix simnet test
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

No hard requirement for golangci-lint's version on pre-commit hook
  .pre-commit/run_linter.sh
Due: none

docs: fix typos (#3165)
  docs/architecture.md
  docs/configuration.md
  docs/dkg.md
  docs/goguidelines.md
Due: none

fix spelling architecture.md
  docs/architecture.md
Due: none

rephrase branching.md
  docs/branching.md
Due: none

fix subject verb-agreement contributing.md
  docs/contributing.md
Due: none

fix infinitive tense dkg.md
  docs/dkg.md
Due: none

Pin lighthouse version to latest and remove stdin flag
  testutil/compose/static/lighthouse/Dockerfile
  testutil/compose/static/lighthouse/run.sh
Due: none

Add docker to dependabot
  .github/dependabot.yml
Due: none

*: pin lighthouse version in compose tests (#3188)
  .github/dependabot.yml
  testutil/compose/static/lighthouse/Dockerfile
  testutil/compose/static/lighthouse/run.sh
Due: none

docs: fix spelling issues (#3180)
  docs/architecture.md
  docs/branching.md
  docs/contributing.md
  docs/dkg.md
Due: none

*: update project status (#3166)
  README.md
Due: none

app/stacksnipe: detect validator services (#3169)
  app/app.go
  app/lifecycle/order.go
  app/lifecycle/orderstart_string.go
  app/metrics.go
  app/monitoringapi.go
  app/stacksnipe/stacksnipe.go
  app/stacksnipe/stacksnipe_test.go
  cmd/run.go
  docs/configuration.md
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Fix stacksnipe linting
  app/monitoringapi.go
  app/stacksnipe/stacksnipe_test.go
Due: run-go-tests, run-regexp, run-testutil

app: fix for loop linting (#3194)
  app/monitoringapi.go
  app/stacksnipe/stacksnipe_test.go
Due: run-go-tests, run-regexp, run-testutil

Add test MEV
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testmev.go
Due: run-go-tests, run-regexp, run-testutil

Add test MEV unit tests
  cmd/testmev_internal_test.go
Due: run-go-tests, run-testutil

cmd: mev ping tests (#3176)
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testmev.go
  cmd/testmev_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add relay ping to peers test
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

StartHealthyMockedBeaconNode function to private
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-testutil

cmd: `charon test peers` ping charon relays (#3177)
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add beacon load test
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Refactor log and move function to test.go
  cmd/test.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

cmd: add load test for beacon node (#3182)
  cmd/test.go
  cmd/testbeacon.go
  cmd/testbeacon_internal_test.go
  cmd/testpeers.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

Add disk write test
  cmd/ascii.go
  cmd/cmd.go
  cmd/test.go
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  go.mod
Due: run-go-tests, run-regexp, run-testutil

Fix flaky tests
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Use homedir for write speed test file
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Chown opt/charon to charon
  Dockerfile
Due: none

Add memory tests
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix variable naming in total memory
  cmd/testperformance.go
Due: run-go-tests, run-regexp, run-testutil

Add connection tests
  cmd/testperformance.go
  cmd/testperformance_internal_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

Add trailing whitespaces to MEV ascii
  cmd/ascii.go
  cmd/testpeers.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
