Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/ObolNetwork/go-pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: check-go-version
        args: [ -v=go1.22 ] # Only check minor version locally
        pass_filenames: false
        additional_dependencies: [ packaging ]
      - id: check-licence-header
        types: [ file, go ]
        exclude: ".pb.go"

  - repo: https://github.com/corverroos/fiximports
    rev: 886071dd81a69ab030db85d65803fb2048aa0722
    hooks:
      - id: go-fiximports # format imports for go source files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-beta.5 # cannot use master as it is a mutable reference and is not supported
    hooks:
      - id: go-mod-tidy
        files: go.mod

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.56.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_tests.sh
        types: [ file, go ]
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-testutil
        name: run-testutil
        language: script
        entry: .pre-commit/run_testutil.sh
        types: [ file, go ]

typos consensus.md
  docs/consensus.md
Due: none

typo consensus.md
  docs/consensus.md
Due: none

Add publish endpoint to Obol API
  app/obolapi/test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

add api tests
  app/obolapi/api.go
  app/obolapi/api_test.go
Due: run-go-tests, run-regexp, run-testutil

testutil: update release notes changelog (#3628)
  testutil/genchangelog/main.go
  testutil/genchangelog/template.md
Due: run-go-tests, run-regexp, run-testutil

address PR comments
  app/disk.go
  app/obolapi/api.go
  app/obolapi/api_test.go
  cluster/cluster_internal_test.go
  cluster/cluster_test.go
  cluster/definition.go
  cluster/lock.go
  cluster/lock_test.go
  cluster/test_cluster_test.go
  cmd/combine/combine.go
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/manifest_tools.go
  dkg/disk.go
  dkg/dkg.go
  dkg/dkg_test.go
Due: run-go-tests, run-regexp, run-testutil

address more PR comments
  app/obolapi/api.go
  app/obolapi/publish.go
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

fix lint
  app/obolapi/publish.go
Due: run-go-tests, run-regexp, run-testutil

remove todo
  cmd/createdkg.go
Due: run-go-tests, run-regexp, run-testutil

Add test
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

remove specific api struct
  app/obolapi/publish.go
  cluster/definition.go
  eth2util/eip712/eip712.go
Due: run-go-tests, run-regexp, run-testutil

feat: fix build w explicit ldflags
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

feat: fix build
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

Update build-release-binaries.yml
  .github/workflows/build-release-binaries.yml
Due: none

feat: build ARM64 binary using emulated container
  .github/workflows/build-release-binaries.yml
Due: none

chore: cleanup
  .github/workflows/build-release-binaries.yml
Due: none

feat: remove buildvcs false
  .github/workflows/build-release-binaries.yml
Due: none

feat: build only on tags
  .github/workflows/build-release-binaries.yml
Due: none

feat: only publish tarballs
  .github/workflows/build-release-binaries.yml
Due: none

ci: arm64 releases (#3493)
  .github/actions/setup-go/action.yml
  .github/workflows/build-release-binaries.yml
Due: none

*: new default partial deposits
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

*: new default partial deposits (#3641)
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  dkg/dkg.go
  dkg/dkg_test.go
  eth2util/deposit/deposit.go
  eth2util/deposit/deposit_test.go
Due: run-go-tests, run-regexp, run-testutil

add head as fallback and retry next slot logic
  app/app.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
Due: run-go-tests, run-regexp, run-testutil

*: add test command publish (#3631)
  app/obolapi/test.go
  cmd/test.go
  cmd/testbeacon.go
  cmd/testinfra.go
  cmd/testmev.go
  cmd/testpeers.go
  cmd/testpeers_internal_test.go
  cmd/testvalidator.go
Due: run-go-tests, run-regexp, run-testutil

rename Get method to GetByHead
  app/app.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  app/vmock.go
Due: run-go-tests, run-regexp, run-testutil

add description to temporary logic
  eth2util/eip712/eip712.go
Due: run-go-tests, run-regexp, run-testutil

*: improving spans
  app/retry/retry.go
  core/consensus/qbft/qbft.go
  core/parsigdb/memory.go
  core/sigagg/sigagg.go
  core/tracing.go
Due: run-go-tests, run-regexp, run-testutil

Skipping context errors
  core/tracing.go
Due: run-go-tests, run-regexp, run-testutil

cluster: add support for cluster invitation link (#3583)
  app/obolapi/api.go
  app/obolapi/api_test.go
  app/obolapi/publish.go
  cluster/eip712sigs.go
  cmd/createdkg.go
  eth2util/eip712/eip712.go
Due: run-go-tests, run-regexp, run-testutil

Added qbft span duty attribute
  core/consensus/qbft/qbft.go
Due: run-go-tests, run-regexp, run-testutil

*: improving spans (#3643)
  app/retry/retry.go
  core/consensus/qbft/qbft.go
  core/parsigdb/memory.go
  core/sigagg/sigagg.go
  core/tracing.go
Due: run-go-tests, run-regexp, run-testutil

Fix typo, missed + sign
  app/obolapi/test.go
Due: run-go-tests, run-regexp, run-testutil

*: fix validator cache behavior (#3642)
  app/app.go
  app/eth2wrap/valcache.go
  app/eth2wrap/valcache_test.go
  app/vmock.go
Due: run-go-tests, run-regexp, run-testutil

app: test publish typo (#3644)
  app/obolapi/test.go
Due: run-go-tests, run-regexp, run-testutil

Remove Signer from architecture.md
  docs/architecture.md
Due: none

docs: remove Signer from architecture.md (#3646)
  docs/architecture.md
Due: none

bump app version to 1.5
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

bump app version to v1.4-rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil
