Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

testutil/integration: fix context canceled error check in nightly DKG test
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

testutil/integration: fix nightly test (#4451)
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

Downgrade action-gh-release to v2.5.0
  .github/workflows/build-release-binaries.yml
  .github/workflows/release.yml
Due: none

Downgrade action-gh-release to v2.5.0 (#4452)
  .github/workflows/build-release-binaries.yml
  .github/workflows/release.yml
Due: none

Downgrade action-gh-release to v2.5.0 (#4452) (#4456)
  .github/workflows/build-release-binaries.yml
  .github/workflows/release.yml
Due: none

*: kurtosis report access
  .github/workflows/kurtosis-smoke-test.yml
Due: none

scripts: fixed kurtosis alerts script
  scripts/debug/kurtosis_alerts.py
Due: none

scripts: fixed kurtosis alerts script
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

*: kurtosis report link (#4457)
  .github/workflows/kurtosis-smoke-test.yml
Due: none

scripts: fixed kurtosis alerts script (#4458)
  .github/workflows/kurtosis-smoke-test.yml
  scripts/debug/kurtosis_alerts.py
Due: none

fix: enforce semantic commits in Renovate config
  .github/renovate.json
Due: none

testutil: fixing nightly tests
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

testutil: fixing nightly tests (#4464)
  testutil/integration/nightly_dkg_test.go
Due: run-go-tests, run-testutil

fix: enforce semantic commits in Renovate config (#4463)
  .github/renovate.json
Due: none

Fix warning for mismatching fee recipient to be on blinded block rather than PBS enabled
  core/fetcher/fetcher.go
  core/fetcher/fetcher_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Add metrics and healthchecks
  app/health/checks.go
  app/health/checks_internal_test.go
  core/fetcher/fetcher.go
  core/fetcher/metrics.go
Due: run-go-tests, run-regexp, run-testutil

*: bumped debian base
  .github/workflows/build-release-binaries.yml
  Dockerfile
Due: none

*: bumped debian base (#4475)
  .github/workflows/build-release-binaries.yml
  Dockerfile
Due: none

Fix metrics.md
  docs/metrics.md
Due: none

*: check fee recipient on local (#4474)
  app/health/checks.go
  app/health/checks_internal_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_internal_test.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: bumped debian base (#4475)
  Dockerfile
Due: none

*: v1.10.0 rc3 (#4479)
  Dockerfile
  app/health/checks.go
  app/health/checks_internal_test.go
  core/fetcher/fetcher.go
  core/fetcher/fetcher_internal_test.go
  core/fetcher/metrics.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

*: removed holesky
  README.md
  app/eth2wrap/eth2wrap_test.go
  cluster/examples/cluster-definition-006.json
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/edit_addoperators_internal_test.go
  cmd/edit_addvalidators_internal_test.go
  cmd/edit_removeoperators_internal_test.go
  cmd/edit_replaceoperator_internal_test.go
  cmd/testdata/test_cluster_lock.json
  dkg/protocol_test.go
  eth2util/network.go
  eth2util/network_test.go
  eth2util/registration/registration_test.go
  eth2util/signing/signing_test.go
  testutil/beaconmock/server_test.go
  testutil/beaconmock/static.json
Due: run-go-tests, run-regexp, run-testutil

Fixed integration test
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

*: removed holesky
  README.md
Due: none

*: removed holesky (#4485)
  README.md
  app/eth2wrap/eth2wrap_test.go
  cluster/examples/cluster-definition-006.json
  cmd/createcluster.go
  cmd/createcluster_internal_test.go
  cmd/createdkg.go
  cmd/createdkg_internal_test.go
  cmd/edit_addoperators_internal_test.go
  cmd/edit_addvalidators_internal_test.go
  cmd/edit_removeoperators_internal_test.go
  cmd/edit_replaceoperator_internal_test.go
  cmd/testdata/test_cluster_lock.json
  dkg/protocol_test.go
  eth2util/network.go
  eth2util/network_test.go
  eth2util/registration/registration_test.go
  eth2util/signing/signing_test.go
  testutil/beaconmock/server_test.go
  testutil/beaconmock/static.json
  testutil/integration/simnet_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix mutation of pointer
  app/eth2wrap/cache.go
Due: run-go-tests, run-regexp, run-testutil

Compare contents, not only lengths in the fast path; add more tests
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
Due: run-go-tests, run-regexp, run-testutil

Address PR review comments
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
Due: run-go-tests, run-regexp, run-testutil

Fix linter
  app/eth2wrap/cache_test.go
Due: run-go-tests, run-testutil

app/eth2wrap: fix mutation of pointer (#4486)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
Due: run-go-tests, run-regexp, run-testutil

Version to rc
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix mutation of pointer (#4486) (#4489)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
Due: run-go-tests, run-regexp, run-testutil

app/eth2wrap: fix mutation of pointer (#4488)
  app/eth2wrap/cache.go
  app/eth2wrap/cache_test.go
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app: improved feerecipient behavior
  app/builderregistration.go
  app/builderregistration_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
