Repository ObolNetwork/charon: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-buf, run-regexp, run-testutil

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_tests.sh

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-testutil:
  name: run-testutil
  language: script
  entry: .pre-commit/run_testutil.sh

Add deposit fetch
  app/obolapi/deposit.go
  app/obolapi/deposit_model.go
  cmd/cmd.go
  cmd/depositfetch.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

Fix fetch file writes
  cmd/depositfetch.go
Due: run-go-tests, run-regexp, run-testutil

Add tests
  app/obolapi/deposit.go
  cmd/depositfetch.go
  cmd/depositfetch_internal_test.go
  cmd/depositsign_internal_test.go
  testutil/obolapimock/deposit.go
Due: run-go-tests, run-regexp, run-testutil

Add deposits to Obol API
  app/obolapi/api.go
  app/obolapi/exit.go
  cmd/exit_broadcast.go
  cmd/exit_delete.go
  cmd/exit_fetch.go
  testutil/obolapimock/deposit.go
  testutil/obolapimock/exit.go
  testutil/obolapimock/obolapi.go
Due: run-go-tests, run-regexp, run-testutil

Use same structure as cluster creation
  cmd/depositfetch.go
  cmd/depositfetch_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Minor fixes after review
  app/obolapi/deposit.go
  app/obolapi/deposit_model.go
  cmd/depositfetch_internal_test.go
  cmd/depositsign.go
  cmd/depositsign_internal_test.go
Due: run-go-tests, run-regexp, run-testutil

Update CLI descriptions
  cmd/deposit.go
  cmd/depositfetch.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

Fix non-existing required flag
  cmd/depositfetch.go
Due: run-go-tests, run-regexp, run-testutil

String amount
  app/obolapi/deposit.go
  app/obolapi/deposit_model.go
  testutil/obolapimock/deposit.go
Due: run-go-tests, run-regexp, run-testutil

Check for threshold
  app/obolapi/deposit.go
  cmd/depositfetch.go
Due: run-go-tests, run-regexp, run-testutil

Move validator-public-keys required to subcommands
  cmd/deposit.go
  cmd/depositfetch.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

Test CLI
  cmd/depositfetch_internal_test.go
  cmd/depositsign_internal_test.go
Due: run-go-tests, run-testutil

Add obolapi tests
  app/obolapi/deposit_test.go
  app/obolapi/exit_test.go
  cmd/depositsign.go
Due: run-go-tests, run-regexp, run-testutil

*: replace sort.Slice with slices.Sort for natural ordering
  cmd/testbeacon.go
  core/consensus/qbft/strategysim_internal_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

improved unit tests
  core/parsigdb/memory_internal_test.go
Due: run-go-tests, run-testutil

*: replace sort.Slice with slices.Sort for natural ordering (#4054)
  cmd/testbeacon.go
  core/consensus/qbft/strategysim_internal_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

move proxy to go-eth2-client
  app/app.go
  app/app_internal_test.go
  app/eth2wrap/eth2wrap_gen.go
  app/eth2wrap/genwrap/genwrap.go
  app/eth2wrap/httpwrap.go
  app/eth2wrap/httpwrap_internal_test.go
  app/eth2wrap/lazy.go
  app/eth2wrap/lazy_test.go
  app/eth2wrap/mocks/client.go
  app/eth2wrap/multi.go
  app/eth2wrap/multi_test.go
  core/validatorapi/mocks/handler.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  core/validatorapi/validatorapi.go
  testutil/beaconmock/beaconmock.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Docs: fix typos
  README.md
  docs/configuration.md
  docs/goguidelines.md
Due: none

*: use the built-in max to simplify the code
  eth2util/eth2exp/attagg_old.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

app: skip warn for unknown git hash
  app/peerinfo/peerinfo.go
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

app: skip warn for unknown git hash (#4057)
  app/peerinfo/peerinfo.go
  app/version/version.go
Due: run-go-tests, run-regexp, run-testutil

cmd: enabling testpeers back
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

*: builder reg redesign
  app/app.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
Due: run-go-tests, run-regexp, run-testutil

Fixed existing tests
  core/scheduler/scheduler_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Added TestSubmitValidatorRegistrations
  core/scheduler/scheduler_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

Refined bcast component
  app/app.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/bcast/metrics.go
  core/bcast/recast.go
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

cmd: enabling testpeers back (#4058)
  cmd/testpeers_internal_test.go
Due: run-go-tests, run-testutil

Fixed integration test
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

Fixed integration test
  testutil/integration/simnet_test.go
Due: run-go-tests, run-testutil

New metrics and docs update
  app/health/checks.go
  app/health/checks_internal_test.go
  core/scheduler/metrics.go
  core/scheduler/scheduler.go
  docs/architecture.md
  docs/metrics.md
Due: run-go-tests, run-regexp, run-testutil

Added logging
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

Better scheduling
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/validatorapi/validatorapi.go
Due: run-go-tests, run-regexp, run-testutil

Fixed CoPilot findings
  app/health/checks_internal_test.go
  core/scheduler/scheduler.go
Due: run-go-tests, run-regexp, run-testutil

simplify router and update go-eth2-client tag
  core/validatorapi/router.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-testutil

*: builder reg redesign (#4060)
  app/app.go
  app/health/checks.go
  app/health/checks_internal_test.go
  core/bcast/bcast.go
  core/bcast/bcast_test.go
  core/bcast/metrics.go
  core/bcast/recast.go
  core/scheduler/metrics.go
  core/scheduler/scheduler.go
  core/scheduler/scheduler_test.go
  core/validatorapi/eth2types.go
  core/validatorapi/router.go
  core/validatorapi/validatorapi.go
  core/validatorapi/validatorapi_test.go
  docs/architecture.md
  docs/metrics.md
  testutil/beaconmock/options.go
  testutil/integration/simnet_test.go
  testutil/validatormock/component.go
Due: run-go-tests, run-regexp, run-testutil

fix linting issues
  app/app.go
  app/app_internal_test.go
  core/validatorapi/router.go
  core/validatorapi/router_internal_test.go
  testutil/beaconmock/options.go
Due: run-go-tests, run-regexp, run-testutil

app: fixed eth1wrap flakey test
  app/eth1wrap/eth1wrap_internal_test.go
Due: run-go-tests, run-testutil

app: fixed eth1wrap flakey test
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

dkg: fixed flakey testsyncflow
  dkg/dkg_test.go
Due: run-go-tests, run-testutil

app: fixed eth1wrap flakey test (#4062)
  app/eth1wrap/eth1wrap_internal_test.go
  app/eth1wrap/eth1wrap_test.go
Due: run-go-tests, run-testutil

Path conditions:
  run-go-tests: any of: \.go$
  run-buf: any of: \.proto$
  run-regexp: any of: \.go$, but not: _test.go
  run-testutil: any of: \.go$
